<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input :placeholder="$t('item.search')" v-model="filter.search" style="width: 300px; margin-right: 10px" class="filter-item" clearable />
      <el-button class="filter-item" type="danger" @click="filter.search = ''">{{$t('bodyCheck.clearButton')}}</el-button>
      <el-button class="filter-item" type="success" icon="el-icon-plus" @click="showCreateModal"/>
      
    </div>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />
    <el-table :data="tableData" style="width: 100%" border  >
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('item.code')" prop="itemCode" sortable="custom"/>
      <el-table-column :label="$t('item.itemChinDesc')" prop="cnItem" sortable="custom"/>
      <el-table-column :label="$t('item.itemEngDesc')" prop="enItem" sortable="custom"/>
      <el-table-column :label="$t('item.topicCode')" prop="topicCode" sortable="custom"/>
      <el-table-column :label="$t('item.itemRemarks')" prop="itemRemarks" sortable="custom"/>
      <el-table-column :label="$t('item.itemPrice')"  sortable="custom">
        <template slot-scope="scope">
          {{scope.row.itemPrice | currency('HK$')}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="showEditItemModal(scope.row.itemID)">{{ $t('general.edit') }}</el-dropdown-item>
              <el-dropdown-item @click.native="deleteItem(scope.row.itemID,scope.row.cnItem)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleClose" :visible.sync="modal.create" width="50%">
      <span slot="title" class="dialog-title">
        <span v-if="chosenID==undefined">{{$t('item.createItem')}}</span>
        <span v-else>{{$t('item.editItem')}}</span>
      </span>

      <!-- staff row -->
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="4" >
          <label>{{$t('item.topicCode')}}</label>
        </el-col>
        <el-col :span="14" >
          <FITSelectElement  v-model="chosenTopicCode" :options="topicList"></FITSelectElement>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="4" >
          <label>{{$t('item.code')}}</label>
        </el-col>
        <el-col :span="14" >
          <el-input  v-model="item.itemCode"></el-input>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="4" >
          <label>{{$t('item.itemEngDesc')}}</label>
        </el-col>
        <el-col :span="14" >
          <el-input type="textarea" v-model="item.enItem"></el-input>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="4" >
          <label>{{$t('item.itemChinDesc')}}</label>
        </el-col>
        <el-col :span="14" >
          <el-input type="textarea" v-model="item.cnItem"></el-input>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="4" >
          <label>{{$t('item.itemPrice')}}</label>
        </el-col>
        <el-col :span="14" >
          <el-input v-model="item.itemPrice"></el-input>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="4" >
          <label>{{$t('item.itemRemarks')}}</label>
        </el-col>
        <el-col :span="14" >
          <el-input type="textarea" v-model="item.itemRemarks"></el-input>
        </el-col>
      </el-row>

      <el-row :span="20" style="margin-left:2rem;margin-bottom:1rem;">
        <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">Check all</el-checkbox>
        <div style="margin: 15px 0;"></div>
        <el-checkbox-group v-model="item.branchCode" @change="handleCheckedBranchesChange">
          <el-checkbox v-for="city in branchOptions" :label="city" :key="city">{{city}}</el-checkbox>
        </el-checkbox-group>
      </el-row>
      
      <div>
        <el-button @click="modal.create = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="info" @click="saveForLater"> {{ $t('item.saveForLater') }} </el-button>
        <el-button type="primary" @click="createItem" v-if="chosenID==undefined"> {{ $t('item.createItem') }} </el-button>
        <el-button type="primary" @click="createItem" v-else> {{ $t('item.editItem') }} </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import Vue from 'vue'
import Vue2Filters from 'vue2-filters'
import Pagination from '@/components/Pagination'
import FITSelectElement from '@/components/FITSelectElement.vue'
import _ from 'lodash'
Vue.use(Vue2Filters)

export default {
  name: 'Item',
  components: {
    Pagination,
    FITSelectElement
  },
  filters: {
  
  },
  data() {
    return {
      busy:false,
      tableData: [],
      selectedData: [],
      searchQuery: '',
      params: {
        count: 10,
        page: 1,
        search: '',
        orderBy: 'itemID',
        direction: 'DESC'
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      modal: {
        create: false,
        edit: false,
        detail: false,
        delete:false,
      },
      item:{
        itemCode:"",
        enItem:"",
        cnItem:"",
        itemPrice:"",
        itemRemarks:"",
        topicCode:"",
        branchCode:[],
      },
      chosenTopicCode:"",
      filter:{
        search:""
      },
      rules:{},
      topicList:[],
      branchOptions:[],
      branchList:['NP','AB','MK','TW'],
      isIndeterminate:true,
      checkAll:false,
      chosenID:undefined
    }
  },
  computed: {

  },
  watch: {
    filter: {
      handler(newValue, oldValue) {
        if(!this.busy){
          Vue.set(this,'busy', true)
        setTimeout(() => {
          Vue.set(this,'busy',false)
          Vue.set(this.params,'page',1)
          this.refresh();
        }, 500);
      }
      },
      deep: true
    },
    searchQuery: {
      handler(newValue, oldValue) {
        if (newValue === '' && oldValue !== '') {
          this.params.search = ''
          this.refresh()
        }
      }
    },
    params:{
      handler(newValue, oldValue) {
        this.refresh()
      },
      deep: true
    },
    chosenTopicCode(val){
      if(val!="" && val != undefined){
      this.$store.dispatch('getItemCode',{topicCode:val}).then((json) => {
        if(this.chosenID){
          this.$confirm(`The newest itemCode for this topic is ${json.itemCode}`, 'Change the itemCode', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'info'
        }).then(() => {
          this.item.itemCode = json.itemCode;
        }).catch(() => {

        })
        }
        else
        this.item.itemCode = json.itemCode;
      })
    }
  }
  },
  created() {
    this.refresh()
    this.getTopics();
    this.getBranchList();
    this.debounceInput = _.debounce((value) => {
      this.params.search = value
    }, 500)
  },
  mounted() {
  },
  methods: {
    refresh() {
      this.getItemList()
    },
    // new 1
    getItemList() {
      let param = this.params;
      if(this.filter.search !== ''){
        param.search = this.filter.search
      }
      else{
        param.search = null;
      }
      this.$store.dispatch('getItemList', param).then((json) => {
        this.tableData = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    getTopics(){
      this.$store.dispatch('getTopics', {page:1,count:100}).then((json) => {
        var dummyArray = [];
        for(var i=0;i<json.list.length;i++){
          var dummyObject = {};
          dummyObject.label=json.list[i].topicCode+'-'+json.list[i].enTopic+'-'+json.list[i].cnTopic;
          dummyObject.value = json.list[i].topicCode;
          dummyArray.push(dummyObject)
        }
        this.topicList = dummyArray
      })
    },
    getBranchList(){
      let dummyArray = [];
      this.$store.dispatch('getBranchList', {page:1,count:1000}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              dummyArray.push(json.list[i].branchCode)
            }
            this.branchOptions = dummyArray;
          })
    },
    showCreateModal() {
      if(localStorage.item){
        this.item = JSON.parse(localStorage.item);
        this.chosenTopicCode = localStorage.topicCode
      }
      else
      this.item = {
        itemCode:"",
        enItem:"",
        cnItem:"",
        itemPrice:"",
        itemRemarks:"",
        topicCode:"",
        branchCode:[],
      };
      this.chosenID = undefined;
      this.modal.create = true
    },
    showEditItemModal(itemID) {
      this.chosenID = itemID
      this.modal.create = true
      this.$store.dispatch("getItemDetail",{itemID:this.chosenID}).then((json) => {
        this.item = json;
        this.chosenTopicCode = json.topicCode;
      })
    },
    search(query) {
      this.params.search = query
    },
    createItem() {
      console.log(this.item)
      if(this.chosenID!= undefined){
        this.$store.dispatch('editItem', {...this.item,topicCode:this.chosenTopicCode}).then((json) => {
        this.item = {} // reset item
        this.refresh()
        this.$message({ message: this.$t('success.general'), type: 'success' });
        this.chosenID = undefined;
        this.chosenTopicCode = "";
        localStorage.removeItem('item')
        localStorage.removeItem('topicCode')
      })
      }
      else{
        this.$store.dispatch('createItem', {...this.item,topicCode:this.chosenTopicCode}).then((json) => {
        this.item = {} // reset item
        this.refresh()
        this.$message({ message: this.$t('success.general'), type: 'success' })
        localStorage.removeItem('item')
        localStorage.removeItem('topicCode')
      })
      }
      this.chosenID = ""
      this.chosenTopicCode = "";
      this.modal.create = false;
    },
    deleteItem(itemID,name) {
      this.$confirm(`確應删除(${name})？`).then(() => {
        this.$store.dispatch('deleteItem', { itemID:itemID }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.refresh()
          this.chosenID = undefined;
        })
      })
    },
    handleSortChange({ column, prop, order }) {
      if (column === null) {
        this.params.orderBy = 'itemID'
        this.params.direction = 'DESC'
      } else {
        this.params.orderBy = prop
        this.params.direction = order === 'ascending' ? 'ASC' : 'DESC'
      }
    },
    handleSelectionChange(vals) {
      // Get all IDs
      this.selectedData = vals.map((row) => row.itemID)
    },
    handleSelect() {
      this.params.search = this.searchQuery
    },
    handleCheckAllChange(val) {
        this.item.branchCode = val ? this.branchOptions : [];
        this.isIndeterminate = false;
    },
    handleCheckedBranchesChange(value) {
        let checkedCount = value.length;
        this.checkAll = checkedCount === this.branchOptions.length;
        this.isIndeterminate = checkedCount > 0 && checkedCount < this.branchOptions.length;
    },
    handleClose(done){
      done();
    },
    saveForLater(){
      localStorage.item = JSON.stringify(this.item);
      localStorage.topicCode = this.chosenTopicCode
      this.$notify({
        title:"Save Entry Successfully",
        message:"The data entry is saved",
        type:"success"
      })
    }
  }
}
</script>

<style scoped>

</style>
