<template>
  <div class="app-container">
    <div class="filter-container">
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="12">
          <FITSelectElement v-model="filter.planType" :options="planTypeOptions" :label="$t('plan.planType')" :width="20" />
        </el-col>
        <el-col :span="12">
          <el-button class="filter-item" type="danger" @click="filter.search = ''">{{$t('bodyCheck.clearButton')}}</el-button>
          <el-button class="filter-item" type="success" icon="el-icon-plus" @click="showCreateModal"/>
        </el-col>

      </el-row>
    </div>
    <div class="filter-container" v-if="filter.planType == 'ALL'">
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="12">
          <FITSelectElement v-model="filter.customer" :options="customerOptions" :label="$t('plan.searchType')" :width="20" />
        </el-col>
      </el-row>
    </div>
    <div class="filter-container" v-if="filter.planType != 'ALL'">
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="12">
          <FITSelectElement v-model="filter.searchType" :options="searchTypeOptions2" :label="$t('plan.searchType')" :width="18" />
        </el-col>
        <el-col :span="12">
          <el-input :placeholder="$t('plan.search')" v-model="filter.search" style="width: 300px; margin-right: 10px" class="filter-item" clearable />
        </el-col>
      </el-row>
    </div>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="filter.page" :limit.sync="filter.count" />
    <el-table :data="tableData" style="width: 100%" border  >
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('plan.planID')" prop="planCode" sortable="custom"/>
      <el-table-column :label="$t('plan.planChinDesc')" prop="cnPlan" sortable="custom"/>
      <el-table-column :label="$t('plan.planEngDesc')" prop="enPlan" sortable="custom"/>
      <el-table-column :label="$t('plan.accNo')" >
        <template slot-scope="scope">
          {{getAccountNo(scope.row.accountNo)}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('plan.listPrice')" prop="listPrice" sortable="custom">
        <template slot-scope="scope">
          {{scope.row.listPrice | currency('HK$')}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('plan.planPrice')" prop="planPrice" sortable="custom">
        <template slot-scope="scope">
          {{scope.row.planPrice | currency('HK$')}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('plan.specialPrice')" prop="planSpecialPrice" sortable="custom">
        <template slot-scope="scope">
          {{scope.row.planSpecialPrice | currency('HK$')}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('plan.discountPrice')" prop="planSpecialPrice" sortable="custom" v-if="filter.customer != null && filter.customer!=''">
        <template slot-scope="scope">
          {{scope.row.planSpecialPrice | currency('HK$')}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('plan.planEngDesc')" prop="enPlan" sortable="custom"/>
      <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="showEditPlanModal(scope.row.planID)">{{ $t('general.edit') }}</el-dropdown-item>
              <el-dropdown-item @click.native="deletePlan(scope.row.planID,scope.row.cnPlan)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="filter.page" :limit.sync="filter.count" />

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleClose" :visible.sync="modal.create" :title="$t('plan.createPlan')" width="60%">

    <el-row type="flex" align="middle" :gutter="20">
      <el-col :span="6" >
        <label>{{$t('plan.code')}}</label>
      </el-col>
      <el-col :span="18" >
        <el-input  v-model="plan.planCode"></el-input>
      </el-col>
    </el-row>

    <el-row type="flex" align="middle" :gutter="20">
      <el-col :span="6" >
        <label>{{$t('plan.item')}}</label>
      </el-col>
      <el-col :span="18" >
        <el-select
          v-model="itemSelected"
          multiple
          filterable
          remote
          reserve-keyword
          placeholder="Please enter a keyword"
          :remote-method="remoteMethod"
          :loading="loading"
          >
          <el-option
            v-for="item in itemOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-col>
    </el-row>

    <el-row type="flex" align="middle" :gutter="20">
      <el-col :span="12">
        <el-col :span="6" >
          <label>{{$t('plan.planChinDesc')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="plan.cnPlan" type="textarea" :rows="3"></el-input>
        </el-col>
      </el-col>
      <el-col :span="12">
        <el-col :span="6" >
          <label>{{$t('plan.planEngDesc')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="plan.enPlan" type="textarea" :rows="3"></el-input>
        </el-col>
      </el-col>
      </el-row>

      <el-row type="flex" align="middle" :gutter="20">
      <el-col :span="12">
        <el-col :span="6" >
          <label>{{$t('plan.listPrice')}}</label>
        </el-col>
        <el-col :span="18" >
          {{listPrice | currency("HK$")}}
        </el-col>
      </el-col>
      <el-col :span="12">
        <el-col :span="6" >
          <label>{{$t('plan.planPrice')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="plan.planPrice"></el-input>
        </el-col>
      </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
      <el-col :span="12">
        <el-col :span="6" >
          <label>{{$t('plan.planSpecialPrice')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="plan.planSpecialPrice"></el-input>
        </el-col>
      </el-col>
      </el-row>

      <el-row :span="20" style="margin-left:2rem;margin-bottom:1rem;">
      <el-checkbox v-model="checked" true-label="Y" false-label="N">Is the plan customer-based?</el-checkbox>
      </el-row>

      <el-row :gutter="20" v-if="checked == 'Y'">
        <el-col :span="6" >
          <label>{{$t('plan.customer')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-select
            v-model="customerSelected"
            multiple
            filterable
            remote
            reserve-keyword
            placeholder="Please enter a keyword"
            :remote-method="remoteMethod1"
            :loading="loading1">
            <el-option
              v-for="item in customerOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-col>
      </el-row>

      <el-row :span="20" style="margin-left:2rem;margin-bottom:1rem;">
        <el-checkbox :indeterminate="isIndeterminate" v-model="checkAll" @change="handleCheckAllChange">Check all</el-checkbox>
        <div style="margin: 15px 0;"></div>
        <el-checkbox-group v-model="plan.branchCode" @change="handleCheckedBranchesChange">
          <el-checkbox v-for="city in branchOptions" :label="city" :key="city">{{city}}</el-checkbox>
        </el-checkbox-group>
      </el-row>

      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.create = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="info" @click="saveForLater" > {{ $t('plan.saveForLater') }} </el-button>
        <el-button type="primary" @click="createPlan" v-if="chosenID == undefined "> {{ $t('plan.createPlan') }} </el-button>
        <el-button type="primary" @click="createPlan" v-else> {{ $t('plan.editPlan') }} </el-button>
      </span>
      
    </el-dialog>
  </div>
</template>

<script>
import Vue from 'vue'
import Vue2Filters from 'vue2-filters'
import Pagination from '@/components/Pagination'
import FITSelectElement from '@/components/FITSelectElement.vue'
import _ from 'lodash'

Vue.use(Vue2Filters)
export default {
  name: 'Plan',
  components: {
    Pagination,
    FITSelectElement
  },
  filters: {
  
  },
  data() {
    return {
      busy:false,
      tableData: [],
      selectedData: [],
      itemOptions:[],
      allItemOptions:[],
      plan: {},
      loading:false,
      loading1:false,
      checked:'N',
      params: {
        count: 10,
        page: 1,
        search: '',
        orderBy: 'planID',
        direction: 'DESC'
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      modal: {
        create: false,
        edit: false,
        detail: false,
        delete:false,
      },
      plan:{
        planCode:"",
        cnPlan:"",
        enPlan:"",
        accountNo:"",
        planPrice:"",
        planSpecialPrice:"",
      },
      filter:{
        search:"",
        searchType:null,
        planType:"sp",
        customer:null,
        page:1,
        count:10,
      },
      rules:{},
      topicList:[],
      customerOptions:[],
      branchList:['NP','AB','MK','TW'],
      isIndeterminate:true,
      checkAll:false,
      branchOptions:[
        {label:"All",value:"All"}
      ],
      itemSelected:[],
      customerSelected:[],
      chosenID:undefined,
      searchTypeOptions1:[
        {label:this.$t('plan.customerID'),value:"customerID"},
        {label:this.$t('plan.accountNo'),value:"accountNo"},
      ],
      searchTypeOptions2:[
        {label:this.$t('plan.planID'),value:"planCode"},
        {label:this.$t('plan.planChinDesc'),value:"cnPlan"},
        {label:this.$t('plan.planEngDesc'),value:"enPlan"},
        {label:this.$t('plan.listPrice'),value:"listPrice"},
        {label:this.$t('plan.planPrice'),value:"planPrice"},
        {label:this.$t('plan.planSpecialPrice'),value:"planSpecialPrice"},
      ],
      planTypeOptions:[
        {label:this.$t('plan.systemPlan'),value:"sp"},
        {label:this.$t('plan.customerPlan'),value:"cp"},
      ]
    }
  },
  computed: {
    listPrice(){
      let dummyPrice = 0;
      for(var i=0;i<this.itemSelected.length;i++){
        var dummyArray = this.itemSelected[i].split('-');
        dummyPrice = dummyPrice + parseInt(dummyArray[2]);
      }
      return dummyPrice
    }
  },
  watch: {
    filter: {
      handler(newValue, oldValue) {
        if(!this.busy){
          Vue.set(this,'busy', true)
        setTimeout(() => {
          Vue.set(this,'busy',false)
          Vue.set(this.params,'page',1)
          this.refresh();
        }, 500);
      }
      },
      deep: true
    },
  },
  created() {
    this.refresh()
    this.getCustomerList();
      this.getItemList();
      this.getBranchList();
  },
  mounted() {
  },
  methods: {
    refresh() {
      this.getPlanList()
    },

    // new 1
    getPlanList() {
      let param = this.params;
      param.searchType = this.filter.searchType;
      param.page = this.filter.page
      param.count = this.filter.count
      if(this.filter.planType == 'sp'){
        param.customerBased = 'N'
      }
      else if(this.filter.planType == 'cp'){
        param.customerBased = 'Y'
      }
      else
      param.customerBased = null

      if(this.filter.search !== ''){
        param.search = this.filter.search
      }
      else{
        param.search = null
      }
      if(this.filter.customer!= null && this.filter.customer!="")
      {
        if(this.filter.planType == 'ALL'){
          let dummyVar = this.filter.customer.split('-');
          param.searchType = "customerID";
          param.search = dummyVar[0];
        }
        
      }
      this.$store.dispatch('getPlanList', param).then((json) => {
        this.tableData = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    getItemList() {
      let dummyArray = [];
      this.$store.dispatch('getItemList', {page:1,count:200}).then((json) => {
        for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
              dummyObject.label=json.list[i].itemCode+'-'+json.list[i].enItem+'-'+json.list[i].cnItem+'-$'+json.list[i].itemPrice;
              dummyObject.value = json.list[i].itemCode+'-'+json.list[i].itemID+'-'+json.list[i].itemPrice;
              dummyArray.push(dummyObject)
            }
            if(json.total>200){
              let loopTimes = parseInt(json.total/200);
              for(var j=0;j<loopTimes;j++){
                this.$store.dispatch('getItemList', {page:j+2,count:200}).then((json1) => {
                  for(var k=0;k<json1.list.length;k++){
                    let dummyObject1 = {};
                    dummyObject1.label=json1.list[k].itemCode+'-'+json1.list[k].enItem+'-'+json1.list[k].cnItem+'-$'+json1.list[k].itemPrice;
                    dummyObject1.value = json1.list[k].itemCode+'-'+json1.list[k].itemID+'-'+json1.list[k].itemPrice;
                    dummyArray.push(dummyObject1)
                  }
                })
              }
            }
            this.itemOptions = dummyArray
            this.allItemOptions = dummyArray
            console.log(this.itemOptions)
      })
    },
    getCustomerList(){
      let dummyArray = []
      this.$store.dispatch('getCustomerList',{page:1,count:200,customerType:['Corporate','Agent'],orderBy:"accountNo"}).then((json) => {
        for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
              dummyObject.label=json.list[i].accountNo+'-'+json.list[i].enCustomerName+'-'+json.list[i].cnCustomerName;
              dummyObject.value = json.list[i].customerID+'-'+json.list[i].accountNo;
              dummyArray.push(dummyObject)
            }
            if(json.total>200){
              let loopTimes = parseInt(json.total/200);
              for(var j=0;j<loopTimes;j++){
                this.$store.dispatch('getCustomerList', {page:j+2,count:200,customerType:['Corporate','Agent'],orderBy:"accountNo"}).then((json1) => {
                  for(var k=0;k<json1.list.length;k++){
                    let dummyObject2 = {};
                    dummyObject2.label = json1.list[k].accountNo+'-'+json1.list[k].enCustomerName +'-'+json1.list[k].cnCustomerName;
                    dummyObject2.value = json1.list[k].customerID+'-'+json1.list[k].accountNo;
                    dummyArray.push(dummyObject2)
                  }
                })
              }
            }
        this.customerOptions = dummyArray;
      })
    },
    getBranchList(){
      let dummyArray = [];
      this.$store.dispatch('getBranchList', {page:1,count:1000}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              dummyArray.push(json.list[i].branchCode)
            }
            this.branchOptions = dummyArray;
          })
    },
    getPlanDetail() {
      this.$store.dispatch('getPlanDetail', {planID:this.chosenID}).then((json) => {
        this.plan = json;
        let dummyArray = [];
        for(var i=0;i<json.itemCode.length;i++){
          let dummyString = '';
          dummyString = dummyString + json.itemCode[i] +'-'+ json.itemID[i] +'-'+ json.itemPrice[i];
          dummyArray.push(dummyString)
        }
        this.itemSelected = dummyArray;
      })
    },
    getAccountNo(account){
      let dummyString = "";
      console.log(account)
      if(account == null)
      return 'N/A'
      else{
        if(account.length == 0){
          return 'N/A'
        }
        else{
          for(var i=0;i<account.length;i++){
        if(i==0){
          dummyString = dummyString + account[i]
        }
        else{
          dummyString = dummyString + ',' + account[i]
        }
      }
        }
      return dummyString
      }
      
      
    },
    showCreateModal() {
      if(localStorage.plan){
        this.plan = JSON.parse(localStorage.plan);
      }
      else
      this.plan = {
        planCode:"",
        cnPlan:"",
        enPlan:"",
        accountNo:"",
        planPrice:"",
        planSpecialPrice:"",
      };
      if(localStorage.itemSelected){
        this.itemSelected = JSON.parse(localStorage.itemSelected)
      }
      else
      this.itemSelected = [];
      this.chosenID = undefined;
      this.modal.create = true
    },
    showEditPlanModal(planID) {
      this.chosenID = planID
      this.modal.create = true;
      this.getPlanDetail();
    },
    createPlan() {
      let dummy = 1;
      console.log(this.itemSelected)
      if(this.checked == 'Y'){
        if(this.customerSelected.length== 0){
          dummy = 0;
          this.$notify.error({
          title: '新增失敗',
          message: 'Customer Field cannot be empty.'
          });
        }
      }
      if(this.itemSelected.length == 0){
        dummy = 0;
        this.$notify.error({
          title: '新增失敗',
          message: 'Item Field cannot be empty.',
          offset:100
        });
      }
      if(this.plan.planPrice == ""){
        dummy = 0;
        this.$notify.error({
          title: '新增失敗',
          message: 'Plan Price cannot be empty.',
          offset:100
        });
      }
      else{
        if(this.plan.planSpecialPrice == ''){
          console.log(parseInt(this.plan.planPrice) > this.listPrice)
          if(parseInt(this.plan.planPrice) > this.listPrice){
            dummy = 0;
            this.$notify.error({
              title: '新增失敗',
              message: 'Plan Price cannot be larger than the summation of the itemPrice',
              offset:100
            });
          }
          else{
            this.planSpecialPrice = this.plan.planPrice
          }
        }
        else{
          if(parseInt(this.plan.planSpecialPrice) > this.listPrice){
            dummy = 0;
            this.$notify.error({
              title: '新增失敗',
              message: 'Plan Special Price cannot be larger than the summation of the itemPrice',
              offset:100
            });
          }
        }
      }
      if(dummy == 1){
        var dummyArray1 = [];
      var dummyArray2 = [];
      var dummyArray3 = [];
      var dummyArray4 = [];
      var dummyArray5 = [];
      for(var i=0;i<this.itemSelected.length;i++){
        var dummyArray = this.itemSelected[i].split('-')
        dummyArray1.push(dummyArray[0])
        dummyArray2.push(dummyArray[1])
        dummyArray5.push(dummyArray[2])
      }
      for(var i=0;i<this.customerSelected.length;i++){
        var dummyArray = this.customerSelected[i].split('-')
        dummyArray3.push(dummyArray[0])
        dummyArray4.push(dummyArray[1])
      }
      this.plan.itemID = dummyArray2
      this.plan.itemCode = dummyArray1
      this.plan.customerID = dummyArray3
      this.plan.accountNo = dummyArray4
      this.plan.itemPrice = dummyArray5
      console.log(this.plan)
      if(!this.plan.planSpecialPrice){
        this.plan.planSpecialPrice = this.plan.planPrice;
      }
      if(this.chosenID){
        this.$store.dispatch('editPlan', {planID:this.chosenID,customerBased:this.checked,...this.plan,listPrice:this.listPrice}).then((json) => {
        this.plan = {} // reset plan
        this.chosenID = undefined;
        this.itemSelected = [];
        this.checked = 'N';
        this.modal.create = false
        this.refresh()
        this.$message({ message: this.$t('success.general'), type: 'success' })
        localStorage.removeItem('plan')
      }).catch((err) => {
        console.log(err)
      })
      }
      else{
        this.$store.dispatch('createPlan', {customerBased:this.checked,...this.plan,listPrice:this.listPrice}).then((json) => {
        this.plan = {} // reset plan
        this.itemSelected = [];
        this.checked = 'N'
        this.modal.create = false
        this.refresh()
        this.$message({ message: this.$t('success.general'), type: 'success' })
        localStorage.removeItem('plan')
      }).catch((err) => {
        console.log(err)
      })
      }
      }
      
    },
    deletePlan(planID,name) {
      this.$confirm(`確認刪除(${name})？`).then(() => {
        this.$store.dispatch('deletePlan', { planID }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.refresh()
        })
      })
    },
    handleSelectionChange(vals) {
      // Get all IDs
      this.selectedData = vals.map((row) => row.planID)
    },

    remoteMethod(query) {
      let dummyArray = [];
          this.loading = true;
          setTimeout(() => {
            this.loading = false;
            if(query == ''){
              this.itemOptions = this.allItemOptions;
            }
            else{
              this.$store.dispatch('getItemList', {search:query,page:1,count:100}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
              dummyObject.label=json.list[i].itemCode+'-'+json.list[i].enItem+'-'+json.list[i].cnItem;
              dummyObject.value = json.list[i].itemCode+'-'+json.list[i].itemID+'-'+json.list[i].itemPrice;
              dummyArray.push(dummyObject)
            }
            this.itemOptions = dummyArray;
          })
            }
          }, 500);
      },
    remoteMethod1(query) {
      let dummyArray = [];
          this.loading1 = true;
          setTimeout(() => {
            this.loading1 = false;
            this.$store.dispatch('getCustomerList', {page:1,count:200,customerType:"Corporate",search:query,orderBy:"accountNo"}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
              dummyObject.label=json.list[i].accountNo+'-'+json.list[i].enCustomerName+'-'+json.list[i].cnCustomerName;
              dummyObject.value = json.list[i].customerID+'-'+json.list[i].accountNo;
              dummyArray.push(dummyObject)
            }
            if(json.total>200){
              let loopTimes = parseInt(json.total/200);
              for(var j=0;j<loopTimes;j++){
                this.$store.dispatch('getCustomerList', {page:j+2,count:200,customerType:"Corporate",orderBy:"accountNo"}).then((json1) => {
                  for(var k=0;k<json1.list.length;k++){
                    let dummyObject2 = {};
                    dummyObject2.label = json1.list[k].accountNo+'-'+json1.list[k].enCustomerName +'-'+json1.list[k].cnCustomerName;
                    dummyObject2.value = json1.list[k].customerID+'-'+json1.list[k].accountNo;
                    dummyArray.push(dummyObject2)
                  }
                })
              }
            }
            this.customerOptions = dummyArray;
          })
          }, 500);
      },
    handleCheckAllChange(val) {
        this.plan.branchCode = val ? this.branchOptions : [];
        this.isIndeterminate = false;
    },
    handleCheckedBranchesChange(value) {
        let checkedCount = value.length;
        this.checkAll = checkedCount === this.branchOptions.length;
        this.isIndeterminate = checkedCount > 0 && checkedCount < this.branchOptions.length;
    },
    handleClose(done){
      done();
    },
    saveForLater(){
      localStorage.plan = JSON.stringify(this.plan);
      localStorage.itemSelected = JSON.stringify(this.itemSelected);
      this.$notify({
        title:"Save Entry Successfully",
        message:"The data entry is saved",
        type:"success"
      })
    }
    
  }
}
</script>

<style scoped>

</style>
