<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input :placeholder="$t('bodyCheck.search')" v-model="filter.search" style="width: 300px; margin-right: 10px" class="filter-item" clearable />
      <el-button class="filter-item" type="primary" @click="searching">{{$t('bodyCheck.searchButton')}}</el-button>
      <el-button class="filter-item" type="danger" @click="filter.search = ''">{{$t('bodyCheck.clearButton')}}</el-button>
      <el-button class="filter-item" type="success" icon="el-icon-plus" @click="showCreateModal"/>
      
    </div>
    <el-table :data="tableData" style="width: 100%" border  >
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('topic.code')" prop="topicCode" sortable="custom"/>
      <el-table-column :label="$t('topic.topicChinDesc')" prop="cnTopic" sortable="custom"/>
      <el-table-column :label="$t('topic.topicEngDesc')" prop="enTopic" sortable="custom"/>
      <el-table-column :label="$t('topic.index')" prop="topicID" sortable="custom"/>
      <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="showEditTopicModal(scope.row.topicID)">{{ $t('general.edit') }}</el-dropdown-item>
              <el-dropdown-item @click.native="deleteTopic(scope.row.topicID,scope.row.cnTopic)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleClose" :visible.sync="modal.create" :title="$t('topic.createTopic')" width="50%">

      <!-- staff row -->
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="4" >
          <label> {{$t('topic.code')}}</label>
        </el-col>
        <el-col :span="14" >
          <el-input  v-model="topic.topicCode"></el-input>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="4" >
          <label> {{$t('topic.topicChinDesc')}}</label>
        </el-col>
        <el-col :span="14" >
          <el-input type="textarea" v-model="topic.cnTopic"></el-input>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="4" >
          <label>{{$t('topic.topicEngDesc')}}</label>
        </el-col>
        <el-col :span="14" >
          <el-input type="textarea" v-model="topic.enTopic"></el-input>
        </el-col>
      </el-row>
      
      <div>
        <el-button @click="modal.create = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="info" @click="saveForLater"> {{ $t('topic.saveForLater') }} </el-button>
        <el-button type="primary" v-if="chosenID == undefined" @click="createTopic"> {{ $t('topic.createTopic') }} </el-button>
        <el-button type="primary" v-else @click="createTopic"> {{ $t('topic.editTopic') }} </el-button>
      </div>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :visible.sync="modal.edit" title="Error Log" width="50%">
      
    </el-dialog>
  </div>
</template>

<script>

import Pagination from '@/components/Pagination'
import _ from 'lodash'

export default {
  name: 'Topic',
  components: {
    Pagination,
  },
  filters: {
  
  },
  data() {
    return {
      tableData: [],
      selectedData: [],
      searchQuery: '',
      topic: {},
      params: {
        count: 10,
        page: 1,
        search: '',
        orderBy: 'topicID',
        direction: 'DESC'
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      modal: {
        create: false,
        edit: false,
        detail: false,
        delete:false,
      },
      topic:{
        topicCode:"",
        cnTopic:"",
        enTopic:""
      },
      filter:{
        search:"",
      },
      rules:{},
      chosenID:undefined
    }
  },
  computed: {

  },
  watch: {
    params: {
      handler(newValue, oldValue) {
        this.refresh()
      },
      deep: true
    },
  },
  created() {
    this.refresh()
    this.debounceInput = _.debounce((value) => {
      this.params.search = value
    }, 500)
  },
  mounted() {
  },
  methods: {
    refresh() {
      this.getTopics()
    },
    // new 1
    getTopics() {
      let param = this.params;
      if(this.filter.search !== ''){
        param.search = this.filter.search
      }
      this.$store.dispatch('getTopics', param).then((json) => {
        this.tableData = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    showCreateModal() {
      if(localStorage.topic){
        this.topic = JSON.parse(localStorage.topic);
      }
      else
      this.topic = {};
      this.chosenID = undefined;
      this.modal.create = true
    },
    showEditTopicModal(topicID) {
      this.chosenID = topicID
      this.$store.dispatch('getTopicDetail', {topicID:this.chosenID}).then((json) => {
        this.topic = json
      })
      this.modal.create = true
    },
    searching() {
      this.refresh();
    },
    createTopic() {
      console.log(this.topic)
      if(this.chosenID){
        this.$store.dispatch('editTopic', this.topic).then((json) => {
        this.topic = {} // reset topic
        this.modal.create = false
        this.refresh()
        this.$message({ message: this.$t('success.general'), type: 'success' })
        this.chosenID = undefined;
        localStorage.removeItem('topic')
      })
      }
      else{
      this.$store.dispatch('createTopic', this.topic).then((json) => {
        this.topic = {} // reset topic
        this.modal.create = false
        this.refresh()
        this.$message({ message: this.$t('success.general'), type: 'success' })
        localStorage.removeItem('topic')
      })
      }
    },
    deleteTopic(topicID,name) {
      this.$confirm(`確認删除(${name})？`).then(() => {
        this.$store.dispatch('deleteTopic', { topicID:topicID }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.refresh()
          this.chosenID = undefined;
        })
      })
    },
    handleSortChange({ column, prop, order }) {
      if (column === null) {
        this.params.orderBy = 'topicID'
        this.params.direction = 'DESC'
      } else {
        this.params.orderBy = prop
        this.params.direction = order === 'ascending' ? 'ASC' : 'DESC'
      }
    },
    handleSelectionChange(vals) {
      // Get all IDs
      this.selectedData = vals.map((row) => row.topicID)
    },
    handleSelect() {
      this.params.search = this.searchQuery
    },
    handleClose(done){
      done();
    },
    saveForLater(){
      localStorage.topic = JSON.stringify(this.topic);
      this.$notify({
        title:"Save Entry Successfully",
        message:"The data entry is saved",
        type:"success"
      })
    }
  }
}
</script>

<style scoped>

</style>
