<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input :placeholder="$t('general.search')" v-model="filter.search" style="width:40%; margin-right: 10px" class="filter-item" clearable/>
      <el-button class="filter-item" type="danger" @click="filter.search = ''"> {{$t('general.clear')}}</el-button>
      <el-button class="filter-item" type="success"  @click="showCreateModal">{{$t('general.create')}}</el-button> 
    </div>
    <el-table :data="tableData" style="width: 100%" border  >
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('offer.offerNo')" prop="offerNo" sortable="custom">
        <template slot-scope="scope">
          {{getLocaleString(scope.row.offerNo)}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('offer.offerStartDate')" prop="offerStartDate" sortable="custom"/>
      <el-table-column :label="$t('offer.offerEndDate')" prop="offerEndDate" sortable="custom"/>
      <el-table-column :label="$t('offer.offerDescription')" prop="description" sortable="custom"/>
      <el-table-column :label="$t('offer.offerMatchData')" prop="offerMatchData" sortable="custom"/>
      <el-table-column :label="$t('offer.SMS')" sortable="custom">
          <template slot-scope="scope">
            <span v-if="scope.row.SMS == 'Y'"><i class="el-icon-check"/></span>
            <span v-if="scope.row.SMS == 'N'"><i class="el-icon-close"/></span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('offer.email')" sortable="custom">
          <template slot-scope="scope">
            <span v-if="scope.row.email == 'Y'"><i class="el-icon-check"/></span>
            <span v-if="scope.row.email == 'N'"><i class="el-icon-close"/></span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('offer.offerMessage')" prop="offerMsg" width="500" sortable="custom"/>
      <el-table-column :label="$t('offer.offerMessage')" prop="offerRemarks" sortable="custom"/>
      <el-table-column :label="$t('offer.recordFulfil')" prop="total_fulfill" sortable="custom"/>
      <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="showEditOfferModal(scope.row.offerID)">{{ $t('general.edit') }}</el-dropdown-item>
              <!-- <el-dropdown-item @click.native="exportOfferTwo(scope.row.offerID)">{{ $t('offer.exportTwo') }}</el-dropdown-item> -->
              <el-dropdown-item @click.native="exportOfferThree(scope.row.offerID)">{{ $t('offer.exportThree') }}</el-dropdown-item>
              <el-dropdown-item @click.native="deleteOffer(scope.row.offerID)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />

    <el-dialog :close-on-press-escape="false" id="promotion" :close-on-click-modal="false"   :before-close="handleCreateClose" :visible.sync="modal.create" :title="$t('offer.createOffer')" width="80%">
      
      <el-row :gutter="20" >
        <el-col :span="8">
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="24">
              <el-radio-group v-model="offer.offerSendType">
                <el-radio label="SMS">SMS</el-radio>
                <el-radio label="Email">Email</el-radio>
              </el-radio-group>
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label>{{$t('offer.offerDescription')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="offer.description" />
            </el-col>
          </el-row>
          <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="6">
              <label>{{$t('offer.offerStartDate')}}</label>
            </el-col>
            <el-col :span="18">
              <el-date-picker v-model="offer.offerStartDate" type="date" value-format="yyyy-MM-dd" />
            </el-col>
              <el-col :span="6">
              <label>{{$t('offer.offerEndDate')}}</label>
            </el-col>
            <el-col :span="18">
              <el-date-picker v-model="offer.offerEndDate" type="date" value-format="yyyy-MM-dd"/>
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label>{{$t('offer.offerSMSMessage')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="offer.offerMsg" type="textarea" :rows="3" />
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label>{{$t('offer.offerRemarks')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="offer.offerRemarks" type="textarea" :rows="3" />
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="16">
          <el-row :gutter="20" type="flex" align="middle">
            <el-col :span="3">
              <el-input v-model="estimatedMonth" @blur="calculateDate" />
            </el-col>
            <el-col :span="3">
              <span>前未驗身</span>
            </el-col>
            <el-col :span="6">
              <el-date-picker v-model="offerFilter.serviceDate" type="date" value-format="yyyy-MM-dd"/>
            </el-col>
            <el-col :span="5">
              <el-checkbox v-model="offerFilter.hasBasicChecking" :true-label="'Y'" :false-label="'N'">有基本驗身</el-checkbox>
            </el-col>
            <el-col :span="5">
              <el-checkbox v-model="offerFilter.advertise" :true-label="'Y'" :false-label="'N'" >接受推廣</el-checkbox>
            </el-col>
          </el-row>

          <el-row :gutter="20" type="flex" align="top">
            <el-col :span="16">
            <FITSelectElement v-model="offerFilter.customerType" :options="customerTypeOptions" :label="$t('customer.customerType')" :width="20" />
            </el-col>
            <el-col :span="3" :offset="1"> 
              <el-checkbox v-model="offerFilter.companyPaid" :true-label="'N'" :false-label="'Y'">自己付款</el-checkbox>
            </el-col>
          </el-row>

          <el-row :gutter="20" type="flex" align="middle">
            <el-col :span="16">
              <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="4">
                <label>{{$t('customer.relatedStaff')}}</label>
              </el-col>
              <el-col :span="20">
                <el-select v-model="chosenStaffID"
                filterable
                clearable
                remote
                reserve-keyword
                placeholder="Please enter a keyword"
                :remote-method="renderStaffID"
                :loading="loadingStaffID" >
                  <el-option
                  v-for="item in staffList"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                  />
                </el-select>
              </el-col>
            </el-row>
            </el-col>
            <el-col :span="6">
              <FITSelectElement v-model="offerFilter.sex" :options="sexOptions" :label="$t('customer.sex')" :width="20" />
            </el-col>
          </el-row>

          <el-row :gutter="20" type="flex" align="middle">
            <el-col :span="24">
              <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="3">
                <label>排除優惠期</label>
              </el-col>
              <el-col :span="21">
                <el-date-picker v-model="offerFilter.lastOfferStartDate" type="daterange" range-separator="To" start-placeholder="Start Date" end-placeholder="End Date"  value-format="yyyy-MM-dd"/>
              </el-col>
            </el-row>
            </el-col>
          </el-row>

          <el-row :gutter="20" type="flex" align="middle">
            <el-col :span="10">
              <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="8">
                <label>排除計劃1</label>
              </el-col>
              <el-col :span="16">
                <el-select
                  v-model="offerFilter.planA"
                  filterable
                  remote
                  reserve-keyword
                  placeholder="Please enter a keyword"
                  :remote-method="planMethod1"
                  :loading="planloading1"
                  >
                  <el-option
                    v-for="item in planOptions1"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-col>
            </el-row>
            </el-col>
            <el-col :span="10" :offset="2">
              <el-row :gutter="20" type="flex" align="middle" >
              <el-col :span="8" >
                <label>排除計劃2</label>
              </el-col>
              <el-col :span="16" >
                <el-select
                  v-model="offerFilter.planB"
                  filterable
                  remote
                  reserve-keyword
                  placeholder="Please enter a keyword"
                  :remote-method="planMethod1"
                  :loading="planloading1"
                  >
                  <el-option
                    v-for="item in planOptions1"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-col>
            </el-row>
            </el-col>
          </el-row>

          <el-row :gutter="20" type="flex" align="middle">
            <el-col :span="10">
              <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="8">
                <label>最低金額</label>
              </el-col>
              <el-col :span="16">
                <el-input v-model="offerFilter.bodyCheckTotalCharge" />
              </el-col>
            </el-row>
            </el-col>
            <el-col :span="10" >
              <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="8">
                <label>排除已約驗身</label>
              </el-col>
              <el-col :span="16">
                <el-date-picker v-model="offerFilter.excludedServiceDate" type="date" value-format="yyyy-MM-dd"/>
              </el-col>
            </el-row>
            </el-col>
            <el-col :span="6" >
              <el-row :gutter="20" type="flex" align="middle">
                <el-col :span="24">
                 <el-button @click="testCondition" type="primary" v-loading="loadingButton" :disabled="loadingButton">Test Condition</el-button> 
                </el-col>
              </el-row>
            </el-col>
          </el-row>

        </el-col>
      </el-row>

      <pagination v-show="recordPagination.totalPages > 0" :total="recordPagination.totalRows" :page.sync="recordParams.page" :limit.sync="recordParams.count" />

      <el-table :data="recordList" style="width: 100%" border  >
      <el-table-column :label="$t('offer.mobile')" prop="customerTel" sortable="custom"/>
      <el-table-column :label="$t('offer.email')" prop="recordEmail" sortable="custom"/>
      <el-table-column :label="$t('offer.IDNumber')" prop="customerIdentityNo" sortable="custom"/>
      <el-table-column :label="$t('offer.clientName')" prop="enCustomerName" sortable="custom"/>
      <el-table-column :label="$t('offer.lastOffer')" prop="lastOfferStartDate" sortable="custom"/>
      <el-table-column :label="$t('offer.plan')" prop="planCode" sortable="custom"/>
      <el-table-column :label="$t('offer.total')" prop="bodyCheckTotalCharge" sortable="custom">
        <template slot-scope="scope">
            <span>{{ scope.row.bodyCheckTotalCharge | currency('HK$') }}</span>
          </template>
        </el-table-column>
      <el-table-column :label="$t('offer.appointmentDate')" prop="issueDate" sortable="custom"/>
      <el-table-column :label="$t('offer.checkingDate')" prop="serviceDate" sortable="custom"/>
    </el-table>
    <pagination v-show="recordPagination.totalPages > 0" :total="recordPagination.totalRows" :page.sync="recordParams.page" :limit.sync="recordParams.count" />
      
      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.create = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="info" @click="saveForLater"> {{ $t('offer.saveForLater') }} </el-button>
        <el-button v-loading="loadingCreateButton" :disabled="loadingCreateButton" type="primary" @click="createOffer"> {{ $t('offer.createOffer') }} </el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import Vue from 'vue'
import moment from 'moment'
import Vue2Filters from 'vue2-filters'
import Pagination from '@/components/Pagination'
import FITSelectElement from '@/components/FITSelectElement.vue'
import _ from 'lodash'

Vue.use(Vue2Filters)
export default {
  name: 'Offer',
  components: {
    Pagination,
    FITSelectElement
  },
  filters: {
  
  },
  data() {
    return {
      tableData: [],
      selectedData: [],
      itemOptions:[],
      recordList:[],
      searchQuery: '',
      loading:false,
      loading1:false,
      checked:false,
      loadingStaffID:false,
      loadingButton:false,
      loadingCreateButton:false,
      planloading1:false,
      planloading2:false,
      params: {
        count: 10,
        page: 1,
        search: '',
        direction: 'DESC'
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      recordParams: {
        count: 200,
        page: 1,
      },
      recordPagination: {
        totalPages: 1,
        totalRows: 0
      },
      modal: {
        create: false,
        edit: false,
        detail: false,
        delete:false,
      },
      offer:{
        offerSendType:"SMS",
        description:"",
        offerStartDate:"",
        offerEndDate:"",
        offerMsg:"",
        offerRemarks:"",
      },
      offerFilter:{
        customerType:"Individual",
        sex:"A",
        serviceDate:"",
        lastOfferStartDate:"",
        excludedServiceDate:"",
        planA:"",
        planB:"",
        bodyCheckTotalCharge:"",
        hasBasicChecking:"Y",
        advertise:"Y",
        companyPaid:"N",
      },
      customerTypeOptions:[
        {label:this.$t('customer.individual'),value:"Individual"},
        {label:this.$t('customer.corporate'),value:"Corporate"},
        {label:this.$t('customer.agent'),value:"Agent"},
      ],
      staffList:[],
      allStaffList:[],
      filter:{
        search:"",
        couponStatus:"X"
      },
      rules:{},
      topicList:[],
      offerList:['NP','AB','MK','TW'],
      isIndeterminate:true,
      checkAll:false,
      statusOptions:[
        {label:"All",value:"X"},
        {label:"Active",value:"Active"},
        {label:"Disable",value:"Disable"},
        {label:"Free",value:"Free"},
        {label:"Lost",value:"Lost"},
        {label:"Paid",value:"Paid"},
        {label:"Replace",value:"Replace"},
        {label:"Sold",value:"Sold"},
        {label:"Unlimited",value:"Unlimited"},
        {label:"Valid",value:"Valid"},
      ],
      sexOptions:[
        {label:"ALL",value:"A"},
        {label:this.$t('general.male'),value:"M"},
        {label:this.$t('general.female'),value:"F"},
      ],
      planOptions1:[],
      allPlanOptions1:[],
      planOptions2:[],
      allPlanOptions2:[],
      chosenID:undefined,
      chosenStaffID:"",
      estimatedMonth:"",
    }
  },
  computed: {

  },
  watch: {
    filter: {
      handler(newValue, oldValue) {
        this.refresh()
      },
      deep: true
    },
    params: {
      handler(newValue, oldValue) {
        this.refresh()
      },
      deep: true
    },
    recordParams:{
      handler(newValue, oldValue) {
        this.testCondition()
      },
      deep: true
    },
    searchQuery: {
      handler(newValue, oldValue) {
        if (newValue === '' && oldValue !== '') {
          this.params.search = ''
          this.refresh()
        }
      }
    },
  },
  created() {
    this.refresh()
    this.debounceInput = _.debounce((value) => {
      this.params.search = value
    }, 500)
  },
  mounted() {
  },
  methods: {
    refresh() {
      this.getOfferList()
      this.getPlanList()
      this.getStaffList()
    },
    // new 1
    getOfferList(){
      let dummyArray = [];
      this.$store.dispatch('getOfferList', {...this.params}).then((json) => {
        this.tableData = json.list;
        this.pagination.totalPages = parseInt(json.total)/this.params.count
        this.pagination.totalRows = parseInt(json.total)
      })
    },
    getStaffList() {
      let dummyArray = [];
      this.$store.dispatch('getStaffList', {page:1,count:200}).then((json) => {
        for(var i=0;i<json.list.length;i++){
          let dummyObject = {};
          dummyObject.label = json.list[i].enStaffName
          dummyObject.value = json.list[i].staffID
          dummyArray.push(dummyObject)
        }
        this.staffList = dummyArray;
        this.allStaffList = dummyArray;
        console.log(this.staffList)
      })
    },
    getPlanList(){
      let dummyArray = [];
      this.$store.dispatch('getPlanList', {}).then((json) => {
        for(var i=0;i<json.list.length;i++){
          let dummyObject = {};
          dummyObject.label = json.list[i].planCode+'-'+json.list[i].cnPlan +'-$'+json.list[i].planPrice;
          dummyObject.value = json.list[i].planID
          dummyArray.push(dummyObject)
        }
        this.planOptions1 = dummyArray;
        this.allPlanOptions1 = dummyArray;
      })
    },
    testCondition(){
      let params = this.recordParams;
      params = {...params,...this.offerFilter};
      if(this.chosenStaffID)
      params.staffID = this.chosenStaffID.split('-')[0];
      else
      params.staffID = null
      if(this.offerFilter.lastOfferStartDate != "" && this.offerFilter.lastOfferStartDate != null){
        params.lastOfferStartDate = this.offerFilter.lastOfferStartDate[0];
        params.lastOfferEndDate = this.offerFilter.lastOfferStartDate[1];
      }
      this.loadingButton = true
      this.$store.dispatch("eligibleList", params).then((json) => {
        this.loadingButton = false;
        this.recordList = json.list;
        this.recordPagination.totalPages = parseInt(json.total)/parseInt(this.recordParams.count);
        this.recordPagination.totalRows = parseInt(json.total)
      })
    },
    createOffer(){
      var params = {...this.offer,...this.offerFilter};
      if(this.chosenStaffID)
      params.staffID = this.chosenStaffID.split('-')[0];
      else
      params.staffID = null
      if(this.offer.offerSendType == 'SMS'){
        params.SMS = 'Y';
        params.email = 'N';
      }
      else{
        params.SMS = 'N';
        params.email = 'Y';
      }
      if(this.offerFilter.lastOfferStartDate != "" && this.offerFilter.lastOfferStartDate != null){
        params.lastOfferStartDate = this.offerFilter.lastOfferStartDate[0];
        params.lastOfferEndDate = this.offerFilter.lastOfferStartDate[1];
      }
      this.loadingCreateButton = true;
      if(this.chosenID){
        this.$store.dispatch("editOffer",{offerID:this.chosenID,...params}).then((json) => {
          this.loadingCreateButton = false;
        this.offer = {
        offerSendType:"SMS",
        description:"",
        offerStartDate:"",
        offerEndDate:"",
        offerMsg:"",
        offerRemarks:"",
      };
      this.offerFilter = {
        customerType:"Individual",
        sex:"A",
        serviceDate:"",
        lastOfferStartDate:"",
        excludedServiceDate:"",
        planA:"",
        planB:"",
        bodyCheckTotalCharge:"",
        hasBasicChecking:"Y",
        advertise:"Y",
        companyPaid:"N",
      };
      this.recordList = [];
      this.modal.create = false;
      this.refresh();
      this.chosenID = undefined;
      })
      }
      else{
        this.$store.dispatch("assignOffer",params).then((json) => {
          this.loadingCreateButton = false;
        this.offer = {
        offerSendType:"SMS",
        description:"",
        offerStartDate:"",
        offerEndDate:"",
        offerMsg:"",
        offerRemarks:"",
      };
      this.offerFilter = {
        customerType:"Individual",
        sex:"A",
        serviceDate:"",
        lastOfferStartDate:"",
        excludedServiceDate:"",
        planA:"",
        planB:"",
        bodyCheckTotalCharge:"",
        hasBasicChecking:"Y",
        advertise:"Y",
        companyPaid:"N",
      };
      this.recordList = [];
      this.modal.create = false;
      this.refresh();
      })
      }
    },
    calculateDate(){
      this.offerFilter.serviceDate = moment().subtract(parseInt(this.estimatedMonth),'months').format('yyyy-MM-DD')
      console.log(this.offerFilter.serviceDate)
    },
    exportOfferTwo(offerID){
      var FileSaver = require('file-saver')
      this.$store.dispatch('exportOfferTwo', { offerID })
        .then((json) => {
          var fileName = json.headers['content-disposition']
          console.log(fileName)
          fileName = fileName.split(' ').join('')
          fileName = fileName.split('attachment;filename=').join('').replace('"', '').replace('"', '')
          console.log(fileName)
          var blob = new Blob([json.data])
          FileSaver.saveAs(blob, fileName)
          this.refresh()
        })
    },
    exportOfferThree(offerID){
      var FileSaver = require('file-saver')
      this.$store.dispatch('exportOfferThree', { offerID })
        .then((json) => {
          var fileName = json.headers['content-disposition']
          console.log(fileName)
          fileName = fileName.split(' ').join('')
          fileName = fileName.split('attachment;filename=').join('').replace('"', '').replace('"', '')
          console.log(fileName)
          var blob = new Blob([json.data])
          FileSaver.saveAs(blob, fileName)
          this.refresh()
        })
    },
    deleteOffer(offerID) {
      this.$confirm(`確認刪除(OfferID:${offerID})？`).then(() => {
        this.$store.dispatch('deleteOffer', { offerID }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.refresh()
        })
      })
    },
    renderStaffID(query) {
      let dummyArray = [];
      if(query!= ''){
        this.loadingStaffID = true;
          setTimeout(() => {
            this.loadingStaffID = false;
            this.$store.dispatch('getStaffList', {search:query,page:1,count:200}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
              dummyObject.label = json.list[i].enStaffName
              dummyObject.value = json.list[i].staffID+'-'+json.list[i].enStaffName+'-'+json.list[i].cnStaffName;
              dummyArray.push(dummyObject);
            }
            this.staffList = dummyArray;
          })
          }, 1000);
      }
      else{
        this.staffList = this.allStaffList;
      }
    },
    planMethod1(query) {
      let dummyArray1 = [];
          this.planloading1 = true;
          setTimeout(() => {
            this.planloading1 = false;
            if(query == ''){
              this.planOptions1 = this.allPlanOptions1;
            }
            else{
              this.$store.dispatch('getPlanList', {search:query,searchType:'planCode',page:1,count:100,customerBased:'N'}).then((json) => {
            for(var j=0;j<json.list.length;j++){
              let dummyObject1 = {};
              dummyObject1.label = json.list[j].planCode+':'+json.list[j].enPlan
              dummyObject1.value = json.list[j].planID
              dummyArray1.push(dummyObject1)
            }
            this.planOptions1 = dummyArray1;
          })
            }
          }, 500);
      },
    showCreateModal() {
      if(localStorage.offer){
        this.offer = JSON.parse(localStorage.offer);
        this.offerFilter = JSON.parse(localStorage.offerFilter)
      }
      else
      this.offer = {
        offerSendType:"SMS",
        description:"",
        offerStartDate:"",
        offerEndDate:"",
        offerMsg:"",
        offerRemarks:"",
      };
      this.offerFilter = {
        customerType:"Individual",
        sex:"A",
        serviceDate:"",
        lastOfferStartDate:"",
        excludedServiceDate:"",
        planA:"",
        planB:"",
        bodyCheckTotalCharge:"",
        hasBasicChecking:'Y',
        advertise:"Y",
        companyPaid:"N",
      },
      this.chosenStaffID = "";
      this.chosenID = undefined;
      this.modal.create = true
    },
    showEditOfferModal(ID){
      this.modal.create = true
      this.chosenID = ID;
      this.$store.dispatch("getOfferDetail",{offerID:ID}).then((json) => {
        if(json.SMS == 'Y')
        this.offer.offerSendType = 'SMS'
        else
        this.offer.offerSendType = 'email'
        for(var key in json){
          if(this.offer.hasOwnProperty(key)){
            this.offer[key] = json[key];
          }
          if(this.offerFilter.hasOwnProperty(key)){
            this.offerFilter[key] = json[key];
          }
        }
        if(this.offerFilter.hasBasicChecking == '1')
        this.offerFilter.hasBasicChecking = 'Y'
        else
        this.offerFilter.hasBasicChecking = 'N'
        if(this.offerFilter.advertise == '1')
        this.offerFilter.advertise = 'Y'
        else
        this.offerFilter.advertise = 'N'
        if(this.offerFilter.companyPaid == '1')
        this.offerFilter.companyPaid = 'N'
        else
        this.offerFilter.companyPaid = 'Y'
        if(this.offerFilter.customerType == 'IC' || this.offerFilter.customerType == 'In')
        this.offerFilter.customerType = 'Individual'
        this.chosenStaffID = json.staffID
      })
      this.$store.dispatch("getEligibleList",{offerID:ID}).then((json) => {
        this.recordList = json.list;
        this.recordPagination.totalPages = parseInt(json.total)/parseInt(this.recordParams.count);
        this.recordPagination.totalRows = parseInt(json.total)
      })
    },
    transformDateObject(date){
      return moment(date).format('yyyy-MM-DD')
    },
    handleCreateClose(done){
      done();
    },
    handleEditClose(done){
      done();
    },
    saveForLater(){
    localStorage.offer = JSON.stringify(this.offer);
    localStorage.offerFilter = JSON.stringify(this.offerFilter);
    this.$notify({
        title:"Save Entry Successfully",
        message:"The data entry is saved",
        type:"success"
      })
    },
    getLocaleString(s){
      return parseFloat(s).toLocaleString();
    }
  },
}
</script>

<style scoped>

</style>
