<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input :placeholder="$t('general.search')" v-model="filter.search" style="width:40%; margin-right: 10px" class="filter-item" clearable/>
      <el-button class="filter-item" type="danger" @click="filter.search = ''"> {{$t('general.clear')}}</el-button>
      <el-button class="filter-item" type="success"  @click="showCreateModal">{{$t('general.create')}}</el-button> 
    </div>
    <el-table :data="tableData" style="width: 100%" border  >
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('branch.index')" prop="branchID" sortable="custom"/>
      <el-table-column :label="$t('branch.center')" prop="branchCode" sortable="custom"/>
      <el-table-column :label="$t('branch.district')" prop="branchDistrict" sortable="custom"/>
      <el-table-column :label="$t('branch.cnAddress')" prop="cnBranchAddress" sortable="custom"/>
      <el-table-column :label="$t('branch.enAddress')" prop="enBranchAddress" sortable="custom"/>
      <el-table-column :label="$t('branch.tel')" prop="branchTel" sortable="custom"/>
      <el-table-column :label="$t('branch.fax')" prop="branchFaxNo" sortable="custom"/>
      <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="showEditBranchModal(scope.row.branchID)">{{ $t('general.edit') }}</el-dropdown-item>
              <el-dropdown-item @click.native="deleteBranch(scope.row.branchID)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleCreateClose" :visible.sync="modal.create" :title="$t('branch.createBranch')" width="60%">
      
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('branch.center')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="branch.branchCode"></el-input>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('branch.district')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="branch.branchDistrict"></el-input>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('branch.cnAddress')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="branch.cnBranchAddress" type="textarea" :rows="3"></el-input>
        </el-col> 
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('branch.enAddress')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="branch.enBranchAddress" type="textarea" :rows="3"></el-input>
        </el-col>
      </el-row>

      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('branch.tel')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="branch.branchTel"></el-input>
        </el-col>
      </el-row>

      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('branch.fax')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="branch.branchFaxNo"></el-input>
        </el-col>
      </el-row>
      
      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.create = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="info" @click="saveForLater"> {{ $t('branch.saveForLater') }} </el-button>
        <el-button type="primary" @click="createBranch"> {{ $t('branch.createBranch') }} </el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import Vue from 'vue'
import Vue2Filters from 'vue2-filters'
import Pagination from '@/components/Pagination'
import FITSelectElement from '@/components/FITSelectElement.vue'
import _ from 'lodash'

Vue.use(Vue2Filters)
export default {
  name: 'Plan',
  components: {
    Pagination,
    FITSelectElement
  },
  filters: {
  
  },
  data() {
    return {
      tableData: [],
      selectedData: [],
      itemOptions:[],
      searchQuery: '',
      loading:false,
      loading1:false,
      checked:false,
      params: {
        count: 10,
        page: 1,
        search: '',
        orderBy: 'couponID',
        direction: 'DESC'
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      modal: {
        create: false,
        edit: false,
        detail: false,
        delete:false,
      },
      branch:{
        branchCode:"",
        branchDistrict:"",
        cnBranchAddress:"",
        enBranchAddress:"",
        branchTel:"",
        branchFaxNo:"",
      },
      filter:{
        search:"",
        couponStatus:"X"
      },
      rules:{},
      topicList:[],
      branchList:['NP','AB','MK','TW'],
      isIndeterminate:true,
      checkAll:false,
      statusOptions:[
        {label:"All",value:"X"},
        {label:"Active",value:"Active"},
        {label:"Disable",value:"Disable"},
        {label:"Free",value:"Free"},
        {label:"Lost",value:"Lost"},
        {label:"Paid",value:"Paid"},
        {label:"Replace",value:"Replace"},
        {label:"Sold",value:"Sold"},
        {label:"Unlimited",value:"Unlimited"},
        {label:"Valid",value:"Valid"},
      ],
      chosenID:undefined
    }
  },
  computed: {

  },
  watch: {
    filter: {
      handler(newValue, oldValue) {
        this.refresh()
      },
      deep: true
    },
    params: {
      handler(newValue, oldValue) {
        this.refresh()
      },
      deep: true
    },
    searchQuery: {
      handler(newValue, oldValue) {
        if (newValue === '' && oldValue !== '') {
          this.params.search = ''
          this.refresh()
        }
      }
    },
  },
  created() {
    this.refresh()
    this.debounceInput = _.debounce((value) => {
      this.params.search = value
    }, 500)
  },
  mounted() {
  },
  methods: {
    refresh() {
      this.getBranch()
    },
    // new 1
    getBranch() {
      let param = this.params;
      if(this.filter.search !== ''){
        param.search = this.filter.search;
      }
      this.$store.dispatch('getBranchList', param).then((json) => {
        this.tableData = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    showCreateModal() {
      if(localStorage.branch){
        this.branch = JSON.parse(localStorage.branch);
      }
      else
      this.branch = {};
      this.modal.create = true
    },
    showEditBranchModal(id) {
      this.chosenID = id
      this.$store.dispatch('getBranchDetail',{branchID:id}).then((json) => {
        this.branch = json
      })
      this.modal.create = true
    },
    search(query) {
      this.params.search = query
    },
    createBranch() {
      if(this.chosenID != undefined){
        this.$store.dispatch('editBranch', {branchID:this.chosenID,...this.branch}).then((json) => {
        this.branch = {} // reset branch
        this.modal.create = false
        this.chosenID = undefined
        this.refresh()
        this.$message({ message: this.$t('success.general'), type: 'success' })
        localStorage.removeItem('branch')
      })
      }
      else{
        this.$store.dispatch('createBranch', this.branch).then((json) => {
        this.branch = {} // reset branch
        this.modal.create = false
        this.refresh()
        this.$message({ message: this.$t('success.general'), type: 'success' })
        localStorage.removeItem('branch')
      })
      }
      
    },
    deleteBranch(couponID) {
      this.$confirm(`確認刪除(BranchID:${couponID})？`).then(() => {
        this.$store.dispatch('deleteBranch', { branchID:couponID }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.refresh()
        })
      })
    },
    handleSortChange({ column, prop, order }) {
      if (column === null) {
        this.params.orderBy = 'couponID'
        this.params.direction = 'DESC'
      } else {
        this.params.orderBy = prop
        this.params.direction = order === 'ascending' ? 'ASC' : 'DESC'
      }
    },
    handleSelectionChange(vals) {
      // Get all IDs
      this.selectedData = vals.map((row) => row.couponID)
    },
    handleSelect() {
      this.params.search = this.searchQuery
    },
    handleCheckAllChange(val) {
        this.branch.branchSelected = val ? this.branchList : [];
        this.isIndeterminate = false;
      },
    handleCheckedBranchesChange(value) {
      let checkedCount = value.length;
      this.checkAll = checkedCount === this.branchList.length;
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.branchList.length;
    },
    saveForLater(){
    localStorage.branch = JSON.stringify(this.branch);
    this.$notify({
        title:"Save Entry Successfully",
        message:"The data entry is saved",
        type:"success"
      })
    },
    handleCreateClose(done){
    done();
    },
    handleEditClose(done){
      done();
    },
  },
}
</script>

<style scoped>

</style>
