<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input :placeholder="$t('general.search')" v-model="filter.search" style="width:40%; margin-right: 10px" class="filter-item" clearable/>
      <el-button class="filter-item" type="danger" @click="filter.search = ''"> {{$t('general.clear')}}</el-button>
      <el-button class="filter-item" type="success"  @click="showCreateModal">{{$t('general.create')}}</el-button> 
    </div>
    <div class="filter-container">
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="12">
          <FITSelectElement v-model="filter.couponStatus" :options="statusOptions" :label="$t('coupon.couponStatus')" :width="20" />
        </el-col>
      </el-row>
    </div>
    <el-table :data="tableData" style="width: 100%" border  >
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('coupon.couponNo')" prop="couponNo" sortable="custom"/>
      <el-table-column :label="$t('coupon.invoiceNo')" prop="invoiceNo" sortable="custom"/>
      <el-table-column :label="$t('coupon.couponExpiryDate')" prop="couponExpiryDate" sortable="custom"/>
      <el-table-column :label="$t('coupon.couponUnitPrice')"  sortable="custom">
        <template slot-scope="scope">
          {{scope.row.couponUnitPrice | currency('HK$')}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('coupon.couponStatus')" prop="couponStatus" sortable="custom"/>
      <el-table-column :label="$t('coupon.accountNo')" prop="accountNo" sortable="custom"/>
      <el-table-column :label="$t('coupon.invoicePaymentStatus')" prop="invoiceStatus" sortable="custom">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.invoiceStatus == '' || scope.row.invoiceStatus == 'NOT PAID'" type="warning">Not Paid</el-tag>
          <el-tag v-else type="success">{{ scope.row.invoiceStatus }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column :label="$t('invoice.issueDate')" prop="issueDate" sortable="custom"/>
      <el-table-column :label="$t('invoice.paymentDate')" prop="paymentDate" sortable="custom"/>
      <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="showEditCouponModal(scope.row.couponID)">{{ $t('general.edit') }}</el-dropdown-item>
              <el-dropdown-item @click.native="deleteCoupon(scope.row.couponID)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleCreateClose" :visible.sync="modal.create" :title="$t('coupon.createCoupon')" width="60%">
      
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('coupon.startCouponNo')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="coupon.startCouponNo"></el-input>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('coupon.couponQuantity')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="coupon.couponQuantity"></el-input>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('coupon.endCouponNo')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="coupon.endCouponNo" disabled></el-input>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('coupon.couponUnitPrice')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="coupon.couponUnitPrice"></el-input>
        </el-col>
      </el-row>

      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('coupon.couponExpiryDate')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-date-picker
                  v-model="coupon.couponExpiryDate"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="Pick a day">
                </el-date-picker>
        </el-col>
      </el-row>

      <FITSelectElement v-model="coupon.couponStatus" :options="createStatusOptions" :label="$t('coupon.couponStatus')" :width="18" />
      
      <span slot="footer" class="dialog-footer">
        <el-button type="info" @click="saveForLater"> {{ $t('coupon.saveForLater') }} </el-button>
        <el-button @click="modal.create = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="createCoupon"> {{ $t('coupon.createCoupon') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleEditClose" :visible.sync="modal.edit" width="50%">
      <span slot="title" class="dialog-title">
        <span>Coupon No. {{this.couponEdit.couponNo}}</span>
      </span>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('coupon.couponUnitPrice')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="couponEdit.couponUnitPrice"></el-input>
        </el-col>
      </el-row>

      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('coupon.couponExpiryDate')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-date-picker
                  v-model="couponEdit.couponExpiryDate"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="Pick a day">
                </el-date-picker>
        </el-col>
      </el-row>

      <FITSelectElement v-model="couponEdit.couponStatus" :options="statusOptions" :label="$t('coupon.couponStatus')" :width="18" />
      
      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.edit = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="editCoupon"> {{ $t('coupon.createCoupon') }} </el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Vue from 'vue'
import Vue2Filters from 'vue2-filters'
import Pagination from '@/components/Pagination'
import FITSelectElement from '@/components/FITSelectElement.vue'
import _ from 'lodash'

Vue.use(Vue2Filters)
export default {
  name: 'Plan',
  components: {
    Pagination,
    FITSelectElement
  },
  filters: {
  
  },
  data() {
    return {
      busy:false,
      tableData: [],
      selectedData: [],
      itemOptions:[],
      searchQuery: '',
      loading:false,
      loading1:false,
      checked:false,
      params: {
        count: 10,
        page: 1,
        search: '',
        orderBy: 'couponID',
        direction: 'DESC'
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      modal: {
        create: false,
        edit: false,
        detail: false,
        delete:false,
      },
      coupon:{
        couponUnitPrice:"",
        couponQuantity:"",
        endCouponNo:"",
        startCouponNo:"",
        couponExpiryDate:"",
        couponStatus:"ACTIVE",
      },
      couponEdit:{
        couponUnitPrice:"",
        couponExpiryDate:"",
        couponStatus:"",
      },
      filter:{
        search:"",
        couponStatus:"X"
      },
      rules:{},
      topicList:[],
      branchList:['NP','AB','MK','TW'],
      isIndeterminate:true,
      checkAll:false,
      statusOptions:[
        {label:"All",value:"X"},
        {label:"Active",value:"ACTIVE"},
        {label:"Disable",value:"INACTIVE"},
      ],
      createStatusOptions:[
        {label:"Active",value:"ACTIVE"},
        {label:"Disable",value:"INACTIVE"},
      ],
      chosenID:""
    }
  },
  computed: {

  },
  watch: {
    filter: {
      handler(newValue, oldValue) {
        if(!this.busy){
          Vue.set(this,'busy', true)
        setTimeout(() => {
          Vue.set(this,'busy',false)
          Vue.set(this.params,'page',1)
          this.refresh();
        }, 500);
        }
      },
      deep: true
    },
    params: {
      handler(newValue, oldValue) {
        this.refresh()
      },
      deep: true
    },
    searchQuery: {
      handler(newValue, oldValue) {
        if (newValue === '' && oldValue !== '') {
          this.params.search = ''
          this.refresh()
        }
      }
    },
    coupon:{
      handler(val){
        val.endCouponNo = parseInt(val.startCouponNo) + parseInt(val.couponQuantity) - 1
      },
      deep:true
    }
  },
  created() {
    this.refresh()
    this.debounceInput = _.debounce((value) => {
      this.params.search = value
    }, 500)
  },
  mounted() {
  },
  methods: {
    refresh() {
      this.getCoupon()
    },
    // new 1
    getCoupon() {
      let param = this.params;
      if(this.filter.search !== ''){
        param.search = this.filter.search;
      }
      else{
        param.search = null;
      }
      if(this.filter.couponStatus != 'X'){
        param.couponStatus = this.filter.couponStatus;
      }
      else{
        param.couponStatus = undefined
      }
      this.$store.dispatch('getCouponList', param).then((json) => {
        this.tableData = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    showCreateModal() {
      this.modal.create = true
      if(localStorage.coupon){
        this.coupon = JSON.parse(localStorage.coupon);
      }
      else{
        this.coupon = {
        couponUnitPrice:"",
        couponQuantity:"",
        endCouponNo:"",
        startCouponNo:"",
        couponExpiryDate:"",
        couponStatus:"A",
      }
      }
    },
    showEditCouponModal(id) {
      this.chosenID = id
      this.$store.dispatch('getCouponDetail',{couponID:id}).then((json) => {
        this.couponEdit = json
      })
      this.modal.edit = true
    },
    search(query) {
      this.params.search = query
    },
    createCoupon() {
      this.$store.dispatch('createCoupon', this.coupon).then((json) => {
        this.coupon = {} // reset coupon
        this.modal.create = false
        this.refresh()
        this.$message({ message: this.$t('success.general'), type: 'success' })
        localStorage.removeItem('coupon')
      })
    },
    editCoupon() {
      this.$store.dispatch('editCoupon', {couponID:this.chosenID,...this.couponEdit}).then((json) => {
        this.coupon = {} // reset coupon
        this.modal.edit = false
        this.refresh()
        this.$message({ message: this.$t('success.general'), type: 'success' })
        localStorage.removeItem('coupon')
      })
    },
    deleteCoupon(couponID) {
      this.$confirm(`確認刪除(couponID:${couponID})？`).then(() => {
        this.$store.dispatch('deleteCoupon', { couponID:couponID }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.refresh()
        })
      })
    },
    handleSortChange({ column, prop, order }) {
      if (column === null) {
        this.params.orderBy = 'couponID'
        this.params.direction = 'DESC'
      } else {
        this.params.orderBy = prop
        this.params.direction = order === 'ascending' ? 'ASC' : 'DESC'
      }
    },
    handleSelectionChange(vals) {
      // Get all IDs
      this.selectedData = vals.map((row) => row.couponID)
    },
    handleSelect() {
      this.params.search = this.searchQuery
    },

    remoteMethod(query) {
        if (query !== '') {
          this.loading = true;
          setTimeout(() => {
            this.loading = false;
            this.options = this.list.filter(item => {
              return item.label.toLowerCase()
                .indexOf(query.toLowerCase()) > -1;
            });
          }, 200);
        } else {
          this.options = [];
        }
      },
    remoteMethod1(query) {
        if (query !== '') {
          this.loading1 = true;
          setTimeout(() => {
            this.loading1 = false;
            this.options = this.list.filter(item => {
              return item.label.toLowerCase()
                .indexOf(query.toLowerCase()) > -1;
            });
          }, 200);
        } else {
          this.options = [];
        }
      },
    handleCheckAllChange(val) {
        this.coupon.branchSelected = val ? this.branchList : [];
        this.isIndeterminate = false;
      },
      handleCheckedBranchesChange(value) {
        let checkedCount = value.length;
        this.checkAll = checkedCount === this.branchList.length;
        this.isIndeterminate = checkedCount > 0 && checkedCount < this.branchList.length;
      },
    handleCreateClose(done){
      done();
    },
    handleEditClose(done){
      done();
    },
    saveForLater(){
     localStorage.coupon = JSON.stringify(this.coupon)
     this.$notify({
        title:"Save Entry Successfully",
        message:"The data entry is saved",
        type:"success"
      })
    }
    
  },
}
</script>

<style scoped>

</style>
