<template>
  <div class="app-container">
    <h2>{{$t('staff.list')}}</h2>
    <div class="filter-container">
      <label>{{$t('general.search')}}</label>
      <el-input :placeholder="$t('general.search')" style="width: 200px; margin-left: 10px" class="filter-item" clearable @input="debounceInput"/>
      <el-button class="filter-item" type="primary" @click="deleteStaff(selectedData)">{{$t('general.search')}}</el-button>
      <el-button class="filter-item" type="danger" @click="deleteStaff(selectedData)">{{$t('general.clear')}}</el-button>
      <el-button class="filter-item" type="success" @click="showCreateDialog">{{$t('general.create')}}</el-button>

      <!-- <el-autocomplete
        v-model="searchQuery"
        :fetch-suggestions="querySearchAsync"
        :placeholder="$t('general.search')"
        class="filter-item"
        style="width: 200px; margin-left: 10px"
        clearable
        @select="handleSelect"
      /> -->
    </div>
    <el-table :data="tableData" style="width: 100%" border  >
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('staff.ID')" prop="staffID" sortable="custom"/>
      <el-table-column :label="$t('staff.salesCode')" prop="salesCode" sortable="custom"/>
      <el-table-column :label="$t('staff.staffChinName')" prop="cnStaffName" sortable="custom"/>
      <el-table-column :label="$t('staff.staffEngName')" prop="enStaffName" sortable="custom"/>
      <el-table-column :label="$t('staff.group')" prop="staffGroup" sortable="custom"/>
      <el-table-column :label="$t('staff.staffPhone')" prop="staffPhoneNo" sortable="custom"/>
      <el-table-column :label="$t('staff.staffOfficeTel')" prop="officeTel" sortable="custom"/>
      <el-table-column :label="$t('staff.staffAttn')" prop="attorney" sortable="custom"/>
      <el-table-column :label="$t('staff.staffAddress')" sortable="custom">
        <template slot-scope="scope">
          {{scope.row.enAddress1}},
          {{scope.row.enAddress2}},
          {{scope.row.enAddress3}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('staff.cnStaffAddress')" sortable="custom">
        <template slot-scope="scope">
          {{scope.row.cnAddress1}},
          {{scope.row.cnAddress2}},
          {{scope.row.cnAddress3}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="showEditStaffModal(scope.row.staffID)">{{ $t('general.edit') }}</el-dropdown-item>
              <el-dropdown-item @click.native="showDeleteStaff(scope.row.staffID)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />
    
    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleClose" :visible.sync="modal.create" :title="$t('staff.create')" width="70%">
      <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="3">
              <label>{{$t('staff.salesCode')}}</label>
            </el-col>
            <el-col :span="21">
              <el-input v-model="staff.salesCode" />
            </el-col>
          </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="12">
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label>{{$t('staff.staffEngName')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="staff.enStaffName" />
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label>{{$t('staff.staffPhone')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="staff.staffPhoneNo" />
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label>{{$t('staff.staffHomeTel')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="staff.homeTel" />
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label>{{$t('staff.commissionRate')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input placeholder="Please input" v-model="staff.commissionRate">
              </el-input>
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label>{{$t('staff.enAddress1')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="staff.enAddress1" />
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label></label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="staff.enAddress2" />
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label></label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="staff.enAddress3" />
            </el-col>
          </el-row>
              <FITSelectElement v-model="staff.staffStatus" :options="statusOptions" :width="18" :label="$t('staff.staffStatus')" />
        </el-col>
        <el-col :span="12">
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label>{{$t('staff.staffChinName')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="staff.cnStaffName" />
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label>{{$t('staff.staffOfficeTel')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="staff.officeTel" />
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label>{{$t('staff.staffFax')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="staff.fax" />
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label>{{$t('staff.staffAttn')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="staff.attorney" />
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label>{{$t('staff.cnAddress1')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="staff.cnAddress1" />
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label></label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="staff.cnAddress2" />
            </el-col>
          </el-row>
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6">
              <label></label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="staff.cnAddress3" />
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6">
          <label>{{$t('staff.staffEmail')}}</label>
        </el-col>
        <el-col :span="18">
          <el-input v-model="staff.email" type="email"/>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6">
          <label>{{$t('staff.staffBankAccount')}}</label>
        </el-col>
        <el-col :span="18">
          <el-input v-model="staff.bankAccount" />
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button type="info" @click="saveForLater"> {{ $t('general.saveForLater') }} </el-button>
        <el-button @click="modal.create = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="confirmAddStaff"> {{ $t('staff.create') }} </el-button>
    </span>
    </el-dialog>

  </div>
</template>

<script>

import Pagination from '@/components/Pagination'
import FITSelectElement from '@/components/FITSelectElement.vue'
import _ from 'lodash'

export default {
  name: 'Customer',
  components: {
    Pagination,
    FITSelectElement
  },
  filters: {
    statusFilter(status) {
      const statusMap = {
        A: 'success',
        I: 'danger',
        D: 'danger',
        default: ''
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      tableData: [],
      selectedData: [],
      searchQuery: '',
      customer: {},
      params: {
        count: 10,
        page: 1,
        search: '',
        orderBy: 'customerID',
        direction: 'DESC'
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      modal: {
        create: false,
        detail: false
      },
      staff:{
        cnStaffName:"",
        enStaffName:"",
        staffPhoneNo:"",
        enAddress1:"",
        enAddress2:"",
        enAddress3:"",
        cnAddress1:"",
        cnAddress2:"",
        cnAddress3:"",
        salesCode:"",
        homeTel:"",
        officeTel:"",
        fax:"",
        email:"",
        staffStatus:"Active",
        attorney:"",
        bankAccount:"",
        commissionRate:0,
      },
      list:[],
      nameList:[],
      filter:{
        customerType:""
      },
      chosenID:undefined,
      statusOptions:['Active','Disable','Full-time','Part-time','Dealer']
    }
  },
  computed: {

  },
  watch: {
    params: {
      handler(newValue, oldValue) {
        this.refresh()
      },
      deep: true
    },
    searchQuery: {
      handler(newValue, oldValue) {
        if (newValue === '' && oldValue !== '') {
          this.params.search = ''
          this.refresh()
        }
      }
    }
  },
  created() {
    this.refresh()
    this.debounceInput = _.debounce((value) => {
      this.params.search = value
    }, 500)
  },
  mounted() {
  },
  methods: {
    refresh() {
      this.getStaffList()
    },
    // new 1
    getStaffList() {
      this.$store.dispatch('getStaffList', this.params).then((json) => {
        this.tableData = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },

    confirmAddStaff(){
      if(this.chosenID){
        this.$store.dispatch('editStaff', {staffID:this.chosenID,...this.staff}).then((json) => {
        this.$notify({
                        title:"Edit Staff Successfully",
                        message:'Successfully Edit',
                        offset:100
                    })
        this.chosenID = undefined;
        this.staff = {};
        this.getStaffList();
        localStorage.removeItem('staff')
      }).catch((err) => {
        this.$notify.error({
          title: 'Error',
          message: 'Edit Fail'
        });
      })
      }
      else{
        this.$store.dispatch('createStaff', this.staff).then((json) => {
        this.$notify({
                        title:"Create Staff Successfully",
                        message:'Successfully Create',
                        offset:100
                    })
        this.staff = {};
        this.getStaffList();
        localStorage.removeItem('staff')
      }).catch((err) => {
        this.$notify.error({
          title: 'Error',
          message: 'Create Fail'
        });
      })
      }
      this.modal.create = false
    },

    showDeleteStaff(id){
      this.$confirm('確認刪除？').then(() => {
        this.$store.dispatch('deleteStaff', { staffID:id }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.refresh()
        })
      })
    },

    showCreateDialog(){
      this.modal.create= true;
      if(localStorage.staff){
        this.staff = JSON.parse(localStorage.staff);
      }
      else{
        this.staff = {
        cnStaffName:"",
        enStaffName:"",
        staffPhoneNo:"",
        enAddress1:"",
        enAddress2:"",
        enAddress3:"",
        cnAddress1:"",
        cnAddress2:"",
        cnAddress3:"",
        salesCode:"",
        homeTel:"",
        officeTel:"",
        fax:"",
        email:"",
        staffStatus:"Active",
        attorney:"",
        bankAccount:"",
        commissionRate:0,
      }
      }
    },
    showEditStaffModal(id){
      this.chosenID = id
      this.$store.dispatch('getStaffDetail', {staffID:this.chosenID}).then((json) => {
        this.staff = json
        this.modal.create = true;
      })
    },
  
    search(query) {
      this.params.search = query
    },
    handleSortChange({ column, prop, order }) {
      if (column === null) {
        this.params.orderBy = 'customerID'
        this.params.direction = 'DESC'
      } else {
        this.params.orderBy = prop
        this.params.direction = order === 'ascending' ? 'ASC' : 'DESC'
      }
    },
    handleSelectionChange(vals) {
      // Get all IDs
      this.selectedData = vals.map((row) => row.customerID)
    },
    handleSelect() {
      this.params.search = this.searchQuery
    },
    renderCorporateID(query) {
        if (query !== '') {
          this.loadingCorporateID = true;
          setTimeout(() => {
            this.loadingCorporateID = false;
            console.log(this.list)
            this.idOptions = this.list.filter(item => {
              return item.label.toLowerCase()
                .indexOf(query.toLowerCase()) > -1;
            });
          }, 500);
        } else {
          this.idOptions = [];
        }
        console.log(this.idOptions)
    },
    renderCorporateName(query) {
        if (query !== '') {
          this.loadingCorporateName = true;
          setTimeout(() => {
            this.loadingCorporateName = false;
            this.nameOptions = this.nameList.filter(item => {
              return item.label.toLowerCase()
                .indexOf(query.toLowerCase()) > -1;
            });
          }, 500);
        } else {
          this.nameOptions = [];
        }
    },
    selectedName(){
      for(var i=0;i<this.fakeList.length;i++){
        if(this.individual.corporateName == this.fakeList[i].name)
        this.individual.corporateID = this.fakeList[i].code
      }
    },
    selectedID(){
      for(var i=0;i<this.fakeList.length;i++){
        if(this.individual.corporateID == this.fakeList[i].code)
        this.individual.corporateName = this.fakeList[i].name
      }
    },
    handleClose(done){
      done();
    },
    saveForLater(){
      localStorage.staff = JSON.stringify(this.staff)
      this.$notify({
        title:"Save Entry Successfully",
        message:"The data entry is saved",
        type:"success"
      })
    }
  }
}
</script>

<style scoped>

</style>
