<template>
  <div class="container">
    <h1>Dashboard</h1>
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <span>日期範圍選擇</span>
      </div>
      <div class="container">
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="16">
            <div class="block">
              <el-date-picker
                v-model="dateRange"
                :picker-options="pickerOptions2"
                style="width:100%"
                value-format="yyyy-MM-dd"
                type="daterange"
                range-separator="To"
                start-placeholder="Start date"
                end-placeholder="End date"
              />
            </div>
          </el-col>
          <el-col :span="6" :offset="2">
            <FITSelectElement v-model="views" :options="viewsOptions" :placeholder="'公司'" />
          </el-col>
        </el-row>
      </div>
    </el-card>

    <el-card class="box-card second">
      <div slot="header" class="clearfix">
        <span>公司收入</span>
      </div>
      <div>
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="18">
            <line-chart :chart-data="bookingNumber" :x-axis-options="bookingDate" :service-name="getRange" :y-axis-name="'Number'" :x-axis-name="'xAxisName'"/>
          </el-col>
          <el-col :span="6">
            <div style="text-align:center">
              <h2>統計數據</h2>
              <span>{{ companyData.revenue | currency("HK$") }}</span><br>
              <span>收入</span><br><br>
              <span>{{ companyData.clients }}</span><br>
              <span>客戶數</span><br><br>
              <span>{{ companyData.hours }}</span><br>
              <span>工時</span><br><br>
              <span>{{ companyData.task }}</span><br>
              <span>任務數</span><br><br>
            </div>
          </el-col>
        </el-row>
      </div>
    </el-card>

    <el-card class="box-card second">
      <div slot="header" class="clearfix">
        <span>客戶統計</span>
      </div>
      <div >
        <el-row :gutter="20" >
          <el-col :span="16">
            <el-table
              :data="clientList.list"
              border
              fit
              highlight-current-row
              style="width: 100%;">
              <el-table-column :label="$t('report.clientNumber')">
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.clientCode }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.clientName')" width="300" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.clientName }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.projectTotalPrice')" align="center" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.value | currency("HK$") }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.actualPrice')" align="center" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.value | currency("HK$") }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.projectTime')" align="center" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.value | currency("HK$") }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.actualTime')" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.manHours }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.projectNumber')" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.manHours }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.averageProjectCost')" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.average | currency("HK$") }}</span>
                </template>
              </el-table-column>
            </el-table>
            <div class="pagination-container">
              <el-pagination v-show="clientList.total>0" :current-page="clientPage.currentPage" :page-sizes="[10,20,30, 50]" :page-size="clientPage.perPage" :total="parseInt(clientList.total)" background layout="total, sizes, prev, pager, next, jumper" @size-change="handleClientSizeChange" @current-change="handleClientCurrentChange"/>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="filter-container1">
              <el-radio-group v-model="radio3">
                <el-radio-button label="Day"/>
                <el-radio-button label="Date Range"/>
                <el-radio-button label="Month Range"/>
              </el-radio-group>
            </div>
            <BarChart :chart-data="clientValue" :y-axis-options="yAxisOptions" style="margin-top:2rem" />
          </el-col>
        </el-row>
      </div>
    </el-card>

    <el-card class="box-card second">
      <div slot="header" class="clearfix">
        <span>員工統計</span>
      </div>
      <div class="mb-1">
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="16">
            <el-table
              :data="staffList.list"
              border
              fit
              highlight-current-row
              style="width: 100%;">
              <el-table-column :label="$t('report.staffNumber')">
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.staffNo }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.staffName')" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.staffName }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.projectPrice')" align="center" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.value | currency("HK$") }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.actualPrice')" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.workingHour }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.projectTime')" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.manHours }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.actualTime')" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.averagePrice | currency("HK$") }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.projectCost')" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.averagePrice | currency("HK$") }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.actualCost')" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.averagePrice | currency("HK$") }}</span>
                </template>
              </el-table-column>
            </el-table>
            <div class="pagination-container">
              <el-pagination v-show="staffList.total>0" :current-page="staffPage.currentPage" :page-sizes="[10,20,30, 50]" :page-size="staffPage.perPage" :total="parseInt(staffList.total)" background layout="total, sizes, prev, pager, next, jumper" @size-change="handleStaffSizeChange" @current-change="handleStaffCurrentChange"/>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="filter-container1">
              <el-radio-group v-model="radio3">
                <el-radio-button label="Day"/>
                <el-radio-button label="Date Range"/>
                <el-radio-button label="Month Range"/>
              </el-radio-group>
            </div>
            <BarChart :y-axis-options="yAxisOptions1" :chart-data="clientValue" :color="'#c4ccd3'" />
          </el-col>
        </el-row>
      </div>
    </el-card>

    <el-card class="box-card second">
      <div slot="header" class="clearfix">
        <span>任務統計</span>
      </div>
      <div class="mb-1">
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="16">
            <el-table
              :data="taskList.list"
              border
              fit
              highlight-current-row
              style="width: 100%;">
              <el-table-column :label="$t('report.taskCode')">
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.taskCode }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.taskName')" width="300" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.taskName }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.projectPrice')" align="center" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.value | currency("HK$") }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.actualPrice')" align="center" class-name="small-padding fixed-width">
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.value | currency("HK$") }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.projectTime')" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.manHours }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.actualTime')" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.averagePrice | currency("HK$") }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.projectCost')" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.averagePrice | currency("HK$") }}</span>
                </template>
              </el-table-column>
              <el-table-column :label="$t('report.actualCost')" >
                <template slot-scope="scope">
                  <span class="link-type" @click="handleUpdate(scope.row)">{{ scope.row.averagePrice | currency("HK$") }}</span>
                </template>
              </el-table-column>
            </el-table>
            <div class="pagination-container">
              <el-pagination v-show="taskList.total>0" :current-page="staffPage.currentPage" :page-sizes="[10,20,30, 50]" :page-size="staffPage.perPage" :total="parseInt(taskList.total)" background layout="total, sizes, prev, pager, next, jumper" @size-change="handleTaskSizeChange" @current-change="handleTaskCurrentChange"/>
            </div>
          </el-col>
          <el-col :span="8">
            <div class="filter-container1">
              <el-radio-group v-model="radio3">
                <el-radio-button label="Day"/>
                <el-radio-button label="Date Range"/>
                <el-radio-button label="Month Range"/>
              </el-radio-group>
            </div>
            <BarChart :y-axis-options="yAxisOptions2" :chart-data="taskValue" :color="'#ca8622'" />
          </el-col>
        </el-row>
      </div>
    </el-card>

  </div>
</template>
<script>
import Vue from 'vue'
import Vue2Filters from 'vue2-filters'
import FullCalendar from '@fullcalendar/vue'
import dayGridPlugin from '@fullcalendar/daygrid'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import FITSelectElement from '@/components/FITSelectElement.vue'
import LineChart from './components/LineChart'
import BarChart from './components/BarChart'
Vue.use(Vue2Filters)
export default {
  components: {
    FullCalendar, // make the <FullCalendar> tag available
    FITSelectElement,
    LineChart,
    BarChart
  },
  data() {
    return {
      calendarPlugins: [dayGridPlugin, interactionPlugin],
      businessHours: {
        // days of week. an array of zero-based day of week integers (0=Sunday)
        daysOfWeek: [1, 2, 3, 4, 5], // Monday - Thursday

        startTime: '09:00', // a start time (10am in this example)
        endTime: '18:00' // an end time (6pm in this example)
      },
      slotLabelFormat: {
        hour: 'numeric',
        minute: '2-digit',
        meridiem: 'short'
      },
      getDateStart: '',
      getTime: '',
      dateRange: [],
      yAxisOptions: ['一', '二', '三', '四', '五', '六', '日'],
      yAxisOptions1: ['陳', '李', '周', '黃', '何', '鍾', '譚'],
      yAxisOptions2: ['Odin', 'Thor', 'Romanoff', 'Banners', 'Clint', 'Rogers', 'Starks'],
      bookingNumber: ['88', '44', '45', '75', '68', '21'],
      bookingDate: ['2018-03', '2018-04', '2018-05', '2018-06', '2018-07', '2018-08'],
      clientList: { total: 0, list: [] },
      clientValue: [],
      staffList: { total: 0, list: [] },
      staffValue: [],
      taskList: { total: 0, list: [] },
      taskValue: [],
      views: '',
      viewsOptions: [],
      radio3: '',
      pickerOptions2: {
        shortcuts: [{
          text: 'Last week',
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: 'Last month',
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30)
            picker.$emit('pick', [start, end])
          }
        }, {
          text: 'Last 3 months',
          onClick(picker) {
            const end = new Date()
            const start = new Date()
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90)
            picker.$emit('pick', [start, end])
          }
        }]
      },
      clientPage: {
        currentPage: 1,
        perPage: 10
      },
      staffPage: {
        currentPage: 1,
        perPage: 10
      },
      taskPage: {
        currentPage: 1,
        perPage: 10
      },
      companyData: {
        revenue: '',
        clients: '',
        hours: '',
        task: ''
      }
    }
  },
  computed: {
    getRange() {
      return this.dateRange[0] + ' to ' + this.dateRange[1]
    }
  },
  watch: {
    dateRange: {
      deep: true,
      handler(val) {
        this.getRevenueSummary()
        this.getClientSummary()
        this.getStaffSummary()
        this.getTaskSummary()
      }
    },
    views(val) {
      this.getRevenueSummary()
      this.getClientSummary()
      this.getStaffSummary()
      this.getTaskSummary()
    }
  },
  created() {
    this.getCompanyOptions()
    var today = new Date()
    var lastYear = new Date(today.setFullYear(today.getFullYear() - 1))
    today = new Date()
    var month1 = '' + (lastYear.getMonth() + 1)
    var day1 = '' + lastYear.getDate()
    var year1 = lastYear.getFullYear()
    if (month1 < 10) month1 = '0' + month1
    if (day1 < 10) day1 = '0' + day1
    this.dateRange[0] = [year1, month1, day1].join('-')
    var month0 = '' + (today.getMonth() + 1)
    var day0 = '' + today.getDate()
    var year0 = today.getFullYear()
    if (month0 < 10) month0 = '0' + month0
    if (day0 < 10) day0 = '0' + day0
    this.dateRange[1] = [year0, month0, day0].join('-')
    console.log(this.dateRange)
  },
  methods: {
    handleDateClick(arg) {
      var month0 = '' + (arg.date.getMonth() + 1)
      var day0 = '' + arg.date.getDate()
      var year0 = arg.date.getFullYear()
      var hour0 = arg.date.getHours()
      var minute0 = arg.date.getMinutes()
      if (month0 < 10) month0 = '0' + month0
      if (day0 < 10) day0 = '0' + day0
      if (hour0 < 10) hour0 = '0' + hour0
      if (minute0 < 10) minute0 = '0' + minute0
      this.getDateStart = [year0, month0, day0].join('-')
      this.getTime = [hour0, minute0].join(':')
      console.log(this.getDateStart)
      console.log(this.getTime)
    },
    handleClientSizeChange(val) {
      this.clientPage.perPage = val
      this.getClientSummary()
    },
    handleClientCurrentChange(val) {
      this.clientPage.currentPage = val
      this.getClientSummary()
    },
    handleStaffSizeChange(val) {
      this.staffPage.perPage = val
      this.getStaffSummary()
    },
    handleStaffCurrentChange(val) {
      this.staffPage.currentPage = val
      this.getStaffSummary()
    },
    handleTaskSizeChange(val) {
      this.taskPage.perPage = val
      this.getTaskSummary()
    },
    handleTaskCurrentChange(val) {
      this.taskPage.currentPage = val
      this.getTaskSummary()
    },
    getCompanyOptions() {
      this.$store.dispatch('getCompanyOptions', {}).then((json) => {
        for (var i = 0; i < json.length; i++) {
          this.viewsOptions.push({ label: json[i].name, value: json[i].companyID })
        }
        this.views = json[0].companyID
      })
    },
    getRevenueSummary() {
      this.$store.dispatch('getRevenueSummary', {
        startDate: this.dateRange[0],
        endDate: this.dateRange[1],
        companyID: this.views
      }).then((json) => {
        this.bookingNumber = []
        this.bookingDate = []
        for (var i = 0; i < json.revenue.length; i++) {
          this.bookingDate.push(json.revenue[i].date)
          this.bookingNumber.push(json.revenue[i].revenue)
        }
        this.companyData.revenue = json.totalRevenue
        this.companyData.clients = json.totalClients
        this.companyData.hours = json.totalManHours
        this.companyData.task = json.totalTasks
      })
    },
    getClientSummary() {
      this.$store.dispatch('getClientSummary', {
        startDate: this.dateRange[0],
        endDate: this.dateRange[1],
        companyID: this.views,
        page: this.clientPage.currentPage,
        count: this.clientPage.perPage
      }).then((json) => {
        Vue.set(this, 'clientList', json)
        this.clientValue = []
        this.yAxisOptions = []
        for (var i = 0; i < this.clientList.list.length; i++) {
          this.clientValue.push(this.clientList.list[i].average)
          this.yAxisOptions.push(this.clientList.list[i].clientCode)
        }
      })
    },
    getStaffSummary() {
      this.$store.dispatch('getStaffSummary', {
        startDate: this.dateRange[0],
        endDate: this.dateRange[1],
        companyID: this.views,
        page: this.staffPage.currentPage,
        count: this.staffPage.perPage
      }).then((json) => {
        Vue.set(this, 'staffList', json)
        this.staffValue = []
        this.yAxisOptions1 = []
        for (var i = 0; i < this.staffList.list.length; i++) {
          this.staffValue.push(this.staffList.list[i].average)
          this.yAxisOptions1.push(this.staffList.list[i].staffNo)
        }
      })
    },
    getTaskSummary() {
      this.$store.dispatch('getTaskSummary', {
        startDate: this.dateRange[0],
        endDate: this.dateRange[1],
        companyID: this.views,
        page: this.taskPage.currentPage,
        count: this.taskPage.perPage
      }).then((json) => {
        Vue.set(this, 'taskList', json)
        this.taskValue = []
        this.yAxisOptions2 = []
        for (var i = 0; i < this.taskList.list.length; i++) {
          this.taskValue.push(this.taskList.list[i].average)
          this.yAxisOptions2.push(this.taskList.list[i].taskCode)
        }
      })
    }
  }
}
</script>

<style lang='scss'>

@import '@fullcalendar/core/main.css';
@import '@fullcalendar/daygrid/main.css';
@import '@fullcalendar/timegrid/main.css';
// @import '@fullcalendar/timeline/main.css';
// @import '@fullcalendar/resource-timeline/main.css';

</style>
<style>
.container{
    margin:0 5% 0;
}
.fc-time-grid .fc-slats td{
    height: 3.5em;
}
.fc-event .fc-content{
  height: 3.5em
}
.fc-title{
  font-size: 1.125rem
}
.second{
  margin-top:1rem;
}
.filter-container1{
  float: right;
}
.el-card__body{
  margin-bottom: 2rem;
}
</style>

