<!-- Auto Search Component with Api option result -->
<template>
  <b-row class="my-3" style="margin-top: 0 !important;margin-bottom: 0 !important;}" align-v="center">
    <!-- <b-col :sm="labelWidth" class="text-left">
      <label class="mb-0 align-middle">{{label}}</label>
    </b-col> -->
    <b-col :sm="inputWidth">
      <v-select :value="this.value" :options="options" :filterable="false" :disabled="disabled" :placeholder="placeholder" @search="onSearch" @input="input($event)">
        <template slot="no-options">
          No Matching options for this type! You may change the keyword search or the type.
        </template>
        <template slot="option" slot-scope="option">
          <div class="d-center">
            <span v-for="showItem in showItems" class="px-1">{{ option[showItem] }}</span>
          </div>
        </template>
        <template slot="selected-option" scope="option">
          <div class="selected d-center">
            <span v-for="showItem in showItems" class="px-1">{{ option[showItem] }}</span>
          </div>
        </template>
      </v-select>
    </b-col>
  </b-row>
</template>
<script type="text/javascript">
/* eslint-disable */
import Vue from 'vue'
import vSelect from 'vue-select'

var searchWatchDog;
export default {
  name: 'FITAutoSearch',
  components: { vSelect },
  props: {
    label: String,
    width: Number,
    disabled: Boolean,
    placeholder: String,
    paras: {
      type: Array,
      required: true
    },
    showItems: {
      type:Array,
      required: true
    },
    value: [Object,String]
  },
  data() {
    return {
      inputWidth: this.width,
      options: [],
      api: new APIList(),
      // initOption: this.value,
    }
  },
  created() {
    var paras = this.paras;
    for (var i = paras.length - 1; i >= 0; i--) {
      if ((paras[i].key == 'ID') && (paras[i].value)) {
        this.getOptionByID(this);
        
      }
    }
  },
  mounted() {
    this.labelCheck(this.label);
  },
  computed: {
    labelWidth() {
      return 12 - this.inputWidth;
    }
  },
  methods: {
    onSearch(search, loading) {
      this.search(search, this);
    },
    search(searchString, vm) {
      clearTimeout(searchWatchDog);
      searchWatchDog = setTimeout(function() {
        // var parameters = {type:[], value:searchString,customer:'P'};
        var parameters = [];
        parameters = Array.from(vm.paras);
        // for(var i=0;i<vm.paras.length;i++)
        // parameters.type.push(vm.paras[i])
        
        parameters.push({key:'searchesKeywords[cnNameProduct|enNameProduct|hkNameProduct]',value:searchString});
        let params = {
          count:10,
          page:1,
          'searchesKeywords[cnNameProduct|enNameProduct|hkNameProduct]':'',
          adapt:'y'
        };
        $.each(parameters,(index,value) =>{
          params[value.key] = value.value;
        })
        console.log(params);
        vm.api.autoSearch(params, (json) => {
          console.log(json.data)
          var result = json.data.list
          vm.options = result           
            console.log(vm.options);
          },
          (error) => {
            console.error(error);
          })
        // console.log(this.dest,this.paras);
      }, 500);
    },
    getOptionByID(vm){
      // console.log(vm);
      vm.api.autoSearch(vm.dest, vm.paras, (json) => {
            vm.initOption = json.data.list[0];
            // console.log(json);
          },
          (error) => {
            console.error(error);
          })

    },
    labelCheck(label) {
      if (!label) {
        this.inputWidth = 12;
      }
    },
    input(event) {
      this.$emit('input', event);
      console.log(event);
    },
  },
  watch:{
    value(value){
      this.$emit('input', value);
    }
  },
}

</script>
<style type="text/css">
/*.v-select.disabled{
  
}*/

</style>