<template>
  <el-row :gutter="20" class="row-bg" type="flex" align="middle">
    <el-col :span="labelWidth" >
      <label class="mb-0 align-middle">{{ label }}</label>
    </el-col>
    <el-col :span="inputWidth">
      <el-select :value="value" clearable :placeholder="placeholder" :multiple="multiple" :disabled="disabled" style="width:100%" @change="change($event)">
        <el-option
          v-for="item in options"
          :key="item.value || item"
          :label="item.label || item"
          :value="item.value || item"/>
      </el-select>
    </el-col>
  </el-row>
</template>
<script type="text/javascript">
/* eslint-disable */
import Vue from 'vue'


export default{
	name:'FITSelectElement',
	props:{
		label:String,
		options:{  
			type:Array,
			required:true
		},	
		width:Number,
    value:[String,Number,Object,Boolean],
    disabled:Boolean,
    selectSize:Number,
    placeholder:String,
    multiple:Boolean,
	},
  data(){
  	return{
	    inputWidth:this.width,
	   }
  },
  mounted(){
    this.labelCheck(this.label);
  },
  computed:{
  	labelWidth(){
  		return 24-this.inputWidth;
  	}
  },
   methods:{
    labelCheck(label){
      if(!label){
        this.inputWidth=24;
      }
    },
    change(event){
        this.$emit('input', event);
    }
  }
}

</script>
<style type="text/css">
.align-middle{
  text-align: center
}

</style>