<template>
    <div>
        <div v-if="!imageConfirmed" class="uploadContainer">
        <el-row class="dropDownContainer mx-0 my-2" align-v="center">
          <el-col class="text-center">
            <span class="d-block text-primary remindMsg align-center">{{$t('media.upload')}}</span>
          </el-col>
        </el-row>
        </div>

        <div v-if="imageConfirmed" class="uploadContainer-chosen" >
        <el-row  class="dropDownContainer mx-0 my-2" align-v="center">
          <el-col class="text-center">
            <span class="d-block text-primary remindMsg align-center"><img style="width:300px" :src="baseURL + chosenUrl" class="image"/></span>
          </el-col>
        </el-row>
        </div>
    </div>
</template>

<script>
import FITImageUpload from './FITImageUpload.vue'
export default {
    name:"ImageComponent",
    components:{FITImageUpload,},
    data(){
        return{
            imageID:'',
            imageDialog:false,
            confirmDialog:false,
            uploadImage:[],
            chosenUrl:'',
            showImageButton:false,
            imageConfirmed:false,
            baseURL:'https://hmlive.ftech.com.hk/healthcare_rest/uploads/'
            // baseURL:'https://hmlive.ftech.com.hk/plsbook-rest/uploads/'
        }
    },
    props:{
        imageURL:{
            type:String
        }
    },
    methods:{
        openImageDialog(){
            this.imageDialog = true;
        },
        openAnotherDialog(val){
            console.log(val)
            this.chosenUrl = val.imageURL
        this.imageID = val.imageID;
        this.imageDialog = false;
        this.confirmDialog = true;
        },
        confirmChosen(){
            this.confirmDialog = false;
            this.imageConfirmed =true;
            this.$emit("completed",this.imageID)
        },
        showConfirmButton(val){
            if(val == 1){
                this.showImageButton = true
            }
        },
        uploadToMedia(){
            this.$refs.imageUpload.formUploadFiles();
            this.$store.dispatch('Media/uploadImage',{
                file:this.uploadImage.files
            }).then((json) => {
                if(json.status == 200){
                    this.$notify({
                        title:"Upload Success",
                        message:'Successfully Upload',
                        offset:100
                    })
                    this.$refs.imageUpload.initialize();
                    this.$refs.mediaLibrary.getMedia();
                }
            }).catch((err) => {
                console.error(err)
            })
        }
    },
    created(){
        if(this.imageURL){
            this.imageConfirmed = true;
            this.chosenUrl = this.imageURL
        }
    },
    watch:{
    imageURL(val){
        console.log(val)
        if(val){
            this.imageConfirmed = true;
            this.chosenUrl = val
        }
        else{
            this.imageConfirmed = false;
        }
    }
    }
}
</script>
<style>
.uploadContainer{
    background-color: #f1f9ff;
    height: 100px;
    width: 100%;
    border: dotted 1px #ccc;
    cursor: pointer;
}
.uploadContainer-chosen{
    background-color: #fcfcfc;
    width: 100%;
    border: dotted 1px #ccc;
    cursor: pointer;
}
.align-center{
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 1.5rem;
}
</style>


