<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input :placeholder="$t('general.search')" v-model="filter.search" style="width:40%; margin-right: 10px" class="filter-item" clearable/>
      <el-button class="filter-item" type="danger" @click="clearFilter"> {{ $t('general.clear') }}</el-button>
      <el-dropdown class="filter-item" trigger="click">
        <el-button type="primary">
          {{ $t('general.create') }}<i class="el-icon-arrow-down el-icon--right"/>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item @click.native="showCompanyModal">{{ $t('invoice.companyInvoice') }}</el-dropdown-item>
          <el-dropdown-item @click.native="showCouponModal">{{ $t('invoice.couponInvoice') }}</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <el-button class="filter-item" type="success" @click="exportCSV">{{ $t('bodyCheck.exportButton') }}</el-button>
    </div>
    <div class="filter-container">
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="12">
          <FITSelectElement v-model="filter.invoiceType" :options="typeOptions" :label="$t('invoice.invoiceType')" :width="18" />
        </el-col>
        <el-col :span="12">
          <FITSelectElement v-model="filter.invoiceStatus" :options="paymentStatusOption" :label="$t('invoice.paymentStatus')" :width="18" />
        </el-col>
      </el-row>
      <el-row :gutter="20" type="flex" align="middle">
        <el-col :span="12">
          <el-row :gutter="20" type="flex" align="middle">
            <el-col :span="6">
              <label>{{ $t('bodyCheck.issueStartDate') }}</label>
            </el-col>
            <el-col :span="18">
              <el-date-picker v-model="filter.startDate" type="date" value-format="yyyy-MM-dd" />
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="12">
          <el-row :gutter="20" type="flex" align="middle">
            <el-col :span="6">
              <label>{{ $t('bodyCheck.issueEndDate') }}</label>
            </el-col>
            <el-col :span="18">
              <el-date-picker v-model="filter.endDate" type="date" value-format="yyyy-MM-dd" />
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <el-row :gutter="20" type="flex" align="middle">
        <el-col :span="12">
          <el-row :gutter="20" type="flex" align="middle">
            <el-col :span="6">
              <label>{{ $t('bodyCheck.paidStartDate') }}</label>
            </el-col>
            <el-col :span="18">
              <el-date-picker v-model="filter.paymentStartDate" type="date" value-format="yyyy-MM-dd" />
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="12">
          <el-row :gutter="20" type="flex" align="middle">
            <el-col :span="6">
              <label>{{ $t('bodyCheck.paidEndDate') }}</label>
            </el-col>
            <el-col :span="18">
              <el-date-picker v-model="filter.paymentEndDate" type="date" value-format="yyyy-MM-dd" />
            </el-col>
          </el-row>
        </el-col>
      </el-row>
    </div>
    <div v-if="filter.invoiceType != 'COUPON'" >
      <el-table key="normal" :data="tableData" style="width: 100%" border >
        <el-table-column type="selection" width="55"/>
        <el-table-column :label="$t('invoice.invoiceNo')" prop="invoiceNo" sortable="custom" width="130"/>
        <el-table-column :label="$t('invoice.invoiceType')" prop="invoiceType" sortable="custom" width="110" />
        <el-table-column key="corporate" v-if="filter.invoiceType !='INDIVIDUAL'" :label="$t('invoice.accountNo')" prop="accountNo" sortable="custom" width="130"/>
        <el-table-column key="corporate" v-if="filter.invoiceType !='INDIVIDUAL'" :label="$t('invoice.corporateName')" prop="enCustomerName" sortable="custom" width="130"/>
        <el-table-column key="individual" v-else :label="$t('invoice.customerIdentityNo')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ getStarred(scope.row.identityNo) }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.issueDate')" prop="issueDate" sortable="custom"/>
        <el-table-column :label="$t('invoice.paymentDate')" prop="paymentDate" sortable="custom"/>
        <el-table-column :label="$t('invoice.totalCharge')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ scope.row.invoiceTotalCharge | currency('HK$') }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.discount')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ scope.row.invoiceDiscount | currency('HK$') }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.netTotal')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ scope.row.invoiceNetTotal | currency('HK$') }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.outstanding')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ scope.row.invoiceOutstanding | currency('HK$') }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.paymentOption')" prop="invoicePaymentOption" sortable="custom"/>
        <el-table-column :label="$t('invoice.paymentStatus')">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.invoiceStatus == '' || scope.row.invoiceStatus == 'NOT PAID'" type="warning">Not Paid</el-tag>
            <el-tag v-else type="success">{{ scope.row.invoiceStatus }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column :label="$t('general.actions')" fixed="right">
          <template slot-scope="scope">
            <el-dropdown trigger="click">
              <el-button type="primary">
                {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <!-- <el-dropdown-item v-if="scope.row.invoiceType == 'Individual'" @click.native="showEditIndividualInvoiceModal(scope.row.invoiceID)">{{ $t('general.edit') }}</el-dropdown-item> -->
                <el-dropdown-item v-if="scope.row.invoiceType == 'Corporate'" @click.native="showEditCompanyInvoiceModal(scope.row.invoiceID,scope.row.invoiceNo)">{{ $t('general.edit') }}</el-dropdown-item>
                <el-dropdown-item v-if="scope.row.invoiceType == 'Coupon'" @click.native="showEditCouponInvoiceModal(scope.row.invoiceID)">{{ $t('general.edit') }}</el-dropdown-item>
                <el-dropdown-item @click.native="showPaymentDialog(scope.row.invoiceID,scope.row.invoiceNo,scope.row.invoiceOutstanding)">{{ $t('invoice.payment') }}</el-dropdown-item>
                <el-dropdown-item v-if="scope.row.invoiceType == 'Individual'" @click.native="exportIndividualInvoice(scope.row.invoiceID)">{{ $t('invoice.exportInvoice') }}</el-dropdown-item>
                <el-dropdown-item v-else @click.native="exportInvoice(scope.row.invoiceID)">{{ $t('invoice.exportInvoice') }}</el-dropdown-item>
                <el-dropdown-item @click.native="deleteInvoice(scope.row.invoiceID)">{{ $t('general.clearInvoice') }}</el-dropdown-item>
                <el-dropdown-item @click.native="releaseInvoice(scope.row.invoiceID,scope.row.invoiceNo)">{{ $t('general.releaseInvoice') }}</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <div v-if="filter.invoiceType == 'COUPON'">
      <el-table key="coupon" :data="couponInvoiceList" style="width: 100%" border >
        <el-table-column type="selection" width="55"/>
        <el-table-column :label="$t('invoice.invoiceNo')" prop="invoiceNo" sortable="custom"/>
        <el-table-column key="coupon" v-if="filter.invoiceType !='INDIVIDUAL'" :label="$t('invoice.accountNo')" prop="accountNo" sortable="custom" width="130"/>
        <el-table-column key="coupon" v-if="filter.invoiceType !='INDIVIDUAL'" :label="$t('invoice.corporateName')" prop="enCustomerName" sortable="custom" width="250"/>
        <el-table-column :label="$t('invoice.couponStartNo')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ getComma(scope.row.startCouponNo) }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.couponQuantity')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ getComma(scope.row.couponQuantity) }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.couponSellType')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ getComma(scope.row.couponSellType) }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.couponUnitPrice')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ getComma(scope.row.couponUnitPrice) | currency('HK$') }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.totalAmount')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ scope.row.invoiceTotalCharge | currency('HK$') }}</span>
          </template>
        </el-table-column>
        </el-table-column>
        <el-table-column :label="$t('invoice.outstanding')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ scope.row.invoiceOutstanding | currency('HK$') }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.issueDate')" prop="issueDate" sortable="custom"/>
        <el-table-column :label="$t('invoice.paymentDate')" prop="paymentDate" sortable="custom"/>
        <el-table-column :label="$t('invoice.paymentStatus')">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.invoiceStatus == '' || scope.row.invoiceStatus == 'NOT PAID'" type="warning">Not Paid</el-tag>
            <el-tag v-else type="success">{{ scope.row.invoiceStatus }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column :label="$t('general.actions')" fixed="right">
          <template slot-scope="scope">
            <el-dropdown trigger="click">
              <el-button type="primary">
                {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item @click.native="showEditCouponInvoiceModal(scope.row.invoiceID)">{{ $t('general.edit') }}</el-dropdown-item>
                <el-dropdown-item @click.native="showPaymentDialog(scope.row.invoiceID,scope.row.invoiceNo,scope.row.invoiceOutstanding)">{{ $t('invoice.payment') }}</el-dropdown-item>
                <el-dropdown-item @click.native="exportCouponInvoice(scope.row.invoiceID)">{{ $t('invoice.exportInvoice') }}</el-dropdown-item>
                <el-dropdown-item @click.native="deleteInvoice(scope.row.invoiceID)">{{ $t('general.clearInvoice') }}</el-dropdown-item>
                <el-dropdown-item @click.native="releaseInvoice(scope.row.invoiceID,scope.row.invoiceNo)">{{ $t('general.releaseInvoice') }}</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleCompanyClose" :visible.sync="modal.company" width="80%">
      <span slot="title" class="dialog-title fixed-content">
        <h2>{{ $t('invoice.createCompanyInvoice') }}
          <el-button :disabled="companyInvoice.customerID===''?true:false" class="filter-item" type="success" @click="openBodyCheckDialog"> {{ $t('invoice.addBodyCheck') }}</el-button>
          <el-button :disabled="companyInvoice.customerID===''?true:false" class="filter-item" type="success" @click="openPlanDialog"> {{ $t('invoice.addPlan') }}</el-button>
          <el-button :disabled="companyInvoice.customerID===''?true:false" class="filter-item" type="success" @click="openItemDialog"> {{ $t('invoice.addItem') }}</el-button>
          <span style="margin-left:2rem;">{{ $t('invoice.totalAmount') }} : {{ companyInvoice.invoiceTotalCharge | currency('HK$') }}</span>
        </h2>

      </span>

      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="12">
          <el-row type="flex" align="middle" :gutter="20">
              <el-col :span="6">
                <label>{{$t('plan.customer')}}</label>
              </el-col>
              <el-col :span="18">
                <el-select
            v-model="companyInvoice.customerID"
            filterable
            remote
            reserve-keyword
            placeholder="Please enter a keyword"
            :remote-method="remoteMethod"
            :loading="loading"
            @change="selectedPaymentOpion"
            >
            <el-option
              v-for="item in customerOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
              </el-col>
            </el-row>
        </el-col>
        <el-col :span="12">
          <el-row type="flex" align="middle" :gutter="20">
                <el-col :span="6" >
                  <label>{{ $t('invoice.invoiceIssueDate') }}</label>
                </el-col>
                <el-col :span="18" >
                  <el-date-picker
                        v-model="companyInvoice.issueDate"
                        type="date"
                        value-format="yyyy-MM-dd"
                        placeholder="Pick a day"/>
                    </el-col>
              </el-row>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="12">
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6" >
              <label>{{ $t('invoice.invoiceRemarks') }}</label>
            </el-col>
            <el-col :span="18" >
              <el-input v-model="companyInvoice.invoiceRemark" :rows="3" type="textarea"/>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="12">
      <el-row v-if="!chosenNo" :gutter="20" type="flex" align="middle">
            <el-col :span="6">
              <label>{{ $t('invoice.availableInvoiceNo') }}</label>
            </el-col>
            <el-col :span="18">
              <el-select v-model="occupiedInvoiceNo" placeholder="Select" clearable>
                <el-option
                  v-for="item in invoiceNoOptions"
                  :key="item.label"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-col>
          </el-row>
          <FITSelectElement v-model="chosenPaymentOption" :label="$t('customer.paymentTerms')" :options="paymentOptions" :width="18" />
        </el-col>
      </el-row>

      <el-table :data="bodyCheck.list" style="width: 100%" border >
        <el-table-column :label="$t('bodyCheck.ID')" prop="bodyCheckNo" sortable="custom"/>
        <el-table-column :label="$t('bodyCheck.customerName')" prop="enCustomerName" sortable="custom" width="150"/>
        <el-table-column :label="$t('bodyCheck.plan')" prop="planCode" sortable="custom"/>
        <el-table-column :label="$t('bodyCheck.checkDate')" prop="serviceDate" sortable="custom" width="100"/>
        <el-table-column :label="$t('bodyCheck.checkTime')" prop="serviceStartTime" sortable="custom" width="100"/>
        <el-table-column :label="$t('bodyCheck.checkBranch')" prop="branchCode" sortable="custom" width="100"/>
        <el-table-column :label="$t('bodyCheck.reportDate')" prop="reportDate" sortable="custom"/>
        <el-table-column :label="$t('bodyCheck.takeReport')" prop="reportOption" sortable="custom"/>
        <el-table-column :label="$t('bodyCheck.finish')" prop="bodyCheckStatus" sortable="custom"/>
        <el-table-column :label="$t('bodyCheck.totalAmount')" prop="bodyCheckTotalCharge" sortable="custom">
          <template slot-scope="scope">
            <span>{{ scope.row.bodyCheckTotalCharge | currency('HK$') }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('bodyCheck.nextCheckDate')" prop="nextServiceDate" sortable="custom" width="100"/>
      </el-table>

      <br>

      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="24">
          <el-table :data="plan.list" style="width: 100%" border >
            <el-table-column :label="$t('invoice.refNo')" prop="planCode" sortable="custom"/>
            <el-table-column :label="$t('invoice.quantity')" prop="planCredit" sortable="custom" />
            <el-table-column :label="$t('invoice.planUnitPrice')" sortable="custom">
              <template slot-scope="scope">
                <span>{{ scope.row.planPrice | currency('HK$') }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('invoice.discount')" prop="planDiscount" sortable="custom" >
              <template slot-scope="scope">
                <span>{{ scope.row.planDiscount | currency('HK$') }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('invoice.totalAmount')" sortable="custom" >
              <template slot-scope="scope">
                <span>{{ scope.row.planTotalCharge | currency('HK$') }}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="24">
          <el-table :data="item.list" style="width: 100%" border >
            <el-table-column :label="$t('invoice.refNo')" prop="itemCode" sortable="custom"/>
            <el-table-column :label="$t('invoice.quantity')" prop="itemCredit" sortable="custom"/>
            <el-table-column :label="$t('invoice.itemPrice')" sortable="custom">
              <template slot-scope="scope">
                <span>{{ scope.row.itemPrice | currency('HK$') }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('invoice.discount')" prop="itemDiscount" sortable="custom" >
              <template slot-scope="scope">
                <span>{{ scope.row.itemDiscount | currency('HK$') }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('invoice.totalAmount')" sortable="custom" >
              <template slot-scope="scope">
                <span>{{ scope.row.itemTotalCharge | currency('HK$') }}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>

      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.company = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="info" @click="saveForLaterCorporate"> {{ $t('invoice.saveForLater') }} </el-button>
        <el-button type="primary" @click="createCorporateInvoice"> {{ $t('invoice.createInvoice') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog id="selectBodyCheck" :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleBodyCheckClose" :visible="modal.bodyCheck" :title="$t('invoice.bodyCheckList')" width="80%" @opened="checking">
      <el-table ref="bodyCheckList" :data="bodyCheckList" style="width: 100%" border @selection-change="bodyCheckSelection">
        <el-table-column type="selection" width="55"/>
        <el-table-column :label="$t('invoice.refNo')" prop="bodyCheckNo" sortable="custom"/>
        <el-table-column :label="$t('bodyCheck.customerName')" prop="enCustomerName" sortable="custom" />
        <el-table-column :label="$t('bodyCheck.planCode')" prop="planCode" sortable="custom" />
        <el-table-column :label="$t('bodyCheck.itemCode')" prop="itemCode" sortable="custom" />
        <el-table-column :label="$t('bodyCheck.checkDate')" prop="serviceDate" sortable="custom" width="100"/>
        <el-table-column :label="$t('bodyCheck.finish')" sortable="custom">
          <template slot-scope="scope">
            <span v-if="scope.row.finish == '1'"><i class="el-icon-check"/></span>
            <span v-if="scope.row.finish == '0'"><i class="el-icon-close"/></span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.totalCharge')" prop="bodyCheckTotalCharge" sortable="custom">
          <template slot-scope="scope">
            <span>{{ scope.row.bodyCheckTotalCharge | currency('HK$') }}</span>
          </template>
        </el-table-column>
      </el-table>

      <pagination v-show="bodyCheckPagination.totalPages > 0" :total="bodyCheckPagination.totalRows" :page.sync="bodyCheckPagination.page" :limit.sync="bodyCheckPagination.count" />

      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelSelectBodyCheck"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="confirmSelectBodyCheck"> {{ $t('invoice.confirmSelectBodyCheck') }} </el-button>
      </span>
    </el-dialog>
    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handlePlanClose" :visible.sync="modal.plan" :show-close="false" width="50%">
      <span slot="title" class="dialog-title">
        <span>{{ $t('bodyCheck.addPlan') }} </span>
        <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addPlanArray"/>
      </span>
      <div v-for="(item,i) in temporyPlan" >
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="16">
            <el-row :gutter="20">
              <el-col :span="6" >
                <label>{{$t('bodyCheck.plan')}}</label>
              </el-col>
              <el-col :span="18" >
                <el-select
                  v-model="item.plan"
                  filterable
                  remote
                  reserve-keyword
                  placeholder="Please enter a keyword"
                  :remote-method="planMethod"
                  :loading="planloading"
                  >
                  <el-option
                    v-for="item in planOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
                <label>{{ $t('bodyCheck.discount') }}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="item.planDiscount" />
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
                <label>{{ $t('bodyCheck.quantity') }}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="item.planCredit" type="number" />
              </el-col>
            </el-row>
          </el-col>
          <el-col :span="8">
            <el-button class="filter-item" type="danger" icon="el-icon-minus" style="margin-left:10px" @click="removePlanArray(i)"/>
          </el-col>
        </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelSelectPlan"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="confirmSelectPlan"> {{ $t('plan.createPlan') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleItemClose" :visible.sync="modal.item" :show-close="false" width="50%">
      <span slot="title" class="dialog-title">
        <span>{{ $t('bodyCheck.addItem') }} </span>
        <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addItemArray"/>
      </span>
      <div v-for="(item,i) in temporyItem" >
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="16">
            <!-- <FITSelectElement v-model="item.item" :options="itemOptions" :width="18" :label="$t('bodyCheck.item')" /> -->
            <el-row :gutter="20">
              <el-col :span="6" >
                <label>{{$t('bodyCheck.item')}}</label>
              </el-col>
              <el-col :span="18" >
                <el-select
                  v-model="item.item"
                  filterable
                  remote
                  reserve-keyword
                  placeholder="Please enter a keyword"
                  :remote-method="itemMethod"
                  :loading="itemloading"
                  >
                  <el-option
                    v-for="item in itemOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
                <label>{{ $t('bodyCheck.discount') }}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="item.itemDiscount" />
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
                <label>{{ $t('bodyCheck.quantity') }}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="item.itemCredit" type="number" />
              </el-col>
            </el-row>
          </el-col>
          <el-col :span="8">
            <el-button class="filter-item" type="danger" icon="el-icon-minus" style="margin-left:10px" @click="removeItemArray(i)"/>
          </el-col>
        </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelSelectItem"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="confirmSelectItem"> {{ $t('item.createItem') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleCouponClose" :visible.sync="modal.coupon" width="80%">
      <span slot="title" class="dialog-title">
        <span>{{$t('invoice.createCouponInvoice')}} </span>
        <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="openAddCouponModal"/>
      </span>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="12">
          <el-row v-if="!chosenNo" :gutter="20" type="flex" align="middle">
            <el-col :span="6">
              <label>{{ $t('invoice.availableInvoiceNo') }}</label>
            </el-col>
            <el-col :span="18">
              <el-select v-model="occupiedInvoiceNo" placeholder="Select" clearable>
                <el-option
                  v-for="item in invoiceNoOptions"
                  :key="item.label"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="12">
        <FITSelectElement v-model="couponInvoice.customerID" :options="agentOptions" :label="$t('invoice.customer')" :width="18" />
        </el-col>
      </el-row>
      <el-table :data="couponArray" style="width: 100%" border>
        <el-table-column :label="$t('invoice.couponStartNo')" prop="startCouponNo" sortable="custom"/>
        <el-table-column :label="$t('invoice.couponQuantity')" prop="couponQuantity" sortable="custom"/>
        <el-table-column :label="$t('coupon.endCouponNo')" prop="endCouponNo" sortable="custom"/>
        <el-table-column :label="$t('invoice.couponSellType')" prop="couponSellType" sortable="custom"/>
        <el-table-column :label="$t('invoice.couponUnitPrice')" prop="couponUnitPrice" sortable="custom">
          <template slot-scope="scope">
          <span>{{scope.row.couponUnitPrice | currency("HK$")}}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.couponDiscount')" prop="couponDiscount" sortable="custom">
          <template slot-scope="scope">
          <span>{{scope.row.couponDiscount | currency("HK$")}}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.couponTotalCharge')" prop="couponTotalCharge" sortable="custom">
          <template slot-scope="scope">
          <span>{{scope.row.couponTotalCharge | currency("HK$")}}</span>
          </template>
        </el-table-column>
      </el-table>
      <el-row :gutter="20" style="margin-top:1rem;">
        <el-col :span="12">
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{ $t('invoice.invoiceIssueDate') }}</label>
        </el-col>
        <el-col :span="18" >
          <el-date-picker
                v-model="couponInvoice.issueDate"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="Pick a day"/>
            </el-col>
      </el-row>
        </el-col>
        <el-col :span="12">
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{ $t('invoice.totalAmount') }}</label>
        </el-col>
        <el-col :span="18" >
          {{ couponResult.invoiceTotalCharge | currency('HK$') }}
        </el-col>
      </el-row>
        </el-col>
      </el-row>

      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.coupon = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="createCouponInvoice"> {{ $t('invoice.createInvoice') }} </el-button>
      </span>

    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleAddCouponClose" :visible.sync="modal.addCoupon" width="50%">
      <span slot="title" class="dialog-title">
        <span>{{$t('invoice.addCouponInvoice')}} </span>
        <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addCouponArray"/>
      </span>
      <div v-for="(item,i) in couponArray" >
      <hr v-if="i>0" size="8px" align="center" width="100%" style="margin-bottom:1rem;">
      <el-row :gutter="20">
        <el-col :span="20">
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{ $t('invoice.couponStartNo') }}</label>
        </el-col>
        <el-col :span="18" >
          <el-input v-model="item.startCouponNo"/>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{ $t('invoice.couponQuantity') }}</label>
        </el-col>
        <el-col :span="18" >
          <el-input v-model="item.couponQuantity"/>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{ $t('coupon.endCouponNo') }}</label>
        </el-col>
        <el-col :span="18" >
          <el-input v-model="item.endCouponNo" disabled />
        </el-col>
      </el-row>

      <FITSelectElement v-model="item.couponSellType" :options="statusOptions" :label="$t('invoice.sellType')" :width="18" />

      <el-row type="flex" align="middle" :gutter="20" v-if="item.couponSellType != 'F'">
        <el-col :span="6" >
          <label>{{ $t('coupon.couponUnitPrice') }}</label>
        </el-col>
        <el-col :span="18" >
          <el-input v-model="item.couponUnitPrice"/>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20" v-if="item.couponSellType != 'F'">
        <el-col :span="6" >
          <label>{{ $t('coupon.couponDiscount') }}</label>
        </el-col>
        <el-col :span="18" >
          <el-input v-model="item.couponDiscount"/>
        </el-col>
      </el-row>
        </el-col>
        <el-col :span="4">
          <el-button class="filter-item" type="danger" icon="el-icon-minus"  @click="removeCouponArray(i)"/>
        </el-col>
      </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelAddCoupon"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="addCouponInvoice"> {{ $t('general.add') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handlePaymentClose" :visible.sync="modal.payment" :title="$t('invoice.createCouponInvoice')" width="70%">
      <span slot="title" class="dialog-title">
        <span>{{ $t('invoice.payment') }} </span>
        <el-button v-if="chosenOutstanding != 0" class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addPaymentDialog"/>
      </span>
      <el-table :data="paymentList" style="width: 100%" border @selection-change="handleSelectionChange">
        <el-table-column type="selection" width="55"/>
        <el-table-column :label="$t('invoice.debitNo')" prop="debitID" sortable="custom"/>
        <el-table-column :label="$t('invoice.paymentDate')" prop="paymentDate" sortable="custom"/>
        <el-table-column :label="$t('invoice.paymentMethod')" prop="paymentMethod" sortable="custom"/>
        <el-table-column :label="$t('invoice.paymentValue')" prop="paymentValue" sortable="custom">
          <template slot-scope="scope">
            {{ scope.row.paymentValue | currency('HK$') }}
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.chequeNo')" prop="chequeNo" sortable="custom"/>
        <el-table-column :label="$t('invoice.invoiceNo')" prop="invoiceNo" sortable="custom"/>
        <el-table-column :label="$t('invoice.fullPaid')" prop="fullPaid" sortable="custom"/>
        <el-table-column :label="$t('general.actions')" fixed="right">
          <template slot-scope="scope">
            <el-dropdown trigger="click">
              <el-button type="primary">
                {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item @click.native="showPaymentDialog(scope.row.debitID)">{{ $t('invoice.payment') }}</el-dropdown-item>
                <el-dropdown-item @click.native="downloadReceipt(scope.row.debitID)">{{ $t('invoice.downloadReceipt') }}</el-dropdown-item>
                <el-dropdown-item @click.native="deleteDebit(scope.row.debitID)">{{ $t('general.delete') }}</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>

      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.payment = false"> {{ $t('general.cancel') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleAddPaymentClose" :visible.sync="modal.addPayment" :show-close="false" width="50%">
      <span slot="title" class="dialog-title">
        <span>{{ $t('invoice.payment') }} </span>
      </span>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="4">
          <label>{{ $t('invoice.invoiceNo') }}</label>
        </el-col>
        <el-col :span="20">
          <span>{{ invoiceNo }}</span>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="16">
          <FITSelectElement v-model="payment.paymentMethod" :options="paymentMethodOptions" :width="18" :label="$t('invoice.paymentMethod')" />
          <el-row v-if="payment.paymentMethod == 'Cheque'">
            <el-col :span="6">
              <label>{{ $t('invoice.chequeNo') }}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="payment.chequeNo" />
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="6">
              <label>{{ $t('invoice.paymentValue') }}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="payment.paymentValue" type="number" />
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="6">
              <label>{{ $t('invoice.paymentDate') }}</label>
            </el-col>
            <el-col :span="18">
              <el-date-picker
                v-model="payment.paymentDate"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="Pick a day"/>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="8">
          <el-button class="filter-item" type="danger" icon="el-icon-minus" style="margin-left:10px" @click="removePaymentMethodArray(i)"/>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.addPayment = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="confirmAddDebit"> {{ $t('invoice.addDebit') }} </el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import Vue from 'vue'
import moment from 'moment'
import Pagination from '@/components/Pagination'
import FITSelectElement from '@/components/FITSelectElement.vue'
import Vue2Filters from 'vue2-filters'
import { TheMask } from 'vue-the-mask'
import _ from 'lodash'
Vue.use(Vue2Filters)

export default {
  name: 'Plan',
  components: {
    Pagination,
    FITSelectElement,
    TheMask
  },
  filters: {

  },
  data() {
    return {
      tableData: [],
      bodyCheckList: [],
      couponInvoiceList: [],
      selectedData: [],
      planOptions: [],
      allPlanOptions: [],
      itemOptions: [],
      allItemOptions: [],
      paymentList: [],
      temporyBodyCheck: [],
      oddTemporyBodyCheck: [],
      toggleBodyCheck: [],
      temporyPlan: [{ category: 'sp', plan: '', planDiscount: '', planCredit: 1 }],
      oddTemporyPlan:[],
      temporyItem: [{ category: 'si', item: '', itemDiscount: '', itemCredit: 1 }],
      oddTemporyItem:[],
      searchQuery: '',
      plan: {},
      loading: false,
      loading1: false,
      checked: false,
      planloading:false,
      itemloading:false,
      loading:false,
      busy:false,
      params: {
        count: 10,
        page: 1,
        search: '',
        direction: 'DESC'
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      bodyCheckPagination: {
        totalPages: 1,
        totalRows: 0,
        page: 1,
        count: 50
      },
      modal: {
        company: false,
        coupon: false,
        payment: false,
        addPayment: false,
        plan: false,
        bodyCheck: false,
        item: false,
        addCoupon:false,
      },
      invoice: {
        invoiceUnitPrice: '',
        invoiceQuantity: '',
        endCouponNo: '',
        startCouponNo: '',
        invoiceExpiryDate: '',
        invoiceStatus: ''
      },
      bodyCheck: {
        list: [],
        total: 0
      },
      plan: {
        list: [],
        total: 0
      },
      item: {
        list: [],
        total: 0
      },
      couponArrayList:{
        list:[],
        total:0
      },
      filter: {
        search: '',
        invoiceType: 'COUPON',
        invoiceStatus: '',
        startDate: '',
        endDate: '',
        paymentStartDate: '',
        paymentEndDate: ''
      },
      result: {
        totalAmount: 0,
        discount: 0.0,
        netTotal: 0,
        outstanding: 0
      },
      couponResult: {
        invoiceTotalCharge: 0,
        invoiceDiscount: '0.0',
        invoiceNetTotal: 0,
        invoiceOutstanding: 0
      },
      companyInvoice: {
        customerID: '',
        attorney: '',
        invoiceRemark: '',
        invoiceType: 'Corporate',
        invoiceTotalCharge: 0,
        invoiceNetTotal: 0,
        invoiceDiscount: '0.0',
        staffID: '',
        invoicePaymentOption:"",
        issueDate:this.transformDateObject(new Date()),
      },
      couponInvoice: {
        customerID:"",
        issueDate:this.transformDateObject(new Date()),
      },
      couponArray:[{
        startCouponNo: '',
        endCouponNo: '',
        couponQuantity: 0,
        couponUnitPrice: 0,
        couponDiscount:0,
        couponSellType: 'A',
        couponTotalCharge:0,
      }],
      oldCouponArray:[],
      staffID: '',
      chosenNo: null,
      chosenInvoiceNo:"",
      chosenGroupID:"",
      chosenPaymentOption:"",
      invoiceNo: '',
      chosenOutstanding: 0,
      rules: {},
      topicList: [],
      customerOptions: [],
      allCustomerOptions:[],
      agentOptions: [],
      invoiceNoOptions:["1","2","3"],
      occupiedInvoiceNo:"",
      branchList: ['NP', 'AB', 'MK', 'TW'],
      isIndeterminate: true,
      checkAll: false,
      typeOptions: [
        { label: 'ALL', value: 'A' },
        { label: 'Individual', value: 'INDIVIDUAL' },
        { label: 'Corporate', value: 'CORPORATE' },
        { label: 'Coupon', value: 'COUPON' }
      ],
      statusOptions: [
        { label: 'Active', value: 'A' },
        { label: 'Disable', value: 'D' },
        { label: 'Free', value: 'F' },
        { label: 'Lost', value: 'L' },
        { label: 'Paid', value: 'P' },
        { label: 'Replace', value: 'R' },
        { label: 'Sold', value: 'S' },
        { label: 'Unlimited', value: 'U' },
        { label: 'Valid', value: 'V' }
      ],
      paymentMethodOptions: [
        { label: this.$t('invoice.creditCard'), value: 'creditCard' },
        { label: this.$t('invoice.cheque'), value: 'Cheque' },
        { label: this.$t('invoice.HCV'), value: 'HCV' },
        { label: this.$t('invoice.cash'), value: 'Cash' },
        { label: this.$t('invoice.transfer'), value: 'Transfer' },
      ],
      paymentOptions: [
        { label: 'C.O.D', value: 'COD' },
        { label: '7 Days', value: '7' },
        { label: '14 Days', value: '14' },
        { label: '1 month', value: '30' }
      ],
      paymentStatusOption: [
        { label: 'ALL', value: 'A' },
        { label: 'Not Paid', value: 'NOT PAID' },
        { label: 'Paid', value: 'PAID' }
      ],
      staffOptions: [],
      payment:
        { paymentMethod: '', paymentValue: '', paymentDate: this.transformDateObject(new Date()), chequeNo: '' },
      categoryOptions: [
        { label: this.$t('general.systemPlan'), value: 'sp' },
        { label: this.$t('general.companyPlan'), value: 'cp' }
      ],
      categoryOptions1: [
        { label: this.$t('general.systemItem'), value: 'si' },
        { label: this.$t('general.companyItem'), value: 'ci' }
      ],
      customerParam: {
        customerType: ['Corporate', 'Agent'],
        page: 1,
        count: 200,
        orderBy: 'accountNo'
      },
      agentParam: {
        customerType: 'Agent',
        page: 1,
        count: 200,
        orderBy: 'accountNo'
      },
      totalAmountObject:{
        planTotalCharge:[],
        itemTotalCharge:[],
        bodyCheckTotalCharge:[]
      }
    }
  },
  computed: {
    totalAmount() {
      let dummyValue = 0
      for (var i = 0; i < this.plan.list.length; i++) {
        dummyValue = dummyValue + this.plan.list[i].planTotalCharge
      }
      for (var j = 0; j < this.item.list.length; j++) {
        dummyValue = dummyValue + this.item.list[j].itemTotalCharge
      }
      for (var k = 0; k < this.bodyCheck.list.length; k++) {
        dummyValue = dummyValue + parseFloat(this.bodyCheck.list[k].bodyCheckTotalCharge)
      }
      return dummyValue
    }
  },
  watch: {
    filter: {
      handler(newValue, oldValue) {
        if(!this.busy){
          Vue.set(this,'busy', true)
        setTimeout(() => {
          Vue.set(this,'busy',false)
          Vue.set(this.params,'page',1)
          this.refresh();
        }, 1000);
      }
      },
      deep: true
    },
    searchQuery: {
      handler(newValue, oldValue) {
        if (newValue === '' && oldValue !== '') {
          this.params.search = ''
          this.refresh()
        }
      }
    },
    params: {
      handler(newValue, oldValue) {
        this.refresh()
      },
      deep: true
    },
    bodyCheckPagination: {
      handler(newValue, oldValue) {
        this.getBodyCheckList()
      },
      deep: true
    },
    companyInvoice: {
      deep: true,
      handler(val) {
        if (val.customerID !== '') {
          this.$store.dispatch('getCustomerDetail', { customerID: val.customerID }).then((json) => {
            this.staffID = json.staffID
            if(json.customerType == 'Corporate')
            this.chosenGroupID = val.customerID
            else
            this.chosenGroupID = json.groupID;
          })
        }
      }
    },
    couponArray:{
      deep:true,
      handler(val){
        if(!this.busy){
          Vue.set(this,'busy', true)
        setTimeout(() => {
          Vue.set(this,'busy', false)
          val.forEach(obj => {
            if(obj.startCouponNo!= '' && obj.couponQuantity != 0){
              obj.endCouponNo = parseInt(obj.startCouponNo) + parseInt(obj.couponQuantity) - 1;
            }
            if(obj.couponUnitPrice == 0 || obj.couponUnitPrice == ''){
              this.$store.dispatch("getCouponList",{page:1,count:10,search:obj.startCouponNo}).then((json) => {
                obj.couponUnitPrice = json.list[0].couponUnitPrice;
              })
            }
          })
        }, 500);
        }
      }
    },
    totalAmountObject:{
      deep:true,
      handler(val){
        var totalCharge = 0;
        val.planTotalCharge.forEach(obj => {
          totalCharge = totalCharge + parseFloat(obj)
        })
        val.itemTotalCharge.forEach(obj => {
          totalCharge = totalCharge + parseFloat(obj)
        })
        val.bodyCheckTotalCharge.forEach(obj => {
          totalCharge = totalCharge + parseFloat(obj)
        })
        this.companyInvoice.invoiceTotalCharge = totalCharge
        this.companyInvoice.invoiceNetTotal = totalCharge
      }
    }

  },
  created() {
    this.refresh()
    this.debounceInput = _.debounce((value) => {
      this.params.search = value
    }, 500)
    this.getCustomerList()
    this.getAgentList()
    this.getItemList()
    this.getStaffList()
  },
  mounted() {
  },
  methods: {
    refresh() {
      this.getInvoiceList()
    },
    clearFilter(){
      this.filter = {
        search: '',
        invoiceType: 'INDIVIDUAL',
        invoiceStatus: '',
        startDate: '',
        endDate: '',
        paymentStartDate: '',
        paymentEndDate: ''
      }
    },
    // new 1
    getInvoiceList() {
      const param = this.params
      if (this.filter.invoiceType == 'A' || this.filter.invoiceType == '') {
        param.invoiceType = null
      } else {
        param.invoiceType = this.filter.invoiceType
      }
      if (this.filter.invoiceStatus == 'A' || this.filter.invoiceStatus == '') {
        param.invoiceStatus = null
      } else {
        param.invoiceStatus = this.filter.invoiceStatus
      }
      if (this.filter.startDate != '' && this.filter.endDate != '') {
        param.startDate = this.filter.startDate
        param.endDate = this.filter.endDate
      } else {
        param.startDate = null
        param.endDate = null
      }
      if (this.filter.paymentStartDate != '' && this.filter.paymentEndDate != '') {
        param.paymentStartDate = this.filter.paymentStartDate
        param.paymentEndDate = this.filter.paymentEndDate
      } else {
        param.paymentStartDate = null
        param.paymentEndDate = null
      }
      if (this.filter.search != '') {
        param.searchType = 'invoiceNo'
        param.search = this.filter.search
      }
      else{
        param.searchType = null;
        param.search = null
      }
      this.$store.dispatch('getInvoiceList', param).then((json) => {
        if (this.filter.invoiceType == 'COUPON') { 
          let dummyArray = [];
           json.list.forEach(obj => {
             if(obj.couponSellType != 'F'){
               dummyArray.push(obj)
             }
           })
          this.couponInvoiceList = dummyArray
        } else { this.tableData = json.list }
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    getCustomerList() {
      const dummyArray = []
      this.$store.dispatch('getCustomerList', this.customerParam).then((json) => {
        for (var i = 0; i < json.list.length; i++) {
          const dummyObject = {}
          dummyObject.label = json.list[i].accountNo + '-' + json.list[i].enCustomerName + '-' + json.list[i].cnCustomerName
          dummyObject.value = json.list[i].customerID
          dummyArray.push(dummyObject)
        }
        if (json.total > 200) {
          const loopTimes = parseInt(json.total / 200)
          for (var j = 0; j < loopTimes; j++) {
            this.$store.dispatch('getCustomerList', { page: j + 2, count: 200, customerType: ['Corporate', 'Agent'], orderBy: 'accountNo' }).then((json1) => {
              for (var k = 0; k < json1.list.length; k++) {
                const dummyObject2 = {}
                dummyObject2.label = json1.list[k].accountNo + '-' + json1.list[k].enCustomerName + '-' + json1.list[k].cnCustomerName
                dummyObject2.value = json1.list[k].customerID
                dummyArray.push(dummyObject2)
              }
            })
          }
        }
        this.customerOptions = dummyArray
        this.allCustomerOptions = dummyArray
      })
    },
    getAgentList() {
      const dummyArray = []
      this.$store.dispatch('getCustomerList', this.agentParam).then((json) => {
        for (var i = 0; i < json.list.length; i++) {
          const dummyObject = {}
          dummyObject.label = json.list[i].accountNo + '-' + json.list[i].enCustomerName + '-' + json.list[i].cnCustomerName
          dummyObject.value = json.list[i].customerID
          dummyArray.push(dummyObject)
        }
        if (json.total > 200) {
          const loopTimes = parseInt(json.total / 200)
          for (var j = 0; j < loopTimes; j++) {
            this.$store.dispatch('getCustomerList', { page: j + 2, count: 200, customerType: 'Agent' }).then((json1) => {
              for (var k = 0; k < json1.list.length; k++) {
                const dummyObject2 = {}
                dummyObject2.label = json1.list[k].accountNo + '-' + json1.list[k].enCustomerName + '-' + json1.list[k].cnCustomerName
                dummyObject2.value = json1.list[k].customerID
                dummyArray.push(dummyObject2)
              }
            })
          }
        }
        this.agentOptions = dummyArray
      })
    },
    getBodyCheckList() {
      this.$store.dispatch('viewBodyCheck', { customerID: this.companyInvoice.customerID, page: this.bodyCheckPagination.page, count: this.bodyCheckPagination.count, bodyCheckStatus: 'Checking',companyPaid:'Y',orderBy:"bodyCheckID",direction:"ASC" }).then((json) => {
        this.bodyCheckList = json.list
        this.bodyCheckPagination.totalRows = parseInt(json.total)
        this.bodyCheckPagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    getPlanList() {
      let dummyArray = [];
      this.$store.dispatch('getPlanList', {page:1,count:200,customerBased:'N',customerID:this.chosenGroupID}).then((json) => {
        for(var i=0;i<json.list.length;i++){
          let dummyObject = {};
          if(json.list[i].discountPrice != 0 )
          {
            dummyObject.label = json.list[i].planCode+'-'+ json.list[i].enPlan +'-$'+json.list[i].discountPrice;
            dummyObject.value = json.list[i].planID+','+json.list[i].planCode +','+json.list[i].discountPrice
          }
          else
          {
            dummyObject.label = json.list[i].planCode+'-'+ json.list[i].enPlan +'-$'+json.list[i].planSpecialPrice;
            dummyObject.value = json.list[i].planID+','+json.list[i].planCode +','+json.list[i].planSpecialPrice
          }
          
          dummyArray.push(dummyObject)
        }
        if(json.total>200){
              let loopTimes = parseInt(json.total/200);
              for(var j=0;j<loopTimes;j++){
                this.$store.dispatch('getPlanList', {page:j+2,count:200,customerBased:'N',customerID:this.chosenGroupID}).then((json1) => {
                  for(var k=0;k<json1.list.length;k++){
                    let dummyObject2 = {};
                    if(json1.list[k].discountPrice != 0)
                    {
                      dummyObject2.label = json1.list[k].planCode+'-'+ json1.list[k].enPlan +'-$'+json1.list[k].discountPrice;
                      dummyObject2.value = json1.list[k].planID+','+json1.list[k].planCode +','+json1.list[k].discountPrice
                    }
                    else
                    {
                      dummyObject2.label = json1.list[k].planCode+'-'+ json1.list[k].enPlan +'-$'+json1.list[k].planSpecialPrice;
                      dummyObject2.value = json1.list[k].planID+','+json1.list[k].planCode +','+json1.list[k].planSpecialPrice
                    }
                    
                    dummyArray.push(dummyObject2)
                  }
                })
              }
            }
        this.planOptions = dummyArray;
        this.allPlanOptions = dummyArray
      })
    },
    getItemList() {
      let dummyArray = [];
      this.$store.dispatch('getItemList', {page:1,count:200}).then((json) => {
        for(var i=0;i<json.list.length;i++){
          let dummyObject = {};
          if(json.list[i].discountPrice != 0  && json.list[i].discountPrice != undefined){
            dummyObject.label = json.list[i].itemCode+'-' + json.list[i].enItem +'-$'+json.list[i].discountPrice;
            dummyObject.value = json.list[i].itemID+'-'+json.list[i].itemCode +'-'+json.list[i].discountPrice
          }
          else{
            dummyObject.label = json.list[i].itemCode+'-' + json.list[i].enItem +'-$'+json.list[i].itemPrice;
            dummyObject.value = json.list[i].itemID+'-'+json.list[i].itemCode +'-'+json.list[i].itemPrice
          }
          dummyArray.push(dummyObject)
        }
        if(json.total>200){
              let loopTimes = parseInt(json.total/200);
              for(var j=0;j<loopTimes;j++){
                this.$store.dispatch('getItemList', {page:j+2,count:200}).then((json1) => {
                  for(var k=0;k<json1.list.length;k++){
                    let dummyObject2 = {};
                    if(json1.list[k].discountPrice != 0  && json1.list[k].discountPrice != undefined){
                      dummyObject2.label = json1.list[k].itemCode+'-'+ json1.list[k].enItem +'-$'+json1.list[k].discountPrice;
                      dummyObject2.value = json1.list[k].itemID+'-'+json1.list[k].itemCode +'-'+json1.list[k].discountPrice
                    }
                    else{
                      dummyObject2.label = json1.list[k].itemCode+'-'+ json1.list[k].enItem +'-$'+json1.list[k].itemPrice;
                      dummyObject2.value = json1.list[k].itemID+'-'+json1.list[k].itemCode +'-'+json1.list[k].itemPrice
                    }
                    
                    dummyArray.push(dummyObject2)
                  }
                })
              }
            }
        this.itemOptions = dummyArray;
        this.allItemOptions = dummyArray
      })
    },
    getStaffList() {
      const dummyArray = []
      this.$store.dispatch('getStaffList', { page: 1, count: 1000 }).then((json) => {
        for (var i = 0; i < json.list.length; i++) {
          const dummyObject = {}
          dummyObject.label = json.list[i].enStaffName + '-' + json.list[i].cnStaffName
          dummyObject.value = json.list[i].staffID
          dummyArray.push(dummyObject)
        }
        if (json.total > 200) {
          const loopTimes = parseInt(json.total / 200)
          for (var j = 0; j < loopTimes; j++) {
            this.$store.dispatch('getCustomerList', { page: j + 2, count: 200 }).then((json1) => {
              for (var k = 0; k < json1.list.length; k++) {
                const dummyObject2 = {}
                dummyObject2.label = json1.list[k].enStaffName + '-' + json1.list[k].cnStaffName
                dummyObject2.value = json1.list[k].staffID
                dummyArray.push(dummyObject2)
              }
            })
          }
        }
        this.staffOptions = dummyArray
      })
    },
    getDebitList() {
      this.$store.dispatch('getDebitHistory', { invoiceID: this.chosenNo }).then((json) => {
        this.paymentList = json.list
      })
    },
    showCompanyModal() {
      this.modal.company = true
      if(localStorage.companyInvoice){
        this.companyInvoice = JSON.parse(localStorage.companyInvoice)
        this.bodyCheckList = JSON.parse(localStorage.bodyCheckList)
        this.plan.list = JSON.parse(localStorage.planList)
        this.plan.total = this.plan.list.length
        this.item.list = JSON.parse(localStorage.itemList)
        this.item.total = this.item.list.length
        this.temporyPlan = JSON.parse(localStorage.temporyPlan)
        this.temporyItem = JSON.parse(localStorage.temporyItem)
        this.temporyBodyCheck = JSON.parse(localStorage.temporyBodyCheck)
      }
      else{
        this.companyInvoice = {
        customerID: '',
        attorney: '',
        invoiceRemark: '',
        invoiceType: 'Corporate',
        invoiceTotalCharge: 0,
        invoiceNetTotal: 0,
        invoiceDiscount: '0.0',
        staffID: '',
        invoicePaymentOption:"",
        issueDate:this.transformDateObject(new Date())
      }
      this.plan = {list:[],total:0}
      this.bodyCheckList = []
      this.item = {list:[],total:0}
      this.bodyCheck = {list:[],total:0}
      this.temporyPlan = []
      this.temporyItem = []
      this.temporyBodyCheck = []
      }
      this.chosenNo = null
      this.getInvoiceNoList();
    },
    showCouponModal() {
      this.modal.coupon = true
      this.couponInvoice = {
        customerID:"",
        issueDate:this.transformDateObject(new Date()),
      }
      this.couponResult = {
        invoiceTotalCharge: 0,
        invoiceDiscount: '0.0',
        invoiceNetTotal: 0,
        invoiceOutstanding: 0
      }
      this.couponArray = [{
        startCouponNo: '',
        endCouponNo: '',
        couponQuantity: 0,
        couponUnitPrice: 0,
        couponDiscount:0,
        couponSellType: 'A',
        couponTotalCharge:0,
      }]
      this.chosenNo = null
      this.getInvoiceNoList();
    },
    openAddCouponModal(){
      this.modal.addCoupon = true
    },
    showEditIndividualInvoiceModal(id) {
      this.$store.dispatch('getInvoiceDetail', { invoiceID: id }).then((json) => {
        console.log(json)
      })
    },
    showEditCompanyInvoiceModal(id,no) {
      this.modal.company = true
      this.chosenNo = id
      this.chosenInvoiceNo = no
      const dummyBodyCheckList = []
      const dummyPlanList = []
      const dummyItemList = []
      const dummyTemporaryPlanList = []
      const dummyTemporaryItemList = []
      const dummyPlanTotalCharge = []
      const dummyItemTotalCharge = []
      const dummyBodyCheckTotalCharge = []
      this.$store.dispatch('getInvoiceDetail', { invoiceID: id }).then((json) => {
        this.companyInvoice = json
        if(this.companyInvoice.planID != null){
          for (var i = 0; i < this.companyInvoice.planID.length; i++) {
          const dummyPlanObject = {}
          const dummyTemporaryPlanObject = {}
          dummyPlanObject.planDiscount = this.companyInvoice.planDiscount[i]
          dummyTemporaryPlanObject.planDiscount = this.companyInvoice.planDiscount[i]
          dummyPlanObject.planCredit = this.companyInvoice.planCredit[i]
          dummyTemporaryPlanObject.planCredit = this.companyInvoice.planCredit[i]
          dummyPlanObject.planID = this.companyInvoice.planID[i]
          dummyPlanObject.planCode = this.companyInvoice.planCode[i]
          dummyPlanObject.planPrice = this.companyInvoice.planPrice[i]
          dummyTemporaryPlanObject.plan = this.companyInvoice.planID[i] + ',' + this.companyInvoice.planCode[i] + ',' + this.companyInvoice.planPrice[i]
          dummyTemporaryPlanObject.category = 'sp'
          dummyPlanObject.planTotalCharge = this.companyInvoice.planTotalCharge[i]
          dummyPlanObject.planAccountNo = this.companyInvoice.planAccountNo[i]
          dummyPlanList.push(dummyPlanObject)
          dummyTemporaryPlanList.push(dummyTemporaryPlanObject)
          dummyPlanTotalCharge.push(dummyPlanObject.planTotalCharge)
          }
        }
        if(this.companyInvoice.itemID != null){
          for (var j = 0; j < this.companyInvoice.itemID.length; j++) {
          const dummyItemObject = {}
          const dummyTemporaryItemObject = {}
          dummyItemObject.itemDiscount = this.companyInvoice.itemDiscount[j]
          dummyTemporaryItemObject.itemDiscount = this.companyInvoice.itemDiscount[j]
          dummyItemObject.itemCredit = this.companyInvoice.itemCredit[j]
          dummyTemporaryItemObject.itemCredit = this.companyInvoice.itemCredit[j]
          dummyItemObject.itemID = this.companyInvoice.itemID[j]
          dummyItemObject.itemCode = this.companyInvoice.itemCode[j]
          dummyItemObject.itemPrice = this.companyInvoice.itemPrice[j]
          dummyTemporaryItemObject.item = this.companyInvoice.itemID[j] + '-' + this.companyInvoice.itemCode[j] + '-' + this.companyInvoice.itemPrice[j]
          dummyTemporaryItemObject.category = 'sp'
          dummyItemObject.itemTotalCharge = this.companyInvoice.itemTotalCharge[j]
          dummyItemObject.itemAccountNo = this.companyInvoice.itemAccountNo[j]
          dummyItemList.push(dummyItemObject)
          dummyTemporaryItemList.push(dummyTemporaryItemObject)
          dummyItemTotalCharge.push(dummyItemObject.itemTotalCharge)
          }
        }
        if(this.companyInvoice.bodyCheckID != null){
          for (var k = 0; k < this.companyInvoice.bodyCheckID.length; k++) {
          const dummyBodyCheckObject = {}
          dummyBodyCheckObject.bodyCheckID = this.companyInvoice.bodyCheckID[k]
          dummyBodyCheckObject.bodyCheckNo = this.companyInvoice.bodyCheckNo[k]
          dummyBodyCheckObject.bodyCheckStatus = this.companyInvoice.bodyCheckStatus[k]
          dummyBodyCheckObject.bodyCheckTotalCharge = this.companyInvoice.bodyCheckTotalCharge[k]
          dummyBodyCheckObject.cnCustomerName = this.companyInvoice.cnCustomerName[k]
          dummyBodyCheckObject.enCustomerName = this.companyInvoice.enCustomerName[k]
          dummyBodyCheckObject.bcPlanCode = this.companyInvoice.bcPlanCode[k]
          dummyBodyCheckObject.serviceDate = this.companyInvoice.serviceDate[k]
          dummyBodyCheckObject.serviceStartTime = this.companyInvoice.serviceStartTime[k]
          dummyBodyCheckObject.branchCode = this.companyInvoice.branchCode[k]
          dummyBodyCheckObject.reportDate = this.companyInvoice.reportDate[k]
          dummyBodyCheckObject.reportOption = this.companyInvoice.reportOption[k]
          dummyBodyCheckObject.nextServiceDate = this.companyInvoice.nextServiceDate[k]
          dummyBodyCheckList.push(dummyBodyCheckObject)
          dummyBodyCheckTotalCharge.push(dummyBodyCheckObject.bodyCheckTotalCharge)
          }
        }
        this.plan.list = dummyPlanList
        this.plan.total = dummyPlanList.length
        this.temporyPlan = dummyTemporaryPlanList
        this.item.list = dummyItemList
        this.item.total = dummyItemList.length
        this.temporyItem = dummyTemporaryItemList
        this.bodyCheck.list = dummyBodyCheckList
        this.bodyCheck.total = dummyBodyCheckList.length
        this.temporyBodyCheck = dummyBodyCheckList
        this.toggleBodyCheck = dummyBodyCheckList
        this.totalAmountObject.planTotalCharge = dummyPlanTotalCharge
        this.totalAmountObject.itemTotalCharge = dummyItemTotalCharge
        this.totalAmountObject.bodyCheckTotalCharge = dummyBodyCheckTotalCharge
      })
    },
    showEditCouponInvoiceModal(id) {
      this.modal.coupon = true
      this.chosenNo = id
      const dummyCouponArrayList = []
      var dummyAddCouponArray = [];
      this.$store.dispatch('getInvoiceDetail', { invoiceID: id }).then((json) => {
        this.couponInvoice = json
        this.couponResult = json; 
        for(var i=0;i<this.couponInvoice.startCouponNo.length;i++){
          let dummyCouponObject = {};
          let dummyAddCouponObject = {};
          dummyAddCouponObject.startCouponNo = this.couponInvoice.startCouponNo[i]
          dummyAddCouponObject.couponQuantity = this.couponInvoice.couponQuantity[i]
          dummyAddCouponObject.endCouponNo = this.couponInvoice.startCouponNo[i] + this.couponInvoice.couponQuantity[i]-1;
          dummyAddCouponObject.couponSellType = this.couponInvoice.couponSellType[i]
          dummyAddCouponObject.couponUnitPrice = this.couponInvoice.couponUnitPrice[i]
          dummyAddCouponObject.couponDiscount = this.couponInvoice.couponDiscount[i]
          dummyAddCouponObject.couponTotalCharge = (this.couponInvoice.couponUnitPrice[i] - this.couponInvoice.couponDiscount[i])*this.couponInvoice.couponQuantity[i]
          dummyAddCouponArray.push(dummyAddCouponObject)
        }
        this.couponArray = dummyAddCouponArray
        this.oldCouponArray = dummyAddCouponArray
      })
    },
    openBodyCheckDialog() {
      this.modal.bodyCheck = true
      this.getBodyCheckList()
    },
    openPlanDialog() {
      this.modal.plan = true
      this.getPlanList()
    },
    openItemDialog() {
      this.modal.item = true
    },
    showPaymentDialog(id, no, outstanding) {
      this.modal.payment = true
      this.chosenNo = id
      this.invoiceNo = no
      this.chosenOutstanding = outstanding
      this.getDebitList()
    },
    addPaymentDialog() {
      this.modal.addPayment = true
      this.$store.dispatch('getInvoiceDetail', { invoiceID: this.chosenNo }).then((json) => {
        if(json.bodyCheckID == null)
        this.payment.paymentDate = this.transformDateObject(new Date())
        else{
          this.$store.dispatch('getBodyCheckDetail', { bodyCheckID: json.bodyCheckID }).then((json1) => {
          this.payment.paymentDate = json1.serviceDate
          })
        }
      })
      this.payment.paymentValue = this.chosenOutstanding
    },
    addCouponArray(){
      this.couponArray.push({
        startCouponNo: '',
        endCouponNo: '',
        couponQuantity: 0,
        couponUnitPrice: 0,
        couponDiscount: 0,
        couponSellType: 'A',
        couponTotalCharge:0,})
    },
    removeCouponArray(index) {
      this.couponArray.splice(index, 1)
    },
    removePlanArray(index){
      this.$confirm('This will permanently remove the chosen Plan. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.temporyPlan.splice(index,1)
        }).catch(() => {
      
        });
    },
    removeItemArray(index){
      this.$confirm('This will permanently remove the chosen Item. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.temporyItem.splice(index,1)
        }).catch(() => {
      
        });
    },
    addCouponInvoice(){
      this.couponResult.invoiceTotalCharge = 0;
      for(var i=0;i<this.couponArray.length;i++){
        if(this.couponArray[i].couponSellType == 'F'){
          this.couponResult.invoiceTotalCharge = this.couponResult.invoiceTotalCharge;
        }
        else{
        this.couponResult.invoiceTotalCharge = this.couponResult.invoiceTotalCharge + this.couponArray[i].couponQuantity * (this.couponArray[i].couponUnitPrice - this.couponArray[i].couponDiscount);
        this.couponArray[i].couponTotalCharge = this.couponArray[i].couponQuantity * (this.couponArray[i].couponUnitPrice - this.couponArray[i].couponDiscount);
        }
      }
      this.modal.addCoupon = false
    },
    cancelAddCoupon(){
      if(this.chosenNo){
        this.couponArray = [
        {
        startCouponNo: '',
        endCouponNo: '',
        couponQuantity: 0,
        couponUnitPrice: 0,
        couponDiscount: 0,
        couponSellType: 'A',
        couponTotalCharge:0,}
      ]
      }
      else{
        this.couponArray = this.oldCouponArray
      }
      this.modal.addCoupon = false

    },
    search(query) {
      this.params.search = query
    },
    createCouponInvoice() {
      var dummyInvoiceNo = '';
      if(this.occupiedInvoiceNo!=""){
        dummyInvoiceNo = this.occupiedInvoiceNo
      }
      else{
        dummyInvoiceNo = null
      }
      if(this.chosenNo){
        this.$confirm('確認修改Coupon invoice？').then(() => {
        const couponArray = this.convertArrayToObject(this.couponArray);
        this.$store.dispatch('editInvoice', { invoiceNoType:'HMC',...this.couponResult, ...this.couponInvoice,...couponArray, invoiceType: 'Coupon',invoiceID:this.chosenNo }).then((json) => {
          this.couponInvoice = {} // reset coupon
          this.couponResult = {
            invoiceTotalCharge: 0,
            invoiceDiscount: '0.0',
            invoiceNetTotal: 0,
            invoiceOutstanding: 0
          },
          this.modal.coupon = false
          this.chosenNo = null;
          this.refresh()
          this.$message({ message: this.$t('success.general'), type: 'success' })
        })
      })
      }
      else{
        this.$confirm('確認新增Coupon invoice？').then(() => {
        const couponArray = this.convertArrayToObject(this.couponArray);
        this.$store.dispatch('createInvoice', { invoiceNoType:'HMC',...this.couponResult, ...this.couponInvoice,...couponArray, invoiceType: 'Coupon',invoiceID:dummyInvoiceNo }).then((json) => {
          this.couponInvoice = {} // reset coupon
          this.couponResult = {
            invoiceTotalCharge: 0,
            invoiceDiscount: '0.0',
            invoiceNetTotal: 0,
            invoiceOutstanding: 0
          },
          this.modal.coupon = false
          this.chosenNo = null;
          this.refresh()
          this.$message({ message: this.$t('success.general'), type: 'success' })
        })
      })
      }
    },
    deleteInvoice(invoiceID) {
      this.$confirm('確認刪除？').then(() => {
        this.$store.dispatch('deleteInvoice', { invoiceID }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.refresh()
        })
      })
    },
    releaseInvoice(id,no) {
      this.$confirm(`確認釋出此invoice？此行動並不能復原。 invoiceNo:(${no})`).then(() => {
        this.$store.dispatch('releaseInvoice', { invoiceID: id }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.refresh()
        })
      })
    },
    deleteDebit(debitID) {
      this.$confirm('確認刪除？').then(() => {
        this.$store.dispatch('deleteDebit', { debitID }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.getDebitList()
        })
      })
    },
    handleSortChange({ column, prop, order }) {
      if (column === null) {
        this.params.orderBy = 'planID'
        this.params.direction = 'DESC'
      } else {
        this.params.orderBy = prop
        this.params.direction = order === 'ascending' ? 'ASC' : 'DESC'
      }
    },
    handleSelectionChange(vals) {
      // Get all IDs
      this.selectedData = vals.map((row) => row.planID)
    },
    handleSelect() {
      this.params.search = this.searchQuery
    },
    handleCheckAllChange(val) {
      this.plan.branchSelected = val ? this.branchList : []
      this.isIndeterminate = false
    },
    handleCheckedBranchesChange(value) {
      const checkedCount = value.length
      this.checkAll = checkedCount === this.branchList.length
      this.isIndeterminate = checkedCount > 0 && checkedCount < this.branchList.length
    },
    addItemArray() {
      this.temporyItem.push({ category: 'sp', item: '', itemDiscount: 0, itemCredit: 1 })
    },
    addPlanArray() {
      this.temporyPlan.push({ category: 'sp', plan: '', planDiscount: 0, planCredit: 1 })
    },
    bodyCheckSelection(val) {
      this.temporyBodyCheck = val
    },
    cancelSelectBodyCheck() {
      if(this.chosenNo)
      this.temporyBodyCheck = this.oddTemporyBodyCheck
      else
      this.temporyBodyCheck = []
      this.modal.bodyCheck = false
    },
    cancelSelectPlan() {
      if(this.chosenNo){
        this.temporyPlan = this.oddTemporyPlan
      }
      else
      this.temporyPlan = []
      this.modal.plan = false
    },
    cancelSelectItem() {
      if(this.chosenNo){
        this.temporyItem = this.oddTemporyItem
      }
      else
      this.temporyItem = []
      this.modal.item = false
    },
    confirmSelectBodyCheck() {
      const dummyTotalAmount = [];
      this.temporyBodyCheck.forEach(obj => {
        dummyTotalAmount.push(obj.bodyCheckTotalCharge)
      })
      this.totalAmountObject.bodyCheckTotalCharge = dummyTotalAmount;
      this.bodyCheck.list = this.temporyBodyCheck
      this.bodyCheck.total = this.temporyBodyCheck.length
      this.modal.bodyCheck = false
    },
    confirmSelectPlan() {
      const dummyArray = []
      const dummyTotalAmount = []
      for (var i = 0; i < this.temporyPlan.length; i++) {
        const dummyObject = {}
        dummyObject.planDiscount = this.temporyPlan[i].planDiscount
        dummyObject.planCredit = this.temporyPlan[i].planCredit
        const dummyArray1 = this.temporyPlan[i].plan.split(',')
        dummyObject.planID = dummyArray1[0]
        dummyObject.planCode = dummyArray1[1]
        dummyObject.planPrice = dummyArray1[2]
        dummyObject.planTotalCharge = (parseFloat(dummyObject.planPrice) - dummyObject.planDiscount) * dummyObject.planCredit
        dummyObject.planAccountNo = ''
        dummyArray.push(dummyObject)
        dummyTotalAmount.push(dummyObject.planTotalCharge)
      }
      console.log(dummyArray)
      this.plan.list = dummyArray
      this.plan.total = dummyArray.length
      this.totalAmountObject.planTotalCharge = dummyTotalAmount
      this.modal.plan = false
    },
    confirmSelectItem() {
      const dummyArray = []
      const dummyTotalAmount = []
      for (var i = 0; i < this.temporyItem.length; i++) {
        const dummyObject = {}
        dummyObject.itemDiscount = this.temporyItem[i].itemDiscount
        dummyObject.itemCredit = this.temporyItem[i].itemCredit
        const dummyArray1 = this.temporyItem[i].item.split('-')
        dummyObject.itemID = dummyArray1[0]
        dummyObject.itemCode = dummyArray1[1]
        dummyObject.itemPrice = dummyArray1[2]
        dummyObject.itemTotalCharge = (parseFloat(dummyObject.itemPrice) - dummyObject.itemDiscount) * dummyObject.itemCredit
        dummyObject.itemAccountNo = ''
        dummyArray.push(dummyObject)
        dummyTotalAmount.push(dummyObject.itemTotalCharge)
      }
      this.item.list = dummyArray
      this.item.total = dummyArray.length
      this.totalAmountObject.itemTotalCharge = dummyTotalAmount
      this.modal.item = false
    },
    createCorporateInvoice() {
      var dummyInvoiceNo = '';
      if(this.occupiedInvoiceNo!=""){
        dummyInvoiceNo = this.occupiedInvoiceNo
      }
      else{
        dummyInvoiceNo = null
      }
      if (this.chosenNo) {
        this.$confirm('Do you confirm to Edit an Invoice to Corporate customer?', 'Edit Corporate Invoice', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'info'
        }).then(() => {
          const bodyCheck = this.convertArrayToObject(this.bodyCheck.list)
          const plan = this.convertArrayToObject(this.plan.list)
          const item = this.convertArrayToObject(this.item.list)
          console.log(this.companyInvoice)
          this.$store.dispatch('editInvoice', {...this.companyInvoice, ...bodyCheck, ...plan, ...item, invoiceID: this.chosenNo,invoiceNo:this.chosenInvoiceNo, staffID: this.staffID,issueDate:this.companyInvoice.issueDate,invoicePaymentOption:this.chosenPaymentOption }).then((json) => {
            this.$message({
              type: 'success',
              message: 'Successfully Created'
            })
            this.getInvoiceList()
            this.chosenNo = null
            this.bodyCheck = { total: 0, list: [] }
            this.plan = { total: 0, list: [] }
            this.item = { total: 0, list: [] }
            this.modal.company = false
            this.getCustomerList()
            localStorage.removeItem('companyInvoice')
            localStorage.removeItem('bodyCheckList')
            localStorage.removeItem('planList')
            localStorage.removeItem('temporyPlan')
            localStorage.removeItem('itemList')
            localStorage.removeItem('temporyItem')
            localStorage.removeItem('temporyBodyCheck')
          })
        }).catch(() => {

        })
      } else {
        this.$confirm('Do you confirm to create an Invoice to Corporate customer?', 'Create Corporate Invoice', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'info'
        }).then(() => {
          const bodyCheck = this.convertArrayToObject(this.bodyCheck.list)
          const plan = this.convertArrayToObject(this.plan.list)
          const item = this.convertArrayToObject(this.item.list)
          this.$store.dispatch('createInvoice', {...this.companyInvoice,invoiceNoType:'HMC',...bodyCheck, ...plan, ...item,invoiceNo:null, staffID: this.staffID,issueDate:this.companyInvoice.issueDate,invoicePaymentOption:this.chosenPaymentOption ,invoiceID:dummyInvoiceNo}).then((json) => {
            this.$message({
              type: 'success',
              message: 'Successfully Created'
            })
            this.getInvoiceList()
            this.modal.company = false
            this.getCustomerList()
            localStorage.removeItem('companyInvoice')
            localStorage.removeItem('bodyCheckList')
            localStorage.removeItem('planList')
            localStorage.removeItem('temporyPlan')
            localStorage.removeItem('itemList')
            localStorage.removeItem('temporyItem')
            localStorage.removeItem('temporyBodyCheck')
          })
        }).catch((err) => {
          console.error(err)
        })
      }
    },
    confirmAddDebit() {
      const dummyObject = this.payment
      if (parseFloat(this.payment.paymentValue) < this.chosenOutstanding) {
        dummyObject.fullPaid = 'N'
        dummyObject.outstanding = this.chosenOutstanding - parseFloat(this.payment.paymentValue)
      } else {
        dummyObject.fullPaid = 'Y'
        dummyObject.outstanding = 0
      }
      dummyObject.invoiceNo = this.invoiceNo
      dummyObject.invoiceID = this.chosenNo
      this.$store.dispatch('createDebit', dummyObject).then((json) => {
        this.$message({
          type: 'success',
          message: 'Successfully Created'
        })
        this.modal.addPayment = false
        this.chosenOutstanding = dummyObject.outstanding
        this.getDebitList()
        this.refresh()
      })
    },
    exportInvoice(id) {
      var FileSaver = require('file-saver')
      this.$store.dispatch('exportInvoice', { invoiceID: id })
        .then((json) => {
          var fileName = json.headers['content-disposition']
          console.log(fileName)
          fileName = fileName.split(' ').join('')
          fileName = fileName.split('attachment;filename=').join('').replace('"', '').replace('"', '')
          console.log(fileName)
          var blob = new Blob([json.data])
          FileSaver.saveAs(blob, fileName)
          this.getInvoiceList()
        })
    },
    exportCouponInvoice(id) {
      var FileSaver = require('file-saver')
      this.$store.dispatch('exportCouponInvoice', { invoiceID: id })
        .then((json) => {
          var fileName = json.headers['content-disposition']
          console.log(fileName)
          fileName = fileName.split(' ').join('')
          fileName = fileName.split('attachment;filename=').join('').replace('"', '').replace('"', '')
          console.log(fileName)
          var blob = new Blob([json.data])
          FileSaver.saveAs(blob, fileName)
          this.getInvoiceList()
        })
    },
    exportIndividualInvoice(id) {
      var FileSaver = require('file-saver')
      this.$store.dispatch('exportIndividualInvoice', { invoiceID: id })
        .then((json) => {
          var fileName = json.headers['content-disposition']
          console.log(fileName)
          fileName = fileName.split(' ').join('')
          fileName = fileName.split('attachment;filename=').join('').replace('"', '').replace('"', '')
          console.log(fileName)
          var blob = new Blob([json.data])
          FileSaver.saveAs(blob, fileName)
          this.getInvoiceList()
        })
    },
    downloadReceipt(id){
      var FileSaver = require('file-saver');
      this.$store.dispatch("downloadReceipt",{debitID:id})
      .then((json) => {
        var fileName = json.headers['content-disposition'];
          console.log(fileName)
        fileName = fileName.split(' ').join('');
        fileName = fileName.split('attachment;filename=').join('').replace("\"", "").replace("\"", "");
        console.log(fileName)
          var blob = new Blob([json.data])
          FileSaver.saveAs(blob,fileName)
      })
    },
    exportCSV() {
      const h = this.$createElement
      const param = {}
      var FileSaver = require('file-saver')
      if (this.filter.invoiceStatus == 'A' || this.filter.invoiceStatus == '') {
        param.invoiceStatus = null
      } else {
        param.invoiceStatus = this.filter.invoiceStatus
      }
      if (this.filter.startDate != '' && this.filter.endDate != '') {
        param.startDate = this.filter.startDate
        param.endDate = this.filter.endDate
      } else {
        param.startDate = null
        param.endDate = null
      }
      if (this.filter.invoiceType == 'A' || this.filter.invoiceType == '') {
        param.invoiceType = null
      } else {
        param.invoiceType = this.filter.invoiceType
      }
      if(this.filter.invoiceStatus == 'PAID'){
        if (this.filter.paymentStartDate != '' && this.filter.paymentEndDate != '') {
        param.paymentStartDate = this.filter.paymentStartDate
        param.paymentEndDate = this.filter.paymentEndDate
      } else {
        param.paymentStartDate = null
        param.paymentEndDate = null
      }
      }
      this.$msgbox({
        title: 'Export the Invoice list',
        message: h('p', null, [
          h('span', null, 'The Payment status you have chosen:'),
          h('span', null, this.filter.invoiceStatus)
        ]),
        showCancelButton: true,
        confirmButtonText: 'Confirm',
        cancelButtonText: 'Cancel',
        beforeClose: (action, instance, done) => {
          if (action === 'confirm') {
            this.$store.dispatch('exportInvoiceReport', param)
              .then((json) => {
                var fileName = json.headers['content-disposition']
                console.log(fileName)
                fileName = fileName.split(' ').join('')
                fileName = fileName.split('attachment;filename=').join('').replace('"', '').replace('"', '')
                console.log(fileName)
                var blob = new Blob([json.data])
                FileSaver.saveAs(blob, fileName)
                done()
              })
          } else {
            done()
          }
        }
      }).then(action => {
        this.$message({
          type: 'info',
          message: 'Finished'
        })
      })
    },
    convertArrayToObject(a) {
      const dummyObject = {}
      a.forEach(obj => {
        Object.keys(obj).forEach(key => {
          dummyObject[key] = (dummyObject[key] || []).concat([obj[key]])
        })
      })
      return dummyObject
    },
    handleCompanyClose(done) {
      done()
    },
    handleBodyCheckClose(done) {
      done()
    },
    handlePlanClose(done) {
      done()
    },
    handleItemClose(done) {
      done()
    },
    handleCouponClose(done) {
      done()
    },
    handleAddCouponClose(done) {
      done()
    },
    handlePaymentClose(done) {
      done()
    },
    handleAddPaymentClose(done) {
      done()
    },
    transformDateObject(date) {
      return moment(date).format('yyyy-MM-DD');
    },
    maskCreditCard(number) {
      var maskedNumber = ''
      if (number == '') { return maskedNumber } else {
        for (var i = 0; i < 16; i++) {
          if (i < 12) {
            maskedNumber = maskedNumber + '*'
          }
        }
        var substring = number.substring(12, 16)
        maskedNumber = maskedNumber + substring
        return maskedNumber
      }
    },
    getStarred(id) {
      var newString = ''
      if (id != null && id != '') {
        for (var i = 0; i < id.length; i++) {
          if (i > 3) {
            newString = newString + '*'
          } else {
            newString = newString + id[i]
          }
        }
        return newString
      } else {
        return id
      }
    },
    getComma(arrayForm) {
      var newString = ''
      if(arrayForm!== null ){
        if(typeof(arrayForm) != 'string'){
          for(var i=0;i<arrayForm.length;i++){
            if(i==0){
              newString = newString + arrayForm[i]
            }
            else{
              newString = newString+' , ' + arrayForm[i]
            }
          }
        }
        else{
        newString = arrayForm
        }
      }

      return newString
      },
      saveForLaterCorporate(){
        localStorage.companyInvoice = JSON.stringify(this.companyInvoice);
        localStorage.bodyCheckList = JSON.stringify(this.bodyCheckList);
        localStorage.planList = JSON.stringify(this.plan.list);
        localStorage.temporyPlan = JSON.stringify(this.temporyPlan);
        localStorage.itemList = JSON.stringify(this.item.list);
        localStorage.temporyItem = JSON.stringify(this.temporyItem);
        localStorage.temporyBodyCheck = JSON.stringify(this.temporyBodyCheck);
        this.$notify({
        title:"Save Entry Successfully",
        message:"The data entry is saved",
        type:"success"
      })
      },
    checking() {
      if (this.chosenNo) {
        if (this.toggleBodyCheck.length != 0) {
          this.$refs.bodyCheckList.clearSelection()
          this.toggleBodyCheck.forEach((obj,i) => {
            this.bodyCheckList.forEach((obj1,j) => {
              if(obj.bodyCheckID == obj1.bodyCheckID){
                this.$refs.bodyCheckList.toggleRowSelection(this.bodyCheckList[j],true);
              }
            })
          })
        } else {
          this.$refs.bodyCheckList.clearSelection()
        }
      }
    },
    planMethod(query){
        let dummyArray = [];
          this.planloading = true;
          setTimeout(() => {
            this.planloading = false;
            if(query == ''){
              this.planOptions = this.allPlanOptions;
            }
            else{
              this.$store.dispatch('getPlanList', {search:query,searchType:'planCode',page:1,count:100,customerBased:'N',customerID:this.chosenGroupID}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
          if(json.list[i].discountPrice != 0 )
          {
            dummyObject.label = json.list[i].planCode+'-'+ json.list[i].enPlan +'-$'+json.list[i].discountPrice;
            dummyObject.value = json.list[i].planID+','+json.list[i].planCode +','+json.list[i].discountPrice
          }
          else
          {
            dummyObject.label = json.list[i].planCode+'-'+ json.list[i].enPlan +'-$'+json.list[i].planSpecialPrice;
            dummyObject.value = json.list[i].planID+','+json.list[i].planCode +','+json.list[i].planSpecialPrice
          }
          dummyArray.push(dummyObject)
            }
            this.planOptions = dummyArray;
          })
            }
          }, 500);
      },
      itemMethod(query) {
      let dummyArray = [];
          this.itemloading = true;
          setTimeout(() => {
            this.itemloading = false;
            if(query == ''){
              this.itemOptions = this.allItemOptions;
            }
            else{
              this.$store.dispatch('getItemList', {search:query,page:1,count:100}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
              if(json.list[i].discountPrice != 0  && json.list[i].discountPrice != undefined){
                dummyObject.label = json.list[i].itemCode+'-' + json.list[i].enItem +'-$'+json.list[i].discountPrice;
                dummyObject.value = json.list[i].itemID+'-'+json.list[i].itemCode +'-'+json.list[i].discountPrice
              }
              else{
                dummyObject.label = json.list[i].itemCode+'-' + json.list[i].enItem +'-$'+json.list[i].itemPrice;
                dummyObject.value = json.list[i].itemID+'-'+json.list[i].itemCode +'-'+json.list[i].itemPrice
              }
              dummyArray.push(dummyObject)
            }
            this.itemOptions = dummyArray;
          })
            }
          }, 500);
      },
      remoteMethod(query){
      let dummyArray = []
      if (query !== '') {
          this.loading = true;
          setTimeout(() => {
            this.loading = false;
            this.$store.dispatch('getCustomerList', {search:query,searchType:["enCustomerName","cnCustomerName"],customerType:["Corporate","Agent"],page:1,count:200}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
              dummyObject.label=json.list[i].accountNo+'-'+json.list[i].enCustomerName  + '-' + json.list[i].cnCustomerName;
              dummyObject.value = json.list[i].customerID;
              dummyArray.push(dummyObject)
            }
            if(json.total>200){
              let loopTimes = parseInt(json.total/200);
              for(var j=0;j<loopTimes;j++){
                this.$store.dispatch('getCustomerList', {search:query,searchType:["enCustomerName","cnCustomerName"],customerType:["Corporate","Agent"],page:j+2,count:200}).then((json1) => {
                  for(var k=0;k<json1.list.length;k++){
                    let dummyObject2 = {};
                    dummyObject2.label = json1.list[k].accountNo +'-'+json1.list[k].enCustomerName  + '-' + json1.list[k].cnCustomerName;
                    dummyObject2.value = json1.list[k].customerID
                    dummyArray.push(dummyObject2)
                  }
                })
              }
            }
            this.customerOptions = dummyArray;
          })
          }, 1000);
        } else {
          this.customerOptions = this.allCustomerOptions;
        }
    },
    selectedPaymentOpion(){
      this.$store.dispatch("getCustomerDetail",{customerID:this.companyInvoice.customerID}).then((json) =>{
        this.chosenPaymentOption = json.paymentOption
      })
    },
    getInvoiceNoList(){
        this.$store.dispatch("getInvoiceNoList",{}).then((json) => {
          this.invoiceNoOptions = json.list.map((obj) => {
            return {
              label: obj.invoiceNo,
              value: obj.invoiceID
            }
          })
          if(this.invoiceNoOptions.length!=0){
            this.occupiedInvoiceNo = this.invoiceNoOptions[0].value
          }
        })
      }
  }
}
</script>

<style scoped>

</style>
