<template>
  <div class="app-container">
    <div class="filter-container">
      <el-row type="flex" :gutter="20">
        <el-col :span="6">
          <FITSelectElement v-if="filters.customerType == 'Individual'" v-model="filter.searchType" :options="typeOptions" :label="$t('customer.searchType')" :width="18" />
          <FITSelectElement v-if="filters.customerType == 'Corporate' || filters.customerType == 'Agent'" v-model="filter.searchType" :options="typeOptions1" :label="$t('customer.searchType')" :width="18" />
        </el-col>
        <el-col :span="18">
          <el-input v-if="filter.searchType != 'activeDate'" :placeholder="$t('general.search')" style="width: 30%; margin-left: 10px"  clearable v-model="filter.search" />
          <el-date-picker v-else
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="Pick a day" style="width: 30%; margin-left: 10px" v-model="filter.search" />
      <el-button  type="danger" @click="clearFilter">{{$t('bodyCheck.clearButton')}}</el-button>
      <el-dropdown trigger="click" style="margin-left:2rem;">
            <el-button type="primary">
              {{ $t('customer.createCustomer') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="showIndividualDialog">{{ $t('customer.individual') }}</el-dropdown-item>
              <el-dropdown-item @click.native="showCorporateDialog">{{ $t('customer.corporate') }}</el-dropdown-item>
            </el-dropdown-menu>
      </el-dropdown>
      <el-button  type="success" style="margin-left:10px" @click="openUploadModal">{{$t('customer.uploadFile')}}</el-button>
        </el-col>
      </el-row>
      <el-row :gutter="20" type="flex" align="middle">
        <el-col :span="8">
        <FITSelectElement v-model="filters.customerType" :options="customerTypeOptions" :label="$t('customer.customerType')" :width="18" />
        </el-col>
        <el-col :span="8">
        <FITSelectElement v-if="filters.customerType == 'Individual'" v-model="filter.advertise" :options="filterAdvertiseOptions" :label="$t('customer.promotionAccept')" :width="18" />
        <FITSelectElement v-if="filters.customerType == 'Corporate' || filters.customerType == 'Agent'" v-model="filter.customerDistrict" :options="filterDistrictOptions" :label="$t('customer.district')" :width="18" />
        </el-col>
      </el-row>

      <!-- <el-autocomplete
        v-model="searchQuery"
        :fetch-suggestions="querySearchAsync"
        :placeholder="$t('general.search')"2
        class="filter-item"
        style="width: 200px; margin-left: 10px"
        clearable
        @select="handleSelect"
      /> -->
    </div>
    <div v-if="filters.customerType == 'Individual'">
    <el-table :data="tableData" style="width: 100%" key="btable" border @sort-change="handleSortChange"  >
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('customer.enCustomerName')" prop="enCustomerName" sortable="custom" width="150"/>
      <el-table-column :label="$t('customer.cnCustomerName')" prop="cnCustomerName" sortable="custom"/>
      <el-table-column :label="$t('customer.customerPhone')" prop="customerTel" sortable="custom"/>
      <el-table-column v-if="filters.customerType == 'Individual'" key="identity" :label="$t('customer.customerIdentityNo')" prop="customerIdentityNo" sortable="custom">
        <template slot-scope="scope">
          <span>{{getStarred(scope.row.customerIdentityNo)}}</span>
        </template>
      </el-table-column>
      <el-table-column v-if="filters.customerType == 'Individual'" key="gender" :label="$t('customer.gender')" sortable="custom">
        <template slot-scope="scope">
          <span>{{getGenderTranslate(scope.row.sex)}}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('customer.customerType')" prop="customerType" sortable="custom"/>
      <el-table-column key="custom" :label="$t('customer.customerStatus')" sortable="custom">
        <template slot-scope="scope">
          {{statusTranslate(scope.row.customerStatus)}}
        </template>
      </el-table-column>
        <el-table-column v-if="filters.customerType == 'Individual'"  key="birth" :label="$t('customer.age')" sortable="custom">
        <template slot-scope="scope">
          {{getActualAge(scope.row.birth)}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('customer.bookingDate')" prop="activeDate" sortable="custom"/>
      <el-table-column :label="$t('customer.remarks')" prop="customerRemarks" width="250" sortable="custom"/>
      <el-table-column :label="$t('customer.promotionAccept')"  sortable="custom">
        <template slot-scope="scope">
          {{translateAdvertise(scope.row.advertise)}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('customer.customerEmail')" v-if="filters.customerType == 'Individual'" key="mail" prop="customerMail" sortable="custom"/>
      <el-table-column :label="$t('customer.relatedStaff')" prop="salesCode" sortable="custom"/>
      <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item v-if="scope.row.customerType == 'Individual'" @click.native="showEditIndividualModal(scope.row.customerID)">{{ $t('customer.editIndividual') }}</el-dropdown-item>
              <el-dropdown-item v-if="scope.row.customerType == 'Corporate' || scope.row.customerType == 'Agent'" @click.native="showEditCompanyModal(scope.row.customerID)">{{ $t('customer.editCompany') }}</el-dropdown-item>
              <el-dropdown-item @click.native="viewBodyCheck(scope.row.customerID)">{{ $t('customer.viewBodyCheck') }}</el-dropdown-item>
              <el-dropdown-item @click.native="viewFile(scope.row.customerID)">{{ $t('customer.viewFile') }}</el-dropdown-item>
              <el-dropdown-item @click.native="viewInvoice(scope.row.customerID,scope.row.customerType)">{{ $t('customer.viewInvoice') }}</el-dropdown-item>
              <el-dropdown-item v-if="scope.row.customerType == 'Corporate' || scope.row.customerType == 'Agent'" @click.native="viewItem(scope.row.customerID)">{{ $t('customer.viewItem') }}</el-dropdown-item>
              <el-dropdown-item v-if="scope.row.customerType == 'Agent'" @click.native="viewCoupon(scope.row.customerID)">{{ $t('customer.viewCoupon') }}</el-dropdown-item>
              <el-dropdown-item v-if="scope.row.customerType == 'Corporate' || scope.row.customerType == 'Agent'" @click.native="viewPlan(scope.row.customerID)">{{ $t('customer.viewPlan') }}</el-dropdown-item>
              <el-dropdown-item v-if="scope.row.customerType == 'Corporate' || scope.row.customerType == 'Agent'" @click.native="viewDiscountPlan(scope.row.accountNo,scope.row.customerID)">{{ $t('plan.discountPriceList') }}</el-dropdown-item>
              <el-dropdown-item v-if="scope.row.customerType == 'Corporate' || scope.row.customerType == 'Agent'" @click.native="viewDiscountItem(scope.row.accountNo,scope.row.customerID)">{{ $t('item.discountPriceList') }}</el-dropdown-item>
              <el-dropdown-item v-if="scope.row.customerType == 'Individual'" @click.native="viewPromotionOffer(scope.row.customerID)">{{ $t('customer.promotionOffer') }}</el-dropdown-item>
              <el-dropdown-item @click.native="deleteCustomer(scope.row.customerID,scope.row.cnCustomerName)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>

    </div>

    <div v-else>
      <el-table :data="tableData" style="width: 100%" key="btable" border @sort-change="handleSortChange"  >
      <el-table-column type="selection" width="55"/>
      <el-table-column v-if="filters.customerType != 'Individual'" key="accountNo" :label="$t('customer.ID')" prop="accountNo" sortable="custom"/>
      <el-table-column :label="$t('customer.enCustomerName')" prop="enCustomerName" sortable="custom" width="150"/>
      <el-table-column :label="$t('customer.cnCustomerName')" prop="cnCustomerName" sortable="custom"/>
      <el-table-column :label="$t('customer.customerPhone')" prop="customerTel" sortable="custom"/>
      <el-table-column v-if="filters.customerType == 'Individual'" key="identity" :label="$t('customer.customerIdentityNo')" prop="customerIdentityNo" sortable="custom">
        <template slot-scope="scope">
          <span>{{getStarred(scope.row.customerIdentityNo)}}</span>
        </template>
      </el-table-column>
      <el-table-column v-if="filters.customerType == 'Individual'" key="gender" :label="$t('customer.gender')" sortable="custom">
        <template slot-scope="scope">
          <span>{{getGenderTranslate(scope.row.sex)}}</span>
        </template>
      </el-table-column>
      <el-table-column :label="$t('customer.customerType')" prop="customerType" sortable="custom"/>
      <el-table-column key="custom" :label="$t('customer.customerStatus')" sortable="custom">
        <template slot-scope="scope">
          {{statusTranslate(scope.row.customerStatus)}}
        </template>
      </el-table-column>
      <el-table-column v-if="filters.customerType == 'Individual'" key="age" :label="$t('customer.age')" prop="age" sortable="custom"/>
      <el-table-column :label="$t('customer.bookingDate')" prop="activeDate" sortable="custom"/>
      <el-table-column :label="$t('customer.remarks')" prop="customerRemarks" width="250" sortable="custom"/>
      <el-table-column :label="$t('customer.promotionAccept')"  sortable="custom">
        <template slot-scope="scope">
          {{translateAdvertise(scope.row.advertise)}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('customer.customerEmail')" v-if="filters.customerType == 'Individual'" key="mail" prop="customerMail" sortable="custom"/>
      <el-table-column :label="$t('customer.relatedStaff')" prop="salesCode" sortable="custom"/>
      <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item v-if="scope.row.customerType == 'Individual'" @click.native="showEditIndividualModal(scope.row.customerID)">{{ $t('customer.editIndividual') }}</el-dropdown-item>
              <el-dropdown-item v-if="scope.row.customerType == 'Corporate' || scope.row.customerType == 'Agent'" @click.native="showEditCompanyModal(scope.row.customerID)">{{ $t('customer.editCompany') }}</el-dropdown-item>
              <el-dropdown-item @click.native="viewBodyCheck(scope.row.customerID)">{{ $t('customer.viewBodyCheck') }}</el-dropdown-item>
              <el-dropdown-item @click.native="viewFile(scope.row.customerID)">{{ $t('customer.viewFile') }}</el-dropdown-item>
              <el-dropdown-item @click.native="viewInvoice(scope.row.customerID,scope.row.customerType)">{{ $t('customer.viewInvoice') }}</el-dropdown-item>
              <el-dropdown-item v-if="scope.row.customerType == 'Corporate' || scope.row.customerType == 'Agent'" @click.native="viewItem(scope.row.customerID)">{{ $t('customer.viewItem') }}</el-dropdown-item>
              <el-dropdown-item v-if="scope.row.customerType == 'Agent'" @click.native="viewCoupon(scope.row.customerID)">{{ $t('customer.viewCoupon') }}</el-dropdown-item>
              <el-dropdown-item v-if="scope.row.customerType == 'Corporate' || scope.row.customerType == 'Agent'" @click.native="viewPlan(scope.row.customerID)">{{ $t('customer.viewPlan') }}</el-dropdown-item>
              <el-dropdown-item v-if="scope.row.customerType == 'Corporate' || scope.row.customerType == 'Agent'" @click.native="viewDiscountPlan(scope.row.accountNo,scope.row.customerID)">{{ $t('plan.discountPriceList') }}</el-dropdown-item>
              <el-dropdown-item v-if="scope.row.customerType == 'Corporate' || scope.row.customerType == 'Agent'" @click.native="viewDiscountItem(scope.row.accountNo,scope.row.customerID)">{{ $t('item.discountPriceList') }}</el-dropdown-item>
              <el-dropdown-item @click.native="deleteCustomer(scope.row.customerID,scope.row.cnCustomerName)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    </div>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />
    
    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false" id="individual"  :before-close="handleIndividualClose" :visible.sync="modal.createIndividual" :title="$t('customer.createIndividualCustomer')" width="80%">
        
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="8">
            <el-row type="flex" align="middle" :gutter="20">
              <el-col :span="6">
                <label>ID Number</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="individual.customerIdentityNo" />
              </el-col>
            </el-row>
          </el-col>
          <el-col :span="4">
            <el-row type="flex" align="middle" :gutter="20">
              <el-col :span="24">
                <el-button type="primary" @click="checkIDExistence" >{{$t('general.checkIDExistence')}}</el-button>
              </el-col>
            </el-row>
          </el-col>
          <el-col :span="12">
            <FITSelectElement v-model="individual.customerType" :options="customerTypeOptions" :label="$t('customer.customerType')" :width="18" :disabled="true" />
          </el-col>
        </el-row>

        <el-row :gutter="20" type="flex" align="middle">
          <el-col :span="3">
            <label>{{$t('customer.relatedCorporate')}}</label>
          </el-col>
          <el-col :span="5">
            <el-select
            v-model="corporateID"
            clearable
            filterable
            remote
            reserve-keyword
            @change="selectedID"
            placeholder="Please enter a keyword"
            :remote-method="renderCorporateID"
            :loading="loadingCorporateID">
            <el-option
              v-for="item in idOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          </el-col>
          <el-col :span="16">
            <el-select
            v-model="corporateName"
            filterable
            clearable
            remote
            reserve-keyword
            @change="selectedName"
            placeholder="Please enter a keyword"
            :remote-method="renderCorporateName"
            :loading="loadingCorporateName">
            <el-option
              v-for="item in nameOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          </el-col>
        </el-row>

        <el-row :gutter="20" type="flex" align="middle">
          <el-col :span="12">
            <el-row :gutter="20" type="flex" align="middle">
          <el-col :span="6">
            <label>{{$t('customer.employeeNo')}}</label>
          </el-col>
          <el-col :span="18">
            <el-input v-model="individual.employeeNo" /> 
          </el-col>
            </el-row>
          </el-col>
          <el-col :span="12">
            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="6">
                <label>{{$t('customer.relatedStaff')}}</label>
              </el-col>
              <el-col :span="18">
                <el-select v-model="chosenStaff"
                filterable
                remote
                reserve-keyword
                placeholder="Please enter a keyword"
                :remote-method="renderStaffID"
                :loading="loadingStaffID" >
                  <el-option
                  v-for="item in staffList"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                  />
                </el-select>
              </el-col>
            </el-row>
          </el-col>
        </el-row>


        <el-row :gutter="20" type="flex" align="middle">
          <el-col :span="16">

            <el-row :gutter="20" type="flex" align="middle">
          <el-col :span="4">
            <label>{{$t('customer.englishName')}}</label>
          </el-col>
          <el-col :span="4">
            <el-select v-model="individual.prefix" placeholder="Select">
              <el-option
                v-for="item in prefixOptions"
                :key="item"
                :label="item"
                :value="item"
                />
            </el-select>
          </el-col>
          <el-col :span="16">
            <el-input v-model="individual.enCustomerName" />
          </el-col>
            </el-row>

            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="4">
                <label>{{$t('customer.chineseName')}}</label>
              </el-col>
              <el-col :span="8">
                <el-input v-model="individual.cnCustomerName" />
              </el-col>
              <el-col :span="3">
                <label>{{$t('customer.sex')}}</label>
              </el-col>
              <el-col :span="3">
                <el-select v-model="individual.sex" >
                  <el-option
                  v-for="item in sexOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                  />
                </el-select>
              </el-col>
              <el-col :span="3">
                <label>{{$t('customer.age')}}</label>
              </el-col>
              <el-col :span="3">
                <el-input v-model="individual.age" type="number" />
              </el-col>
            </el-row>

            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="4">
                <label>{{$t('customer.remarks')}}</label>
              </el-col>
              <el-col :span="20">
                <el-input
                  v-model="individual.customerRemarks"
                  type="textarea"
                  :rows="4"
                  >
                </el-input>
              </el-col>
            </el-row>

          </el-col>
          <el-col :span="8">

            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="8">
                <label>{{$t('customer.birthday')}}</label>
              </el-col>
              <el-col :span="16">
                <el-date-picker
                  v-model="individual.birth"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="Pick a day">
                </el-date-picker>
              </el-col>
            </el-row>

            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="8">
                <label>{{$t('customer.bookingDate')}}</label>
              </el-col>
              <el-col :span="16">
                <el-date-picker
                  v-model="individual.activeDate"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="Pick a day">
                </el-date-picker>
              </el-col>
            </el-row>

            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="8">
                <label>{{$t('customer.status')}}</label>
              </el-col>
              <el-col :span="16">
                <el-select v-model="individual.customerStatus" >
                  <el-option
                  v-for="item in statusOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                  />
                </el-select>
              </el-col>
            </el-row>

            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="8">
                <label>{{$t('customer.stopDate')}}</label>
              </el-col>
              <el-col :span="16">
                <el-date-picker
                  v-model="individual.inactiveDate"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="Pick a day">
                </el-date-picker>
              </el-col>
            </el-row>

          </el-col>
        </el-row>

        <el-row :gutter="20" type="flex" align="middle">

          <el-col :span="12">

              <FITSelectElement v-model="individual.paymentOption" :label="$t('customer.paymentTerms')" :options="paymentTermsOptions" :width="18" />

              <FITSelectElement v-model="individual.customerDistrict" :label="$t('customer.district')" :options="districtOptions" :width="18" />

              <el-row :gutter="20" type="flex" align="middle">
                <el-col :span="6">
                  <label>{{$t('customer.email')}}</label>
                </el-col>
                <el-col :span="18">
                  <el-input v-model="individual.customerMail" />
                </el-col>
              </el-row>

              <el-row :gutter="20" type="flex" align="middle">
                <el-col :span="6">
                  <label>{{$t('customer.attn')}}</label>
                </el-col>
                <el-col :span="18">
                  <el-input v-model="individual.attorney" />
                </el-col>
              </el-row>

              <FITSelectElement v-model="individual.advertise" :options="advertiseOptions" :label="$t('customer.promotionAccept')" :width="18" />
          </el-col>

          <el-col :span="12">
            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="6">
                <label>{{$t('customer.mobileNo')}}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="individual.customerTel" />
              </el-col>
            </el-row>
            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="6">
                <label>{{$t('customer.officeTel')}}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="individual.officeTel" />
              </el-col>
            </el-row>
            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="6">
                <label>{{$t('customer.homeTel')}}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="individual.homeTel" />
              </el-col>
            </el-row>
            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="6">
                <label>{{$t('customer.faxNo')}}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="individual.faxNo" />
              </el-col>
            </el-row>
            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="6">
                <label>{{$t('customer.member')}}</label>
              </el-col>
              <el-col :span="18">
                <el-date-picker
                  v-model="individual.member"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="Pick a day">
                </el-date-picker>
              </el-col>
            </el-row>
          </el-col>
        </el-row>

        <el-row :gutter="20" type="flex" align="middle">
          <el-col :span="3">
                <label>{{$t('customer.englishAddress')}}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="individual.enAddress" type="textarea" :rows="4" />
              </el-col>
        </el-row>

      <div>
        <el-button @click="modal.createIndividual = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" v-if="individual.customerID" @click="createIndividualCustomer"> {{ $t('customer.editIndividualCustomer') }} </el-button>
        <el-button type="primary" v-else @click="createIndividualCustomer"> {{ $t('customer.createIndividualCustomer') }} </el-button>
        <el-button type="info" v-if="chosenID == ''" @click="saveForLaterIndividual"> {{ $t('customer.saveForLater') }} </el-button>
      </div>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false" id="corporate"  :before-close="handleCorporateClose" :visible.sync="modal.createCorporate" :title="$t('customer.createCorporateCustomer')" width="80%">
        
        <FITSelectElement v-model="corporate.headOffice" :label="$t('customer.mainCompany')" :options="mainCompanyOptions" :width="21" />
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="3">
            <label>{{$t('customer.cnCustomerName')}}</label>
          </el-col>
          <el-col :span="21">
            <el-input v-model="corporate.cnCustomerName" />
          </el-col>
        </el-row>
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="3">
            <label>{{$t('customer.enCustomerName')}}</label>
          </el-col>
          <el-col :span="21">
            <el-input v-model="corporate.enCustomerName" />
          </el-col>
        </el-row>
        <FITSelectElement v-model="corporate.customerDistrict" :label="$t('customer.district')" :options="districtOptions" :width="21" />
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="3">
            <label>{{$t('customer.englishAddress')}}</label>
          </el-col>
          <el-col :span="9">
            <el-input v-model="corporate.enAddress" />
          </el-col>
          <el-col :span="3">
            <label>{{$t('general.chAddress')}}</label>
          </el-col>
          <el-col :span="9">
            <el-input v-model="corporate.cnAddress" />
          </el-col>
        </el-row>
        <el-row :gutter="20" type="flex" align="middle">
          <el-col :span="9" :offset="3">
            <el-input v-model="corporate.enAddress2" />
          </el-col>
          <el-col :span="9" :offset="3">
            <el-input v-model="corporate.cnAddress2" />
          </el-col>
        </el-row>
        <el-row :gutter="20" type="flex" align="middle">
          <el-col :span="9" :offset="3">
            <el-input v-model="corporate.enAddress3" />
          </el-col>
          <el-col :span="9" :offset="3">
            <el-input v-model="corporate.cnAddress3" />
          </el-col>
        </el-row>

        <el-row :gutter="20" type="flex" align="middle" >
          <el-col :span="3">
            <label>{{$t('customer.phone1')}}</label>
          </el-col>
          <el-col :span="5">
            <el-input v-model="corporate.customerTel" />
          </el-col>
          <el-col :span="3">
            <label>{{$t('customer.phone2')}}</label>
          </el-col>
          <el-col :span="5">
            <el-input v-model="corporate.customerTel2" />
          </el-col>
          <el-col :span="3">
            <label>{{$t('customer.phone3')}}</label>
          </el-col>
          <el-col :span="5">
            <el-input v-model="corporate.customerTel3" />
          </el-col>
        </el-row>

        <el-row :gutter="20" type="flex" align="middle" >
          <el-col :span="3">
            <label>{{$t('customer.fax1')}}</label>
          </el-col>
          <el-col :span="5">
            <el-input v-model="corporate.faxNo" />
          </el-col>
        </el-row>

        <el-row :gutter="20" type="flex" align="middle">
          <el-col :span="3">
            <label>{{$t('client.email1')}}</label>
          </el-col>
          <el-col :span="9">
            <el-input v-model="corporate.customerMail" />
          </el-col>
          <el-col :span="3">
            <label>{{$t('client.email2')}}</label>
          </el-col>
          <el-col :span="9">
            <el-input v-model="corporate.customerMail2" />
          </el-col>
        </el-row>

        <el-row :gutter="20" type="flex" align="middle">
          <el-col :span="12">
            <!-- <FITSelectElement v-model="chosenStaff" :options="staffList" :width="18" :label="$t('customer.relatedStaff')" /> -->
            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="6">
                <label>{{$t('customer.relatedStaff')}}</label>
              </el-col>
              <el-col :span="18">
                <el-select v-model="chosenStaff"
                filterable
                remote
                reserve-keyword
                placeholder="Please enter a keyword"
                :remote-method="renderStaffID"
                :loading="loadingStaffID" >
                  <el-option
                  v-for="item in staffList"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                  />
                </el-select>
              </el-col>
            </el-row>
            <el-row :gutter="20" type="flex" align="middle" >
              <el-col :span="16">
                <label>{{$t('customer.GManager')}}</label>
              </el-col>
              <el-col :span="8">
                <el-input v-model="corporate.directLine" />
              </el-col>
            </el-row>
            <el-row :gutter="20" type="flex" align="middle" >
              <el-col :span="6">
                <label>{{$t('customer.GManagerName')}}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="corporate.attorney" />
              </el-col>
            </el-row>
            <el-row :gutter="20" type="flex" align="middle" >
              <el-col :span="6">
                <label>{{$t('customer.remarks')}}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="corporate.customerRemarks" type="textarea" :rows="4" />
              </el-col>
            </el-row>
            <FITSelectElement v-model="corporate.advertise" :options="advertiseOptions" :label="$t('customer.promotionAccept')" :width="18" />
          </el-col>
          <el-col :span="10" :offset="2">

            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="8">
                <label>{{$t('customer.bookingDate')}}</label>
              </el-col>
              <el-col :span="16">
                <el-date-picker
                  v-model="corporate.activeDate"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="Pick a day">
                </el-date-picker>
              </el-col>
            </el-row>

            <FITSelectElement v-model="corporate.customerType" :options="customerTypeOptions" :label="$t('customer.customerType')" :width="16" />

            <FITSelectElement v-model="corporate.paymentOption" :label="$t('customer.paymentTerms')" :options="paymentTermsOptions" :width="16" />

            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="8">
                <label>{{$t('customer.status')}}</label>
              </el-col>
              <el-col :span="16">
                <el-select v-model="corporate.customerStatus" >
                  <el-option
                  v-for="item in statusOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                  />
                </el-select>
              </el-col>
            </el-row>

            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="8">
                <label>{{$t('customer.monthlyReport')}}</label>
              </el-col>
              <el-col :span="16">
                <el-select v-model="corporate.monthlyReport" >
                  <el-option
                  v-for="item in monthlyReportOptions"
                  :key="item"
                  :label="item"
                  :value="item"
                  />
                </el-select>
              </el-col>
            </el-row>

            <el-row :gutter="20" type="flex" align="middle">
              <el-col :span="8">
                <label>{{$t('customer.stopDate')}}</label>
              </el-col>
              <el-col :span="16">
                <el-date-picker
                  v-model="corporate.inactiveDate"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="Pick a day">
                </el-date-picker>
              </el-col>
            </el-row>

          </el-col>
        </el-row>


      <div>
        <el-button @click="modal.createCorporate = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" v-if="corporate.customerID" @click="createCorporateCustomer"> {{ $t('customer.editCorporateCustomer') }} </el-button>
        <el-button type="primary" v-else @click="createCorporateCustomer"> {{ $t('customer.createCorporateCustomer') }} </el-button>
        <el-button type="info" v-if="chosenID == ''" @click="saveForLaterCorporate"> {{ $t('customer.saveForLater') }} </el-button>
      </div>
    </el-dialog>

    <BodyCheck v-if="modal.viewBodyCheck" :show="modal.viewBodyCheck" :customerID="chosenID" @onCancel="modal.viewBodyCheck = false" />

    <File v-if="modal.viewFile" :show="modal.viewFile" :customerID="chosenID" @onCancel="modal.viewFile = false"  />

    <FileUpload v-if="modal.fileUpload" :show="modal.fileUpload" @onCancel="modal.fileUpload = false" @onSuccess="updateCustomerList()" />

    <Item v-if="modal.viewItem" :show="modal.viewItem" :customerID="chosenID" @onCancel="modal.viewItem = false"  />

    <Plan v-if="modal.viewPlan" :show="modal.viewPlan" :customerID="chosenID" @onCancel="modal.viewPlan = false"  />

    <DiscountPlan v-if="modal.viewDiscountPlan" :show="modal.viewDiscountPlan" :customerID="chosenID" :accountNo="chosenAccountNo" @onCancel="modal.viewDiscountPlan = false"  />

    <DiscountItem v-if="modal.viewDiscountItem" :show="modal.viewDiscountItem" :customerID="chosenID" :accountNo="chosenAccountNo" @onCancel="modal.viewDiscountItem = false"  />

    <Coupon v-if="modal.viewCoupon" :show="modal.viewCoupon" :customerID="chosenID" @onCancel="modal.viewCoupon = false"  />

    <Invoice v-if="modal.viewInvoice" :show="modal.viewInvoice" :customerID="chosenID" @onCancel="modal.viewInvoice = false" :customerType="chosenType" />

    <Offer v-if="modal.viewOffer" :show="modal.viewOffer" :customerID="chosenID" @onCancel="modal.viewOffer = false" />
 
  </div>
</template>

<script>
import Vue from 'vue'
import moment from 'moment'
import File from './components/File'
import FileUpload from './components/FileUpload'
import BodyCheck from './components/BodyCheck'
import Item from './components/Item'
import Plan from './components/Plan'
import DiscountPlan from './components/DiscountPlan'
import DiscountItem from './components/DiscountItem'
import Coupon from './components/Coupon'
import Invoice from './components/Invoice'
import Offer from './components/Offer'
import Pagination from '@/components/Pagination'
import FITSelectElement from '@/components/FITSelectElement.vue'
import _ from 'lodash'

export default {
  name: 'Customer',
  components: {
    Pagination,
    FITSelectElement,
    BodyCheck,
    File,
    FileUpload,
    Item,
    Plan,
    DiscountPlan,
    DiscountItem,
    Coupon,
    Invoice,
    Offer
  },
  filters: {
    statusFilter(status) {
      const statusMap = {
        A: 'success',
        I: 'danger',
        D: 'danger',
        default: ''
      }
      return statusMap[status]
    }
  },
  data() {
    return {
      busy:false,
      customerTypeBusy:false,
      tableData: [
        {customerID:"IN8888",customerType:'i'},
        {customerID:"CC0032",customerType:'c'},
        {customerID:"EA0123",customerType:'a'}
      ],
      selectedData: [],
      searchQuery: '',
      customer: {},
      params: {
        count: 10,
        page: 1,
        search: undefined,
        orderBy: 'activeDate',
        direction: 'DESC'
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      modal: {
        createIndividual: false,
        createCorporate: false,
        editIndividual: false,
        editCorporate: false,
        viewBodyCheck:false,
        viewFile:false,
        viewItem:false,
        viewInvoice:false,
        viewCoupon:false,
        viewDebit:false,
        viewPlan:false,
        viewOffer:false,
        viewDiscountPlan:false,
        viewDiscountItem:false,
        detail: false,
        fileUpload:false
      },
      individual:{
        customerIdentityNo:"",
        customerType:"Individual",
        corporateID:"",
        corporateName:"",
        staffID:"",
        employeeNo:"",
        prefix:"",
        cnCustomerName:"",
        enCustomerName:"",
        sex:"",
        age:"",
        customerRemarks:"",
        customerStatus:"A",
        activeDate:this.transformDateObject(new Date()),
        inactiveDate:"",
        bookingDate:this.transformDateObject(new Date()),
        birth:"",
        paymentOption:"COD",
        customerMail:"",
        faxNo:"",
        member:"",
        homeTel:"",
        officeTel:"",
        customerTel:"",
        customerDistrict:"",
        advertise:"N",
        enAddress:"",
        attorney:"",
      },
      corporate:{
        cnCustomerName:"",
        enCustomerName:"",
        customerDistrict:"",
        enAddress:"",
        cnAddress:"",
        customerTel:"",
        customerTel2:"",
        customerTel3:"",
        faxNo:"",
        customerMail:"",
        customerMail2:"",
        staffID:"",
        directLine:"",
        managerName:"",
        customerRemarks:"",
        activeDate:this.transformDateObject(new Date()),
        paymentOption:"COD",
        customerStatus:"A",
        customerType:"",
        inactiveDate:"",
        monthlyReport:"",
        advertise:"N",
        attorney:"",
      },
      corporateID:"",
      corporateName:"",
      chosenType:"",
      list:[],
      nameList:[],
      fakeList:[
        {code:'CC0001',name:'CC0001 公司'},
        {code:'CC0002',name:'CC0002 公司'},
        {code:'CC0003',name:'CC0003 公司'},
        {code:'CC0004',name:'CC0004 公司'},
        {code:'CC0005',name:'CC0005 公司'},
      ],
      bodyCheckList:[],
      fileList:[],
      itemList:[],
      invoiceList:[],
      couponList:[],
      debitList:[],
      planList:[],
      staffList:[],
      allStaffList:[],
      nameOptions:[],
      allNameOptions:[],
      idOptions:[],
      allIdOptions:[],
      customerTypeOptions:[
        {label:this.$t('customer.individual'),value:"Individual"},
        {label:this.$t('customer.corporate'),value:"Corporate"},
        {label:this.$t('customer.agent'),value:"Agent"},
      ],
      paymentTermsOptions:[
        { label: 'C.O.D', value: 'COD' },
        { label: '7 Days', value: '7' },
        { label: '14 Days', value: '14' },
        { label: '1 month', value: '30' }
      ],
      prefixOptions:['Mr','Ms','Mrs'],
      sexOptions:['F','M'],
      statusOptions:[
        {label:"Active",value:"A"},
        {label:"Disabled",value:"D"},
      ],
      mainCompanyOptions:[
        '陳大文有限公司'
      ],
      monthlyReportOptions:['N','Y'],
      loadingCorporateID:false,
      loadingCorporateName:false,
      loadingStaffID:false,
      filter:{
        searchType:"",
        search:"",
        advertise:"A",
        customerDistrict:"All"
      },
      filters:{
        customerType:"Individual",
      },
      typeOptions:[
        {label:this.$t('customer.customerIdentityNo'),value:"customerIdentityNo"},
        {label:this.$t('customer.customerPhone'),value:"customerTel"},
        {label:this.$t('customer.homeTel'),value:"homeTel"},
        {label:this.$t('customer.officeTel'),value:"officeTel"},
        {label:this.$t('customer.enCustomerName'),value:"enCustomerName"},
        {label:this.$t('customer.cnCustomerName'),value:"cnCustomerName"},
        {label:this.$t('customer.filterActiveDate'),value:"activeDate"},
      ],
      typeOptions1:[
        {label:this.$t('customer.customerPhone'),value:"customerTel3"},
        {label:this.$t('customer.enCustomerName'),value:"enCustomerName"},
        {label:this.$t('customer.cnCustomerName'),value:"cnCustomerName"},
        {label:this.$t('customer.filterActiveDate'),value:"activeDate"},
        {label:this.$t('customer.ID'),value:"accountNo"},
      ],
      districtOptions:[
        "西貢、將軍澳、藍田",
        "深水埗、長沙灣、荔枝角",
        "油尖旺、太子",
        "紅磡、土瓜灣",
        "九龍城、鑽石山、黃大仙",
        "九龍塘、何文田",
        "觀塘、牛頭角、九龍灣",
        "跑馬地、灣仔、銅鑼灣",
        "北角、鰂魚涌、太古",
        "筲箕灣、柴灣、小西灣",
        "西營盤、山頂",
        "南區、香港仔、薄扶林",
        "離島",
        "葵涌、青衣、荃灣",
        "大圍、沙田、馬鞍山",
        "元朗、加州、錦鏽",
        "東涌",
        "屯門、深井",
        "大埔、康樂園",
        "天水圍",
        "粉嶺、上水、八鄉"
      ],
      filterDistrictOptions:[
        "All",
        "西貢、將軍澳、藍田",
        "深水埗、長沙灣、荔枝角",
        "油尖旺、太子",
        "紅磡、土瓜灣",
        "九龍城、鑽石山、黃大仙",
        "九龍塘、何文田",
        "觀塘、牛頭角、九龍灣",
        "跑馬地、灣仔、銅鑼灣",
        "北角、鰂魚涌、太古",
        "筲箕灣、柴灣、小西灣",
        "西營盤、山頂",
        "南區、香港仔、薄扶林",
        "離島",
        "葵涌、青衣、荃灣",
        "大圍、沙田、馬鞍山",
        "元朗、加州、錦鏽",
        "東涌",
        "屯門、深井",
        "大埔、康樂園",
        "天水圍",
        "粉嶺、上水、八鄉"
      ],
      filterAdvertiseOptions:[
      {label:"All",value:"A"},
      {label:this.$t('customer.yesAdvertise'),value:"Y"},
      {label:this.$t('customer.notAdvertise'),value:"R"},
      {label:this.$t('customer.notCertain'),value:"N"},
      ],
      advertiseOptions:[
      {label:this.$t('customer.yesAdvertise'),value:"Y"},
      {label:this.$t('customer.notAdvertise'),value:"R"},
      {label:this.$t('customer.notCertain'),value:"N"},
      ],
      chosenID:"",
      chosenAccountNo:"",
      chosenStaff:"",

    }
  },
  computed: {

  },
  watch: {
    filter: {
      handler(newValue, oldValue) {
        if(!this.busy){
          Vue.set(this,'busy', true)
        setTimeout(() => {
          Vue.set(this,'busy',false)
          Vue.set(this.params,'page',1)
          this.refresh();
        }, 1500);
      }
      },
      deep: true
    },
    filters: {
      handler(val) {
        if(!this.customerTypeBusy){
          Vue.set(this,'customerTypeBusy', true)
        setTimeout(() => {
          Vue.set(this,'customerTypeBusy',false)
          Vue.set(this.params,'page',1)
          this.filter.searchType = null
          this.filter.search = ""
          this.refresh();
        }, 500);
      }
      },
      deep: true
    },
    searchQuery: {
      handler(newValue, oldValue) {
        if (newValue === '' && oldValue !== '') {
          this.params.search = ''
          this.refresh()
        }
      }
    },
    params:{
      handler(newValue, oldValue) {
        this.refresh()
      },
      deep: true
    },
    individual:{
      deep:true,
      handler(val){
        if(val.prefix == 'Mr'){
          this.individual.sex = 'M'
        }
        else if(val.prefix == 'Ms'){
          this.individual.sex = 'F'
        }
        if(val.birth != "" && val.birth != null){
          console.log(val)
          this.individual.age = this.calculateAge(val.birth)
        }
      }
    }
  },
  created() {
    this.refresh();
    this.getStaffList();
    this.getTemporaryList();


  },
  mounted() {
  },
  methods: {
    refresh() {
      this.getCustomerList()
    },
    // new 1
    getCustomerList() {
      let param = this.params;
      if(this.filter.searchType == '' && this.filter.search == ''){
        param.searchType = ""
        param.search = ""
      }
      else if(this.filter.searchType == 'activeDate' && (this.filter.search == null || this.filter.search == '')){
        param.searchType = ""
        param.search = ""
      }
      else{
        param.searchType = this.filter.searchType;
        param.search = this.filter.search;
      }
      if(this.filter.advertise != 'A'){
        param.advertise = this.filter.advertise
      }
      else{
        param.advertise = null
      }
      if(this.filter.customerDistrict!= 'All' && (this.filters.customerType == 'Corporate' || this.filters.customerType == 'Agent'))
      param.customerDistrict = this.filter.customerDistrict
      else
      param.customerDistrict = null
      param.customerType = this.filters.customerType;
      this.$store.dispatch('getCustomerList', param).then((json) => {
        this.tableData = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    getStaffList(){
      let dummyArray = [];
      this.$store.dispatch('getStaffList', {page:1,count:200}).then((json) => {
        for(var i=0;i<json.list.length;i++){
          let dummyObject = {};
          dummyObject.label = json.list[i].enStaffName
          dummyObject.value = json.list[i].staffID+'-'+json.list[i].enStaffName+'-'+json.list[i].cnStaffName;
          dummyArray.push(dummyObject);
        }
        if(json.total>200){
          let loopTimes = parseInt(json.total/200);
          for(var j=0;j<loopTimes;j++){
            this.$store.dispatch('getStaffList', {page:j+2,count:200}).then((json1) => {
              for(var k=0;k<json1.list.length;k++){
                let dummyObject1 = {};
                dummyObject1.label = json1.list[k].enStaffName
                dummyObject1.value = json1.list[k].staffID+'-'+json1.list[k].enStaffName+'-'+json1.list[k].cnStaffName;
                dummyArray.push(dummyObject1);
              }
            })
          }
        }
        this.staffList = dummyArray;
        this.allStaffList = dummyArray;
      })
    },
    getTemporaryList() {
      let dummyArray = [];
      let dummyArray1 = [];
      let dummyList = [];
      this.$store.dispatch('getCustomerList', {customerType:['Corporate','Agent'],page:1,count:200}).then((json) => {
        dummyList = json.list
        for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
              dummyObject.label=json.list[i].accountNo;
              dummyObject.value = json.list[i].customerID + '-'+ json.list[i].accountNo;
              dummyArray.push(dummyObject)
            }
        for(var i=0;i<json.list.length;i++){
              let dummyObject1 = {};
              dummyObject1.label=json.list[i].enCustomerName + '-'+ json.list[i].cnCustomerName;
              dummyObject1.value = json.list[i].customerID
              dummyArray1.push(dummyObject1)
            }
        if(json.total>200){
              let loopTimes = parseInt(json.total/200);
              for(var j=0;j<loopTimes;j++){
                this.$store.dispatch('getCustomerList', {customerType:['Corporate','Agent'],page:j+2,count:200}).then((json1) => {
                  dummyList = [...dummyList,...json1.list]
                  this.fakeList = dummyList
                  for(var k=0;k<json1.list.length;k++){
                    let dummyObject2 = {};
                    dummyObject2.label = json1.list[k].accountNo
                    dummyObject2.value = json1.list[k].customerID+'-'+json1.list[k].accountNo
                    dummyArray.push(dummyObject2)
                  }
                  for(var a=0;a<json1.list.length;a++){
                    let dummyObject3 = {};
                    dummyObject3.label = json1.list[a].enCustomerName+'-'+json1.list[a].cnCustomerName
                    dummyObject3.value = json1.list[a].customerID
                    dummyArray1.push(dummyObject3)
                  }
                })
              }
            }
            this.idOptions = dummyArray;
            this.allIdOptions = dummyArray;
            this.nameOptions = dummyArray1
            this.allNameOptions = dummyArray1
      })
    },
    statusTranslate(status) {
      const statusTextMap = {
        A: this.$t('status.A'),
        D: this.$t('status.D')
      }
      return statusTextMap[status]
    },
    querySearchAsync(query, cb) {
      _.debounce(() => {
        this.$store.dispatch('searchCustomer', { query: query }).then((json) => {
          const result = []
          json.forEach((item) => result.push({ value: item.customername }))
          cb(result)
        })
      }, 500)()
    },

    showIndividualDialog(){
      this.chosenID = "";
      if(localStorage.individual){
        this.individual = JSON.parse(localStorage.individual)
        this.chosenStaff = JSON.parse(localStorage.chosenStaff)
        this.corporateID = JSON.parse(localStorage.corporateID)
        this.corporateName = JSON.parse(localStorage.corporateName)
      }
      else{
        this.individual = {
        customerIdentityNo:"",
        customerType:"Individual",
        corporateID:"",
        corporateName:"",
        employeeNo:"",
        prefix:"",
        cnCustomerName:"",
        enCustomerName:"",
        sex:"",
        age:"",
        customerRemarks:"",
        customerStatus:"A",
        activeDate:this.transformDateObject(new Date()),
        inactiveDate:"",
        bookingDate:this.transformDateObject(new Date()),
        birth:"",
        paymentOption:"COD",
        customerMail:"",
        faxNo:"",
        member:"",
        homeTel:"",
        officeTel:"",
        customerTel:"",
        customerDistrict:"",
        advertise:"N",
        enAddress:"",
        attorney:"",
      };
      this.corporateID = "";
      this.corporateName = "";
      this.chosenStaff = "";
      }
      this.modal.createIndividual = true;
    },
    showCorporateDialog(){
      this.chosenID = "";
      if(localStorage.corporate){
        this.corporate = JSON.parse(localStorage.corporate)
        this.chosenStaff = JSON.parse(localStorage.chosenStaff)
      }
      else{
        this.corporate = {
        mainCompany:"",
        cnCustomerName:"",
        enCustomerName:"",
        customerDistrict:"",
        enAddress:"",
        cnAddress:"",
        customerTel:"",
        customerTel2:"",
        customerTel3:"",
        faxNo:"",
        customerMail:"",
        customerMail2:"",
        staffID:"",
        directLine:"",
        managerName:"",
        customerRemarks:"",
        activeDate:this.transformDateObject(new Date()),
        paymentOption:"COD",
        customerStatus:"A",
        customerType:"",
        inactiveDate:"",
        monthlyReport:"",
        advertise:"N",
        attorney:"",
      }
      this.chosenStaff = "";
      }
      this.modal.createCorporate = true;
    },
  
    search(query) {
      this.params.search = query
    },
    handleSortChange({ column, prop, order }) {
      if (column === null) {
        this.params.orderBy = 'customerID'
        this.params.direction = 'DESC'
      } else {
        this.params.orderBy = prop
        this.params.direction = order === 'ascending' ? 'ASC' : 'DESC'
      }
      this.getCustomerList();
    },
    openUploadModal(){
      this.modal.fileUpload = true;
    },
    updateCustomerList(){
      this.modal.fileUpload = false;
      this.$message({
       type: 'success',
       message: 'Successfully Added'
      });
      this.getCustomerList();
    },
    renderCorporateID(query) {
      let dummyArray = [];
      if(query != ''){
        this.loadingCorporateID = true;
          setTimeout(() => {
            this.loadingCorporateID = false;
            this.$store.dispatch('getCustomerList', {searchType:'accountNo',search:query,customerType:['Corporate','Agent'],page:1,count:200}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
              dummyObject.label=json.list[i].accountNo;
              dummyObject.value = json.list[i].customerID + '-'+ json.list[i].accountNo;
              dummyArray.push(dummyObject)
            }
            this.idOptions = dummyArray;
          })
          }, 500);
      }
      else{
        this.idOptions = this.allIdOptions
      }
    },
    renderCorporateName(query) {
      let dummyArray = [];
      if(query != ''){
        this.loadingCorporateName = true;
          setTimeout(() => {
            this.loadingCorporateName = false;
            this.$store.dispatch('getCustomerList', {searchType:['cnCustomerName','enCustomerName'],search:query,customerType:['Corporate','Agent'],page:1,count:200}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
              dummyObject.label=json.list[i].enCustomerName + '-'+ json.list[i].cnCustomerName;
              dummyObject.value = json.list[i].customerID
              dummyArray.push(dummyObject)
            }
            this.nameOptions = dummyArray;
          })
          }, 500);
      }
      else{
        this.nameOptions = this.allNameOptions
      }
    },
    renderStaffID(query) {
      let dummyArray = [];
      if(query!= ''){
        this.loadingStaffID = true;
          setTimeout(() => {
            this.loadingStaffID = false;
            this.$store.dispatch('getStaffList', {search:query,page:1,count:200}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
              dummyObject.label = json.list[i].enStaffName
              dummyObject.value = json.list[i].staffID+'-'+json.list[i].enStaffName+'-'+json.list[i].cnStaffName;
              dummyArray.push(dummyObject);
            }
            this.staffList = dummyArray;
          })
          }, 500);
      }
      else{
        this.staffList = this.allStaffList;
      }
    },
    selectedName(){
      for(var i=0;i<this.fakeList.length;i++){
        if(this.corporateName == this.fakeList[i].customerID){
          this.corporateID = this.fakeList[i].customerID + '-'+ this.fakeList[i].accountNo;
          this.$store.dispatch('getCustomerDetail',{customerID:this.fakeList[i].customerID}).then((json) => {
            this.chosenStaff = json.staffID+ '-'+json.enStaffName + '-' + json.cnStaffName
            if(json.customerType == 'Agent'){
              this.individual.customerTel = json.customerTel
            }
          })
        }
        
      }
    },
    selectedID(){
      let dummyArray = this.corporateID.split('-');
      for(var i=0;i<this.fakeList.length;i++){
        if(dummyArray[1] == this.fakeList[i].accountNo){
          this.corporateName = this.fakeList[i].customerID
          this.$store.dispatch('getCustomerDetail',{customerID:this.fakeList[i].customerID}).then((json) => {
            this.chosenStaff = json.staffID+ '-'+json.enStaffName + '-' + json.cnStaffName
            if(json.customerType == 'Agent'){
              this.individual.customerTel = json.customerTel
            }
          })
        }
      }
    },
    showEditIndividualModal(id){
      this.chosenID = id;
      this.$store.dispatch('getCustomerDetail',{customerID:this.chosenID}).then((json) => {
        console.log(json.data)
        this.individual = json;
        this.corporateID = json.groupID + '-' + json.companyCode
        this.corporateName = json.groupID;
        this.chosenStaff = json.staffID+ '-'+json.enStaffName + '-' + json.cnStaffName
        if(json.sex == 'F'){
          this.individual.prefix = 'Miss'
        }
        else{
          this.individual.prefix = 'Mr'
        }
      })
      this.modal.createIndividual = true;
    },
    showEditCompanyModal(id){
      this.chosenID = id;
      this.$store.dispatch('getCustomerDetail',{customerID:this.chosenID}).then((json) => {
        this.corporate = json;
        this.chosenStaff = json.staffID+ '-'+json.enStaffName + '-' + json.cnStaffName
      })
      this.modal.createCorporate = true;
    },
    viewBodyCheck(id){
      this.modal.viewBodyCheck = true;
      this.chosenID = id
    },
    viewFile(id){
      this.modal.viewFile = true;
      this.chosenID = id
    },
    viewItem(id){
      this.modal.viewItem = true;
      this.chosenID = id;
    },
    viewInvoice(id,type){
      this.modal.viewInvoice = true;
      this.chosenID = id
      this.chosenType = type;
    },
    viewCoupon(id){
      this.modal.viewCoupon = true;
      this.chosenID = id;
    },
    viewDebit(id){
      this.modal.viewDebit = true;
      this.$store.dispatch('viewDebit', {customerID:id}).then((json) => {
        this.debitList = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    viewPlan(id){
      this.modal.viewPlan = true;
      this.chosenID = id;
    },
    viewPromotionOffer(id){
      this.modal.viewOffer = true;
      this.chosenID = id;
    },
    viewDiscountPlan(no,id){
      this.modal.viewDiscountPlan = true;
      this.chosenAccountNo = no;
      this.chosenID = id;
    },
    viewDiscountItem(no,id){
      this.modal.viewDiscountItem = true;
      this.chosenAccountNo = no;
      this.chosenID = id;
    },
    createIndividualCustomer(){
      this.$store.dispatch('duplicateName',{enCustomerName:this.individual.enCustomerName,cnCustomerName:this.individual.cnCustomerName}).then((json) => {
          this.$confirm('Do you confirm to create/edit a individual customer?', 'Create/Edit Individual Customer', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'info'
        }).then(() => {
          let idArray = this.corporateID.split('-');
          let staffArray = this.chosenStaff.split('-');
          if(this.chosenID){
            this.$store.dispatch('editIndividualCustomer', {...this.individual,groupID:idArray[0],staffID:staffArray[0],enStaffName:staffArray[1],cnStaffName:staffArray[2],customerID:this.chosenID}).then((json1) => {
            this.$message({
            type: 'success',
            message: 'Successfully Edited'
          });
          this.individual = {};
          this.chosenID = undefined;
          this.modal.createIndividual = false;
          this.getCustomerList();
          this.getTemporaryList();
          localStorage.removeItem('individual')
          localStorage.removeItem('chosenStaff')
          localStorage.removeItem('corporateID')
          localStorage.removeItem('corporateName')
          })
          }
          else{
            this.$store.dispatch('createIndividualCustomer', {...this.individual,groupID:idArray[0],staffID:staffArray[0],enStaffName:staffArray[1],cnStaffName:staffArray[2]}).then((json1) => {
            this.$message({
            type: 'success',
            message: 'Successfully Created'
          });
          this.individual = {};
          this.modal.createIndividual = false;
          this.getCustomerList();
          this.getTemporaryList();
          localStorage.removeItem('individual')
          localStorage.removeItem('chosenStaff')
          localStorage.removeItem('corporateID')
          localStorage.removeItem('corporateName')
          })
          }
        }).catch((err) => {
          console.error(err)
        });
      }).catch((err) =>{
        this.$confirm('The input name is already exist. Do you confirm to create/edit a individual customer?', 'Create/Edit Individual Customer', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'info'
        }).then(() => {
          let idArray = this.corporateID.split('-');
          let staffArray = this.chosenStaff.split('-');
          if(this.chosenID){
            this.$store.dispatch('editIndividualCustomer', {...this.individual,groupID:idArray[0],staffID:staffArray[0],enStaffName:staffArray[1],cnStaffName:staffArray[2],customerID:this.chosenID}).then((json1) => {
            this.$message({
            type: 'success',
            message: 'Successfully Edited'
          });
          this.individual = {};
          this.chosenID = undefined;
          this.modal.createIndividual = false;
          this.getCustomerList();
          this.getTemporaryList();
          localStorage.removeItem('individual')
          localStorage.removeItem('chosenStaff')
          localStorage.removeItem('corporateID')
          localStorage.removeItem('corporateName')
          })
          }
          else{
            this.$store.dispatch('createIndividualCustomer', {...this.individual,groupID:idArray[0],staffID:staffArray[0],enStaffName:staffArray[1],cnStaffName:staffArray[2]}).then((json1) => {
            this.$message({
            type: 'success',
            message: 'Successfully Created'
          });
          this.individual = {};
          this.modal.createIndividual = false;
          this.getCustomerList();
          this.getTemporaryList();
          localStorage.removeItem('individual')
          localStorage.removeItem('chosenStaff')
          localStorage.removeItem('corporateID')
          localStorage.removeItem('corporateName')
          })
          }
        }).catch((err) => {
          console.error(err)
        });
      })
    },
    createCorporateCustomer(){
      if(this.customerID){
        this.$confirm('Do you confirm to edit a Corporate customer?', 'Edit Corporate Customer', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'info'
        }).then(() => {
          let staffArray = this.chosenStaff.split('-');
          this.$store.dispatch('editCorporateCustomer', {...this.corporate,staffID:staffArray[0],enStaffName:staffArray[1],cnStaffName:staffArray[2]}).then((json) => {
            this.$message({
            type: 'success',
            message: 'Successfully Edit'
          });
          this.modal.createCorporate = false;
          this.getCustomerList();
          this.getTemporaryList();
          localStorage.removeItem('corporate')
          localStorage.removeItem('chosenStaff')
          })
        }).catch(() => {
                   
        });
      }
      else{
        this.$store.dispatch('duplicateName',{enCustomerName:this.corporate.enCustomerName,cnCustomerName:this.corporate.cnCustomerName}).then((json) => {
            this.$confirm('Do you confirm to create a Corporate customer?', 'Create Corporate Customer', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'info'
        }).then(() => {
          let staffArray = this.chosenStaff.split('-');
          this.$store.dispatch('createCorporateCustomer', {...this.corporate,staffID:staffArray[0],enStaffName:staffArray[1],cnStaffName:staffArray[2]}).then((json1) => {
            this.$message({
            type: 'success',
            message: 'Successfully Created'
          });
          this.modal.createCorporate = false;
          this.getCustomerList();
          this.getTemporaryList();
          localStorage.removeItem('corporate')
          localStorage.removeItem('chosenStaff')
          })
        }).catch(() => {
                   
        });
        }).catch((err) => {
          this.$confirm('The input name is already exist. Do you confirm to create/edit a Corporate customer?', 'Create/Edit Corporate Customer', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'info'
        }).then(() => {
          let idArray = this.corporateID.split('-');
          let staffArray = this.chosenStaff.split('-');
          if(this.chosenID){
            this.$store.dispatch('editCorporateCustomer', {...this.corporate,groupID:idArray[0],staffID:staffArray[0],enStaffName:staffArray[1],cnStaffName:staffArray[2]}).then((json1) => {
            this.$message({
            type: 'success',
            message: 'Successfully Edited'
          });
          this.individual = {};
          this.chosenID = undefined;
          this.modal.createCorporate = false;
          this.getCustomerList();
          this.getTemporaryList();
          localStorage.removeItem('corporate')
          localStorage.removeItem('chosenStaff')
          })
          }
          else{
            this.$store.dispatch('createCorporateCustomer', {...this.corporate,groupID:idArray[0],staffID:staffArray[0],enStaffName:staffArray[1],cnStaffName:staffArray[2]}).then((json1) => {
            this.$message({
            type: 'success',
            message: 'Successfully Created'
          });
          this.individual = {};
          this.modal.createCorporate = false;
          this.getCustomerList();
          this.getTemporaryList();
          localStorage.removeItem('corporate')
          localStorage.removeItem('chosenStaff')
          })
          }
        }).catch((err) => {
          console.error(err)
        });
        })
      }
      
    },
    deleteCustomer(id,name){
      this.$confirm(`確認刪除(${name})？`).then(() => {
        this.$store.dispatch('deleteCustomer', { customerID:id }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.getCustomerList()
        })
      })
    },
    handleIndividualClose(done){
      done();
    },
    handleCorporateClose(done){
      done();
    },
    transformDateObject(date){
      return moment(date).format('yyyy-MM-DD')
    },
    translateAdvertise(advertise){
      if(advertise == 'R'){
        return this.$t('customer.notAdvertise')
      }
      else if(advertise == 'Y'){
        return this.$t('customer.yesAdvertise')
      }
      else{
        return this.$t('customer.notCertain')
      }
    },
    getStarred(id){
      var newString = "";
      if(id!= null && id!=""){
        for(var i=0;i<id.length;i++){
        if(i>3){
          newString =newString + '*';
        }
        else{
          newString = newString + id[i];
        }
      }
      return newString
      }
      else{
        return id
      }
      
    },
    clearFilter(){
      this.filter.searchType = "";
      this.filter.search = "";
    },
    saveForLaterIndividual(){
      localStorage.individual = JSON.stringify(this.individual)
      localStorage.chosenStaff = JSON.stringify(this.chosenStaff)
      localStorage.corporateID = JSON.stringify(this.corporateID)
      localStorage.corporateName = JSON.stringify(this.corporateName)
      this.$notify({
        title:"Save Entry Successfully",
        message:"The data entry is saved",
        type:"success"
      })
    },
    saveForLaterCorporate(){
      localStorage.corporate = JSON.stringify(this.corporate)
      localStorage.chosenStaff = JSON.stringify(this.chosenStaff)
      this.$notify({
        title:"Save Entry Successfully",
        message:"The data entry is saved",
        type:"success"
      })
    },
    getGenderTranslate(sex){
      if(sex == 'F'){
        return this.$t("general.female")
      }
      else{
        return this.$t('general.male')
      }
    },
    getActualAge(birth){
      if(birth == null || birth == ''){
        return 0
      }
      else{
        var diff_ms = Date.now() - new Date(birth).getTime();
        var age_dt = new Date(diff_ms); 
    
        return Math.abs(age_dt.getUTCFullYear() - 1970);
      }
    },
    calculateAge(birth){
      var diff_ms = Date.now() - new Date(birth).getTime();
      var age_dt = new Date(diff_ms); 
  
      return Math.abs(age_dt.getUTCFullYear() - 1970);
    },
    checkIDExistence(){
      this.$store.dispatch("checkIDExistence",{customerIdentityNo:this.individual.customerIdentityNo}).then((json)=>{
        if(json.status == 200){
          this.$message({
          message: 'This ID number is OK',
          type: 'success'
        });
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
