.container{
    margin:0 10% 0;
}
.fc-time-grid .fc-slats td{
    height: 3.5em;
}
.fc-event .fc-content{
  padding-top: 2rem;
  padding-bottom:2rem;
  text-align: center;
}
.fc-title{
  font-size: 1.125rem
}
.el-col{
  margin-bottom: 1rem;
}
.headers{
  text-align: right;
  margin:1rem 0 1rem;
  z-index: 99
}
.fc-license-message{
  display:none;
}
.el-autocomplete{
  width: 50%;
}
.mb-1{
  margin-bottom:1rem;
}
.el-select{
  width:100%
}
.el-date-editor.el-input{
  width:100%
}
.el-dialog__body{
  height: 450px;
  overflow-y: auto;
}
#selectBodyCheck .el-dialog__body{
  height: 600px;
  overflow-y: auto;
}
#promotion .el-dialog__body{
  height: 700px;
  overflow-y: auto;
}
#individual .el-dialog__body{
  height: 700px;
  overflow-y: auto;
}
#corporate .el-dialog__body{
  height: 700px;
  overflow-y: auto;
}
.el-dialog{
  margin-top: 5vh !important;
}
.el-dialog{
  overflow-y: initial !important;
}
.el-date-editor--daterange.el-input__inner{
  width:90%;
}

html{
  line-height: unset;
}