<template>
<div>

  <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleClose" :visible.sync="show" width="70%" :show-close="false">
      <span slot="title" class="dialog-title">
        <span>{{$t('coupon.couponList')}} </span>
        <!-- <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addCouponDialog"/> -->
      </span>
      <div class="filter-container">
      <el-input :placeholder="$t('general.search')" v-model="filter.search" style="width:40%; margin-right: 10px" class="filter-item" clearable/>
    </div>
      <el-table :data="couponList" style="width: 100%" border  >
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('coupon.couponNo')" prop="couponNo" sortable="custom"/>
      <el-table-column :label="$t('coupon.invoiceNo')" prop="invoiceNo" sortable="custom"/>
      <el-table-column :label="$t('coupon.couponExpiryDate')" prop="couponExpiryDate" sortable="custom"/>
      <el-table-column :label="$t('coupon.couponUnitPrice')"  sortable="custom">
        <template slot-scope="scope">
          {{scope.row.couponUnitPrice | currency('HK$')}}
        </template>
      </el-table-column>
      <el-table-column :label="$t('coupon.couponStatus')" prop="couponStatus" sortable="custom"/>
      <el-table-column :label="$t('coupon.accountNo')" prop="accountNo" sortable="custom"/>
      <el-table-column :label="$t('coupon.invoicePaymentStatus')" prop="invoiceStatus" sortable="custom">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.invoiceStatus == '' || scope.row.invoiceStatus == 'NOT PAID'" type="warning">Not Paid</el-tag>
          <el-tag v-else type="success">{{ scope.row.invoiceStatus }}</el-tag>
        </template>
      </el-table-column>
      <el-table-column :label="$t('invoice.issueDate')" prop="issueDate" sortable="custom"/>
        <el-table-column :label="$t('invoice.paymentDate')" prop="paymentDate" sortable="custom"/>
      <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="showEditCouponModal(scope.row.couponNo)">{{ $t('general.edit') }}</el-dropdown-item>
              <el-dropdown-item @click.native="deleteCoupons(scope.row.couponNo)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancel"> {{ $t('general.cancel') }} </el-button>
        <!-- <el-button type="primary" @click="confirmAddCoupon"> {{ $t('coupon.createCoupon') }} </el-button> -->
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleCouponClose" :visible.sync="modal.addCompanyCoupon" :title="$t('coupon.createCoupon')" width="60%">
      
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('coupon.startCouponNo')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="coupon.startCouponNo"></el-input>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('coupon.endCouponNo')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="coupon.endCouponNo"></el-input>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('coupon.couponQuantity')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="coupon.couponQuantity"></el-input>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('coupon.couponUnitPrice')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-input  v-model="coupon.couponUnitPrice"></el-input>
        </el-col>
      </el-row>

      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{$t('coupon.couponExpiryDate')}}</label>
        </el-col>
        <el-col :span="18" >
          <el-date-picker
                  v-model="coupon.couponExpiryDate"
                  type="date"
                  value-format="yyyy-MM-dd"
                  placeholder="Pick a day">
                </el-date-picker>
        </el-col>
      </el-row>

      
      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.addCompanyCoupon = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="createCoupon"> {{ $t('coupon.createCoupon') }} </el-button>
      </span>
    </el-dialog>
</div>
</template>

<script>

import FITSelectElement from '@/components/FITSelectElement.vue'
import Pagination from '@/components/Pagination'

export default {
  name: 'Coupon',
  props: {
    customerID:{
      type:String
    },
    show:{
        type:Boolean,
        default:false,
      },
  },
  components:{
    FITSelectElement,
    Pagination
  },
  data() {
    return {
      couponList:[],
      modal:{
        addCompanyCoupon:false,
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      params: {
        count: 10,
        page: 1,
      },
      coupon:{
        couponUnitPrice:"",
        couponQuantity:"",
        endCouponNo:"",
        startCouponNo:"",
        couponExpiryDate:"",
        couponStatus:"",
      },
      filter:{
        search:"",
      },
      savedCustomerID:"",
    }
  },
  created(){
    if(this.customerID){
      this.savedCustomerID = this.customerID
      this.getCoupon();
    }
  },
  computed: {

  },
  methods: {
    cancel() {
      this.$emit('onCancel')
    },
    confirm() {
      this.$emit('onConfirm')
    },
    getCoupon(){
      let param = this.params
      if(this.filter.search!= ""){
        param.search = this.filter.search
      }
      else{
        param.search = null
      }
      this.$store.dispatch('viewCoupon', {customerID:this.savedCustomerID,...param}).then((json) => {
        this.couponList = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    addBodyCheck(){
      this.modal.createBodyCheck = true;
    },
    createCoupon(){
      this.$store.dispatch('createCoupon', this.coupon).then((json) => {
        this.coupon = {} // reset coupon
        this.modal.addCompanyCoupon = false
        this.getCoupon()
        this.$message({ message: this.$t('success.general'), type: 'success' })
      })
    },
    removeCouponArray(i){
      
    },
    addCouponDialog(){
      this.modal.addCompanyCoupon = true
    },
    addCouponArray(){
      this.chosenCoupon.push({couponCode:"",quantity:1,discount:""});
    },
    handleClose(done){
      done();
    },
    handleCouponClose(done){
      done();
    }
    
  },
  watch:{
    customerID(val){
      this.getCoupon();
      this.savedCustomerID = val;
    },
      params:{
      handler(newValue, oldValue) {
        this.getCoupon()
      },
      deep: true
    },
    filter: {
      handler(newValue, oldValue) {
        this.params.page = 1
        this.getCoupon()
      },
      deep: true
    },
    }
}
</script>
