<template>
  <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"  
    :title="$t('user.create')"
    :visible.sync="show"
    :before-close="cancel"
    width="30%">
    <el-form :rules="rules" :model="user" label-width="100px" status-icon>
      <el-row>
        <el-col :span="12">
          <el-form-item :label="$t('user.username')" prop="username">
            <el-input v-model="user.username"/>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item :label="$t('staff.staffID')" prop="staffID">
            <el-input v-model="user.staffID"/>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item :label="$t('user.password')" prop="password">
        <el-input v-model="user.password" type="password"/>
      </el-form-item>
      <el-form-item :label="$t('user.confirmPassword')" prop="confirmPassword">
        <el-input v-model="user.confirmPassword" type="password"/>
      </el-form-item>
      <el-form-item>
        <el-button @click="cancel"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="confirm"> {{ $t('general.confirm') }} </el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>

export default {
  name: 'CreateModal',
  props: {
    show: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object,
      default() {
        return {
          username: '',
          staffID: '',
          password: '',
          confirmPassword: ''
        }
      }
    }
  },
  data() {
    const validatePass = (rule, value, callback) => {
      if (this.user.confirmPassword !== this.user.password) { callback(new Error(this.$t('error.passwordNotMatch'))) } else { callback() }
    }
    return {
      rules: {
        username: [
          { required: true, message: this.$t('error.user.username'), trigger: 'blur' },
          { min: 6, max: 32, message: this.$t('error.length', { min: 6, max: 32 }), trigger: 'blur' }
        ],
        password: [
          { required: true, message: this.$t('error.password'), trigger: 'blur' }
        ],
        confirmPassword: [
          { required: true, message: '请输入密码', trigger: 'blur' },
          { validator: validatePass, trigger: 'blur' }
        ],
        staffID: [
          { min: 0, max: 16, message: this.$t('error.length', { min: 0, max: 16 }), trigger: 'blur' }
        ]
      }
    }
  },
  computed: {

  },
  methods: {
    cancel() {
      this.$emit('onCancel')
    },
    confirm() {
      this.$emit('onConfirm')
    }
  }
}
</script>
