<template>
  <div>
    <el-row :gutter="20" class="row">
      <el-col :span="width"> {{ label }}</el-col>
      <el-col :span="24 - width"> 
        <span v-if="value">{{ value }}</span>
        <span v-else>
          <slot></slot>
        </span>
      </el-col>
    </el-row>
  </div>
</template>

<script>

export default {
  name: 'DetailRow',
  props: {
    label: {
      type: String
    },
    value: {
      type: [String, Number]
    },
    width:{
      type: Number,
      default: 6
    }
  },
  data() {
    return {

    }
  },
  computed: {

  },
  methods: {

  }
}
</script>

<style scoped>
.row{
  margin-bottom: 20px; 
}

</style>