<template>
  <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"  
    :title="$t('general.detail')"
    :visible.sync="show"
    :before-close="cancel"
    width="30%">
    <DetailRow :label="$t('general.ID')" :value="user.ID"></DetailRow>
    <DetailRow :label="$t('user.username')" :value="user.username"></DetailRow>
    <DetailRow :label="$t('user.email')" :value="user.email"></DetailRow>
    <DetailRow :label="$t('user.fullName')" :value="fullName"></DetailRow>
    <DetailRow :label="$t('user.status.status')"> 
      <el-tag :type="user.status | statusFilter">{{ statusTranslate(user.status) }}</el-tag>
    </DetailRow>
  </el-dialog>
</template>

<script>

import DetailRow from './DetailRow'

export default {
  name: 'DetailModal',
  components:{
    DetailRow
  },
  filters: {
    statusFilter(status) {
      const statusMap = {
        A: 'success',
        I: 'danger',
        default: ''
      }
      return statusMap[status]
    }
  },
  props: {
    show: {
      type: Boolean,
      default: false
    },
    user:{
      type: Object
    }
  },
  data() {
    return {

    }
  },
  computed: {
    fullName(){
      return this.user.lastName + ' ' + this.user.firstName
    }
  },
  methods: {
    cancel() {
      this.$emit('onCancel')
    },
    statusTranslate(status){
      const statusTextMap = {
        A: this.$t('user.status.A'),
        I: this.$t('user.status.I')
      }
      return statusTextMap[status]
    },
  }
}
</script>
