<template>
<div>

  <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleClose" :visible.sync="show" width="70%" :show-close="false">
      <span slot="title" class="dialog-title">
        <span>{{$t('plan.discountPriceList')}} </span>
        <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addPlanDialog"/>
      </span>
      <el-table :data="planList" style="width: 100%" border  >
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('plan.code')" prop="planCode" sortable="custom"/>
      <el-table-column :label="$t('plan.planChinDesc')" prop="cnPlan" sortable="custom"/>
      <el-table-column :label="$t('plan.planEngDesc')" prop="enPlan" sortable="custom"/>
      <el-table-column :label="$t('plan.discountPrice')" prop="discountPrice" sortable="custom">
        <template slot-scope="scope">
            <span>{{scope.row.discountPrice | currency('HK$')}}</span>
          </template>
        </el-table-column>
      <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="showEditPlanModal(scope.row.discountID)">{{ $t('general.edit') }}</el-dropdown-item>
              <el-dropdown-item @click.native="deleteDiscountPlan(scope.row.discountID)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancel"> {{ $t('general.cancel') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handlePlanClose" :visible.sync="modal.addDiscountPlan" width="50%" :show-close="false">
      <span slot="title" class="dialog-title">
        <span>{{$t('plan.createDiscountPrice')}} </span>
      </span>
      <div v-for="(item,i) in chosenPlan" >
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="16">
            <el-row type="flex" align="middle" :gutter="20">
              <el-col :span="6" >
                <label>{{$t('bodyCheck.plan')}}</label>
              </el-col>
              <el-col :span="18" >
                <el-select
                  v-model="item.planID"
                  filterable
                  remote
                  reserve-keyword
                  placeholder="Please enter a keyword"
                  :remote-method="planMethod"
                  :loading="planloading"
                  >
                  <el-option
                    v-for="item in planOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
              <label>{{$t('plan.discountPrice')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="item.discountPrice" />
            </el-col>
            </el-row>
          </el-col>
          <el-col :span="8">
            <el-button class="filter-item" type="danger" icon="el-icon-minus" style="margin-left:10px" @click="removePlanArray(i)"/>
          </el-col>
        </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.addDiscountPlan = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="info" @click="saveForLater"> {{ $t('plan.saveForLater') }} </el-button>
        <el-button type="primary" @click="createDiscountPlan"> {{ $t('plan.createDiscountPrice') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleEditPlanClose" :visible.sync="modal.editDiscountPlan" width="50%" :show-close="false">
      <span slot="title" class="dialog-title">
        <span>{{$t('plan.editDiscountPrice')}} </span>
      </span>
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="16">
            <el-row type="flex" align="middle" :gutter="20">
              <el-col :span="6" >
                <label>{{$t('bodyCheck.plan')}}</label>
              </el-col>
              <el-col :span="18" >
                <el-select
                  v-model="editPlan.planID"
                  filterable
                  remote
                  reserve-keyword
                  placeholder="Please enter a keyword"
                  :remote-method="planMethod"
                  :loading="planloading"
                  >
                  <el-option
                    v-for="item in planOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
              <label>{{$t('plan.discountPrice')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="editPlan.discountPrice" />
            </el-col>
            </el-row>
          </el-col>
        </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.editDiscountPlan = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="editDiscountPlan"> {{ $t('plan.editDiscountPrice') }} </el-button>
      </span>
    </el-dialog>
</div>
</template>

<script>

import FITSelectElement from '@/components/FITSelectElement.vue'
import Pagination from '@/components/Pagination'

export default {
  name: 'DiscountPlan',
  props: {
    accountNo:{
      type:String
    },
    customerID:{
      type:String
    },
    show:{
        type:Boolean,
        default:false,
      },
  },
  components:{
    FITSelectElement,
    Pagination
  },
  data() {
    return {
      planList:[],
      modal:{
        addDiscountPlan:false,
        editDiscountPlan:false,
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      params: {
        count: 10,
        page: 1,
      },
      editPlan:{
        planID:"",discountPrice:"",
      },
      chosenPlan:[
        {planID:"",discountPrice:""}
      ],
      planOptions:[],
      allPlanOptions:[],
      planloading:false,
      chosenID:undefined,
    }
  },
  created(){
    if(this.accountNo){
      this.getDiscountPlan();
    }
    this.getPlanList();
  },
  computed: {

  },
  methods: {
    cancel() {
      this.$emit('onCancel')
    },
    confirm() {
      this.$emit('onConfirm')
    },
    getDiscountPlan(){
      this.$store.dispatch('getDiscountPlanList', {search:this.accountNo,...this.params}).then((json) => {
        this.planList = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    // getPlanList(){
    //   let dummyArray = [];
    //   this.$store.dispatch('getPlanList', {}).then((json) => {
    //     for(var i=0;i<json.list.length;i++){
    //       let dummyObject = {};
    //       dummyObject.label = json.list[i].planID+'-'+json.list[i].cnPlan +'-$'+json.list[i].planPrice;
    //       dummyObject.value = json.list[i].planID+'-'+json.list[i].planID +'-'+json.list[i].planPrice;
    //       dummyArray.push(dummyObject)
    //     }
    //     this.planOptions = dummyArray;
    //   })
    // },
    getPlanList(){
      let dummyArray = [];
      this.$store.dispatch('getPlanList', {page:1,count:200,customerBased:'N',customerID:this.customerID}).then((json) => {
        for(var i=0;i<json.list.length;i++){
          let dummyObject = {};
                dummyObject.label=json.list[i].planCode+'-'+json.list[i].enPlan +'-$'+json.list[i].planSpecialPrice;
                dummyObject.value = json.list[i].planID
                dummyArray.push(dummyObject)
        }
        if(json.total>200){
              let loopTimes = parseInt(json.total/200);
              for(var j=0;j<loopTimes;j++){
                this.$store.dispatch('getPlanList', {page:j+2,count:200}).then((json1) => {
                  for(var k=0;k<json1.list.length;k++){
                    let dummyObject2 = {};
                      dummyObject2.label=json1.list[k].planCode+'-'+json1.list[k].enPlan +'-$'+json1.list[k].planSpecialPrice;
                      dummyObject2.value = json1.list[k].planID
                      dummyArray.push(dummyObject2)
                  }
                })
              }
            }
        this.planOptions = dummyArray;
        this.allPlanOptions = dummyArray
      })
    },
    planMethod(query) {
      let dummyArray = [];
          this.planloading = true;
          setTimeout(() => {
            this.planloading = false;
            if(query == ''){
              this.planOptions = this.allPlanOptions;
            }
            else{
              this.$store.dispatch('getPlanList', {search:query,searchType:'planCode',page:1,count:100,customerBased:'N',customerID:this.customerID}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
                dummyObject.label=json.list[i].planCode+'-'+json.list[i].enPlan +'-$'+json.list[i].planSpecialPrice;
                dummyObject.value = json.list[i].planID
                dummyArray.push(dummyObject)
            }
            this.planOptions = dummyArray;
          })
            }
          }, 500);
      },
    createDiscountPlan(){
      let planID = this.chosenPlan.map((obj) => {
        return obj.planID
      })
      let discountPrice = this.chosenPlan.map((obj) => {
        return obj.discountPrice
      })
      this.$store.dispatch('createDiscountPlan',{planID:planID,discountPrice:discountPrice,customerID:this.customerID}).then((json) => {
        this.modal.addDiscountPlan = false
        this.getDiscountPlan();
        this.$message({ message: this.$t('success.general'), type: 'success' })
        localStorage.removeItem('discountPlan')
      })
    },
    editDiscountPlan(){
      this.$store.dispatch('editDiscountPlan',{...this.editPlan,discountID:this.chosenID,customerID:this.customerID}).then((json) => {
        this.chosenID = undefined;
        this.editPlan = {planID:"",discountPrice:"",}
        this.modal.editDiscountPlan = false
        this.getDiscountPlan();
        this.$message({ message: this.$t('success.general'), type: 'success' })
        localStorage.removeItem('discountPlan')
      })
    },
    deleteDiscountPlan(discountID) {
      this.$confirm('確認刪除？').then(() => {
        this.$store.dispatch('deleteDiscountPlan', { discountID }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.getDiscountPlan()
        })
      })
    },
    removePlanArray(i){
      this.$confirm('This will permanently remove the discount Price. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
           this.chosenPlan.splice(i,1)
          this.$message({
            type: 'success',
            message: 'Delete completed'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          });          
        });
    },
    addPlanDialog(){
      this.modal.addDiscountPlan = true
      if(localStorage.discountPlan){
        this.chosenPlan = JSON.parse(localStorage.discountPlan)
      }
      else{
        this.chosenPlan = [
        {planID:"",discountPrice:""}
      ]
      }
    },
    showEditPlanModal(id){
      this.chosenID = id;
      this.$store.dispatch('getDiscountPlanDetail',{discountID:id}).then((json) => {
        this.editPlan.planID = json.planID;
        this.editPlan.discountPrice = json.discountPrice
        this.modal.editDiscountPlan = true;
      })
    },
    handleClose(done){
      done();
    },
    handlePlanClose(done){
      done();
    },
    handleEditPlanClose(done){
      done();
    },
    saveForLater(){
      localStorage.discountPlan = JSON.stringify(this.chosenPlan)
      this.$notify({
        title:"Save Entry Successfully",
        message:"The data entry is saved",
        type:"success"
      })
    }
    
  },
  watch:{
      customerID(val){
        this.getBodyCheck();
      },
      params:{
      handler(newValue, oldValue) {
        this.getDiscountPlan()
      },
      deep: true
    }
    }
}
</script>
