<template>
<div>

  <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleClose" :visible.sync="show" width="70%" :show-close="false">
      <span slot="title" class="dialog-title">
        <span>{{$t('item.discountPriceList')}} </span>
        <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addItemDialog"/>
      </span>
      <el-table :data="itemList" style="width: 100%" border  >
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('item.code')" prop="itemCode" sortable="custom"/>
      <el-table-column :label="$t('item.itemChinDesc')" prop="cnItem" sortable="custom"/>
      <el-table-column :label="$t('item.itemEngDesc')" prop="enItem" sortable="custom"/>
      <el-table-column :label="$t('item.discountPrice')" prop="discountPrice" sortable="custom">
        <template slot-scope="scope">
            <span>{{scope.row.discountPrice | currency('HK$')}}</span>
          </template>
        </el-table-column>
      <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="showEditItemModal(scope.row.discountID)">{{ $t('general.edit') }}</el-dropdown-item>
              <el-dropdown-item @click.native="deleteDiscountItem(scope.row.discountID)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column>
    </el-table>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancel"> {{ $t('general.cancel') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleItemClose" :visible.sync="modal.addDiscountItem" width="50%" :show-close="false">
      <span slot="title" class="dialog-title">
        <span>{{$t('item.createDiscountPrice')}} </span>
      </span>
      <div v-for="(item,i) in chosenItem" >
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="16">
            <el-row type="flex" align="middle" :gutter="20">
              <el-col :span="6" >
                <label>{{$t('bodyCheck.item')}}</label>
              </el-col>
              <el-col :span="18" >
                <el-select
                  v-model="item.itemID"
                  filterable
                  remote
                  reserve-keyword
                  placeholder="Please enter a keyword"
                  :remote-method="itemMethod"
                  :loading="itemloading"
                  >
                  <el-option
                    v-for="item in itemOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
              <label>{{$t('item.discountPrice')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="item.discountPrice" />
            </el-col>
            </el-row>
          </el-col>
          <el-col :span="8">
            <el-button class="filter-item" type="danger" icon="el-icon-minus" style="margin-left:10px" @click="removeItemArray(i)"/>
          </el-col>
        </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.addDiscountItem = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="info" @click="saveForLater"> {{ $t('item.saveForLater') }} </el-button>
        <el-button type="primary" @click="createDiscountItem"> {{ $t('item.createDiscountPrice') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleEditItemClose" :visible.sync="modal.editDiscountItem" width="50%" :show-close="false">
      <span slot="title" class="dialog-title">
        <span>{{$t('item.editDiscountPrice')}} </span>
      </span>
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="16">
            <el-row type="flex" align="middle" :gutter="20">
              <el-col :span="6" >
                <label>{{$t('bodyCheck.item')}}</label>
              </el-col>
              <el-col :span="18" >
                <el-select
                  v-model="editItem.itemID"
                  filterable
                  remote
                  reserve-keyword
                  placeholder="Please enter a keyword"
                  :remote-method="itemMethod"
                  :loading="itemloading"
                  >
                  <el-option
                    v-for="item in itemOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
              <label>{{$t('item.discountPrice')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="editItem.discountPrice" />
            </el-col>
            </el-row>
          </el-col>
        </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.editDiscountItem = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="editDiscountItem"> {{ $t('item.editDiscountPrice') }} </el-button>
      </span>
    </el-dialog>
</div>
</template>

<script>

import FITSelectElement from '@/components/FITSelectElement.vue'
import Pagination from '@/components/Pagination'

export default {
  name: 'DiscountItem',
  props: {
    accountNo:{
      type:String
    },
    customerID:{
      type:String
    },
    show:{
        type:Boolean,
        default:false,
      },
  },
  components:{
    FITSelectElement,
    Pagination
  },
  data() {
    return {
      itemList:[],
      modal:{
        addDiscountItem:false,
        editDiscountItem:false,
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      params: {
        count: 10,
        page: 1,
      },
      editItem:{
        itemID:"",discountPrice:"",
      },
      chosenItem:[
        {itemID:"",discountPrice:""}
      ],
      itemOptions:[],
      allItemOptions:[],
      itemloading:false,
      chosenID:undefined,
    }
  },
  created(){
    if(this.accountNo){
      this.getDiscountItem();
    }
    this.getItemList();
  },
  computed: {

  },
  methods: {
    cancel() {
      this.$emit('onCancel')
    },
    confirm() {
      this.$emit('onConfirm')
    },
    getDiscountItem(){
      this.$store.dispatch('getDiscountItemList', {search:this.accountNo,...this.params}).then((json) => {
        this.itemList = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    // getItemList(){
    //   let dummyArray = [];
    //   this.$store.dispatch('getItemList', {}).then((json) => {
    //     for(var i=0;i<json.list.length;i++){
    //       let dummyObject = {};
    //       dummyObject.label = json.list[i].itemID+'-'+json.list[i].cnItem +'-$'+json.list[i].itemPrice;
    //       dummyObject.value = json.list[i].itemID+'-'+json.list[i].itemID +'-'+json.list[i].itemPrice;
    //       dummyArray.push(dummyObject)
    //     }
    //     this.itemOptions = dummyArray;
    //   })
    // },
    getItemList(){
      let dummyArray = [];
      this.$store.dispatch('getItemList', {page:1,count:200,customerBased:'N',customerID:this.customerID}).then((json) => {
        for(var i=0;i<json.list.length;i++){
          let dummyObject = {};
                dummyObject.label=json.list[i].itemCode+'-'+json.list[i].enItem +'-$'+json.list[i].itemPrice;
                dummyObject.value = json.list[i].itemID
                dummyArray.push(dummyObject)
        }
        if(json.total>200){
              let loopTimes = parseInt(json.total/200);
              for(var j=0;j<loopTimes;j++){
                this.$store.dispatch('getItemList', {page:j+2,count:200}).then((json1) => {
                  for(var k=0;k<json1.list.length;k++){
                    let dummyObject2 = {};
                      dummyObject2.label=json1.list[k].itemCode+'-'+json1.list[k].enItem +'-$'+json1.list[k].itemPrice;
                      dummyObject2.value = json1.list[k].itemID
                      dummyArray.push(dummyObject2)
                  }
                })
              }
            }
        this.itemOptions = dummyArray;
        this.allItemOptions = dummyArray
      })
    },
    itemMethod(query) {
      let dummyArray = [];
          this.itemloading = true;
          setTimeout(() => {
            this.itemloading = false;
            if(query == ''){
              this.itemOptions = this.allItemOptions;
            }
            else{
              this.$store.dispatch('getItemList', {search:query,searchType:'itemCode',page:1,count:100,customerBased:'N',customerID:this.customerID}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
                dummyObject.label=json.list[i].itemCode+'-'+json.list[i].enItem +'-$'+json.list[i].itemPrice;
                dummyObject.value = json.list[i].itemID
                dummyArray.push(dummyObject)
            }
            this.itemOptions = dummyArray;
          })
            }
          }, 200);
      },
    createDiscountItem(){
      let itemID = this.chosenItem.map((obj) => {
        return obj.itemID
      })
      let discountPrice = this.chosenItem.map((obj) => {
        return obj.discountPrice
      })
      this.$store.dispatch('createDiscountItem',{itemID:itemID,discountPrice:discountPrice,customerID:this.customerID}).then((json) => {
        this.modal.addDiscountItem = false
        this.getDiscountItem();
        this.$message({ message: this.$t('success.general'), type: 'success' })
        localStorage.removeItem('discountItem')
      })
    },
    editDiscountItem(){
      this.$store.dispatch('editDiscountItem',{...this.editItem,discountID:this.chosenID,customerID:this.customerID}).then((json) => {
        this.chosenID = undefined;
        this.editItem = {itemID:"",discountPrice:"",}
        this.modal.editDiscountItem = false
        this.getDiscountItem();
        this.$message({ message: this.$t('success.general'), type: 'success' })
        localStorage.removeItem('discountItem')
      })
    },
    deleteDiscountItem(discountID) {
      this.$confirm('確認刪除？').then(() => {
        this.$store.dispatch('deleteDiscountItem', { discountID }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.getDiscountItem()
        })
      })
    },
    removeItemArray(i){
      this.$confirm('This will permanently remove the discount Price. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
           this.chosenItem.splice(i,1)
          this.$message({
            type: 'success',
            message: 'Delete completed'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          });          
        });
    },
    addItemDialog(){
      this.modal.addDiscountItem = true
      if(localStorage.discountItem){
        this.chosenItem = JSON.parse(localStorage.discountItem)
      }
      else{
        this.chosenItem = [
        {itemID:"",discountPrice:""}
      ]
      }
    },
    showEditItemModal(id){
      this.chosenID = id;
      this.$store.dispatch('getDiscountItemDetail',{discountID:id}).then((json) => {
        this.editItem.itemID = json.itemID;
        this.editItem.discountPrice = json.discountPrice
        this.modal.editDiscountItem = true;
      })
    },
    handleClose(done){
      done();
    },
    handleItemClose(done){
      done();
    },
    handleEditItemClose(done){
      done();
    },
    saveForLater(){
      localStorage.discountItem = JSON.stringify(this.chosenItem)
      this.$notify({
        title:"Save Entry Successfully",
        message:"The data entry is saved",
        type:"success"
      })
    }
    
  },
  watch:{
      customerID(val){
        this.getBodyCheck();
      },
      params:{
      handler(newValue, oldValue) {
        this.getDiscountItem()
      },
      deep: true
    }
    }
}
</script>
