<template>
  <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"  
    :title="$t('user.edit')"
    :visible.sync="show"
    :before-close="cancel"
    width="30%">
    <el-form :rules="rules" :model="user" label-width="100px" status-icon>
      <el-form-item :label="$t('user.role')" prop="role">
        <el-input v-model="user.role"/>
      </el-form-item>
      <el-form-item :label="$t('user.status.status')" prop="status">
        <el-input v-model="user.status"/>
      </el-form-item>
      <el-form-item>
        <el-button @click="cancel"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="confirm"> {{ $t('general.confirm') }} </el-button>
      </el-form-item>
    </el-form>
  </el-dialog>
</template>

<script>

export default {
  name: 'EditModal',
  props: {
    show: {
      type: Boolean,
      default: false
    },
    user: {
      type: Object,
      default() {
        return {
          role: '',
          status: ''
        }
      }
    }
  },
  data() {
    return {
      rules: {
        firstName: [
          { min: 0, max: 16, message: this.$t('error.length', { min: 0, max: 16 }), trigger: 'blur' }
        ],
        lastName: [
          { min: 0, max: 16, message: this.$t('error.length', { min: 0, max: 16 }), trigger: 'blur' }
        ],
        email: [
          { required: true, message: this.$t('error.email'), trigger: 'change' },
          { type: 'email', message: this.$t('error.emailNotValid'), trigger: ['blur', 'change'] }
        ]
      }
    }
  },
  computed: {

  },
  methods: {
    cancel() {
      this.$emit('onCancel')
    },
    confirm() {
      this.$emit('onConfirm')
    }
  }
}
</script>
