<template>
<div>
  <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"  
    :visible.sync="show"
    :before-close="cancel"
    width="60%">

    <span slot="title" class="dialog-title">
      <span>{{$t('file.fileList')}} </span>
      <el-button class="filter-item" type="success" style="margin-left:10px" @click="addFile">{{$t('general.create')}}</el-button>
      <el-button class="filter-item" type="success" style="margin-left:10px" @click="downloadFile" :disabled="isSelected">{{$t('general.download')}}</el-button>
      <el-button class="filter-item" type="danger" style="margin-left:10px" @click="deleteFile" :disabled="isSelected">{{$t('general.delete')}}</el-button>
    </span>

    <el-row type="flex" align="middle" :gutter="20">
      <el-col :span="24">
        <el-checkbox-group v-model="checkList" type="vertical">
          <el-checkbox v-for="item in fileList" :label="item.fileID">
            {{item.fileName}}
          </el-checkbox>
        </el-checkbox-group>
      </el-col>
    </el-row>
    <el-row type="flex" align="middle" :gutter="20">
      <el-col :span="20">
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="8" v-for="item in fileList">
            <el-card :body-style="{ padding: '0px' }">
              <img :src="baseUrl + item.url" class="image" >
              <div style="padding: 14px;">
                <span>{{item.fileName}}</span>
                <div class="bottom clearfix">
                  <time class="time">{{ item.uploadTime }}</time>
                  <el-button type="text" class="button"  @click="preview(item.url)">Preview</el-button>
                </div>
              </div>
            </el-card>
          </el-col>
        </el-row>
        <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />
      
      </el-col>
    </el-row>

  </el-dialog>

  <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   
    :title="$t('file.upload')"
    :visible.sync="modal.addFile"
    :before-close="cancel"
    width="60%">
    <FITImageUpload v-model="fileUpload" ref="imageUpload" />
    <span slot="footer" class="dialog-footer">
      <el-button @click="modal.addFile = false"> {{ $t('general.cancel') }} </el-button>
      <el-button type="primary" @click="confirmAddFile"> {{ $t('file.addFile') }} </el-button>
    </span>
  </el-dialog>
</div>
</template>

<script>

import FITImageUpload from '@/components/FITImageUpload.vue'
import Pagination from '@/components/Pagination'

export default {
  name: 'File',
  components:{
    FITImageUpload,
    Pagination
  },
  watch:{
    params:{
      deep:true,
      handler(val){
        this.getFile();
      }
    }
  },
  props: {
    show: {
      type: Boolean,
      default: false
    },
    user:{
      type: Object
    },
    customerID:{
      type:String
    }
  },
  data() {
    return {
      fileList:[
        
      ],
      modal:{
        addFile:false,
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      params: {
        count: 10,
        page: 1,
      },
      fileUpload:[],
      checkList:[],
      baseUrl:'https://hmlive.ftech.com.hk/healthcare_rest/'
    }
  },
  created(){
    if(this.customerID)
    this.getFile();
  },
  computed: {
    fullName(){
      return this.user.lastName + ' ' + this.user.firstName
    },
    isSelected(){
      if(this.checkList.length == 0){
        return true
      }
      else
      return false
    }
  },
  methods: {
    cancel() {
      this.$emit('onCancel')
    },
    statusTranslate(status){
      const statusTextMap = {
        A: this.$t('user.status.A'),
        I: this.$t('user.status.I')
      }
      return statusTextMap[status]
    },
    downloadFile(){
      var FileSaver = require('file-saver');
      this.$store.dispatch("downloadFile",{fileID:this.checkList})
      .then((json) => {
        var fileName = json.headers['content-disposition'];
          console.log(fileName)
        fileName = fileName.split(' ').join('');
        fileName = fileName.split('attachment;filename=').join('').replace("\"", "").replace("\"", "");
        console.log(fileName)
          var blob = new Blob([json.data])
          FileSaver.saveAs(blob,fileName)
        this.checkList = [];
        this.getFile();
      })
    },

    deleteFile(){
      this.$confirm('This will permanently delete the file. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.$store.dispatch("deleteFile",{fileID:this.checkList}).then((json) => {
            this.$message({
            type: 'success',
            message: 'Successfully deleted'
            });
            this.getFile();
          })
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          });          
        });
    },

    getFile(){
      this.$store.dispatch('viewCustomerFile',{...this.params,customerID:this.customerID}).then((json) => {
        this.fileList = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    preview(url){
      window.open(this.baseUrl + url)
    },
    addFile(){
      this.modal.addFile = true;
    },
    confirmAddFile(){
      this.$refs.imageUpload.formUploadFiles();
      var dummy = {};
      dummy.file = this.fileUpload.files;
      dummy.customerID = this.customerID
      dummy = this.jsonToFormData(dummy)
      console.log(dummy)
      this.$store.dispatch('uploadFile', dummy).then((json) => {
        this.getFile();
        this.modal.addFile = false;
      })
    },
    jsonToFormData(data) {
      const formData = new FormData();
  
      this.buildFormData(formData, data);
  
      return formData;
    },
    buildFormData(formData, data, parentKey) {
      if (data && typeof data === 'object' && !(data instanceof Date) && !(data instanceof File)) {
        Object.keys(data).forEach(key => {
          this.buildFormData(formData, data[key], parentKey ? `${parentKey}[${key}]` : key);
        });
      } else {
        const value = data == null ? '' : data;
  
        formData.append(parentKey, value);
      }
    },
  }
}
</script>
<style>
.image{
  width:100%
}
</style>
