<template>
<div>
  <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   
    :title="$t('file.upload')"
    :visible.sync="show"
    :before-close="cancel"
    width="60%">
    <FITImageUpload v-model="fileUpload" ref="imageUpload" :extensions="extensions" />
    <span slot="footer" class="dialog-footer">
      <el-button @click="cancel"> {{ $t('general.cancel') }} </el-button>
      <el-button type="primary" @click="confirmAddFile"> {{ $t('file.addFile') }} </el-button>
    </span>
  </el-dialog>
</div>
</template>

<script>

import FITImageUpload from '@/components/FITImageUpload.vue'
import Pagination from '@/components/Pagination'

export default {
  name: 'File',
  components:{
    FITImageUpload,
    Pagination
  },
  watch:{
    params:{
      deep:true,
      handler(val){
        this.getFile();
      }
    }
  },
  props: {
    show: {
      type: Boolean,
      default: false
    },
    user:{
      type: Object
    },
    customerID:{
      type:String
    }
  },
  data() {
    return {
      fileList:[
        
      ],
      modal:{
        addFile:false,
      },
      extensions:["pdf","jpg","jpeg","gif"],
      fileUpload:[],
      checkList:[],
      baseUrl:'https://hmlive.ftech.com.hk/healthcare_rest/'
    }
  },
  created(){
  },
  computed: {
    fullName(){
      return this.user.lastName + ' ' + this.user.firstName
    },
    isSelected(){
      if(this.checkList.length == 0){
        return true
      }
      else
      return false
    }
  },
  methods: {
    cancel() {
      this.$emit('onCancel')
    },
    confirmAddFile(){
      this.$refs.imageUpload.formUploadFiles();
      var dummy = {};
      dummy.file = this.fileUpload.files;
      dummy = this.jsonToFormData(dummy)
      console.log(dummy)
      this.$store.dispatch('batchUpload', dummy).then((json) => {
        console.log(json)
        if(json.status == 200)
        this.$emit('onSuccess')
      })
    },
    jsonToFormData(data) {
      const formData = new FormData();
  
      this.buildFormData(formData, data);
  
      return formData;
    },
    buildFormData(formData, data, parentKey) {
      if (data && typeof data === 'object' && !(data instanceof Date) && !(data instanceof File)) {
        Object.keys(data).forEach(key => {
          this.buildFormData(formData, data[key], parentKey ? `${parentKey}[${key}]` : key);
        });
      } else {
        const value = data == null ? '' : data;
  
        formData.append(parentKey, value);
      }
    },
  }
}
</script>
<style>
.image{
  width:100%
}
</style>
