<template>
  <div>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleClose" :visible.sync="show" :show-close="false" width="90%">
      <span slot="title" class="dialog-title">
        <el-row :gutter="20" type="flex" align="middle">
          <el-col :span="8">
            <span>{{ $t('invoice.invoiceList') }} </span>
            <el-button v-if="customerType == 'Corporate' || customerType == 'Agent'" class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="showCompanyModal"/>
            <el-button v-if="customerType == 'Agent'" class="filter-item" type="success" style="margin-left:10px" @click="showCouponModal">Coupon</el-button>
          </el-col>
          <el-col :span="16">
            <span v-if="customerType == 'Individual'">ID Number:{{customer.customerIdentityNo}}</span>
            <span style="margin-left:10px">{{$t('customer.enCustomerName')}}:{{customer.enCustomerName}}</span>
            <span v-if="customer.cnCustomerName != ''" style="margin-left:10px">{{$t('customer.cnCustomerName')}}:{{customer.cnCustomerName}}</span>
            <span v-if="customer.customerTel != ''" style="margin-left:10px">{{$t('customer.customerPhone')}}:{{customer.customerTel}}</span>
            <span v-if="customer.sex != ''" style="margin-left:10px">{{$t('customer.gender')}}:{{getGenderTranslate(customer.sex)}}</span>
          </el-col>
        </el-row>
        <el-row type="flex" align="middle" :gutter="20" v-if="customerType != 'Individual'">
        <el-col :span="12">
          <FITSelectElement v-model="filter.invoiceType" :options="typeOptions" :label="$t('invoice.invoiceType')" :width="18" />
        </el-col>
        </el-row>
      </span>
      <div v-if="filter.invoiceType != 'Coupon'">
      <el-table key="normal" :data="invoiceList" style="width: 100%" border >
        <el-table-column type="selection" width="55"/>
        <el-table-column :label="$t('invoice.invoiceNo')" prop="invoiceNo" sortable="custom" width="130"/>
        <el-table-column :label="$t('invoice.invoiceType')" prop="invoiceType" sortable="custom"/>
        <el-table-column :label="$t('invoice.accountNo')" prop="accountNo" sortable="custom" width="130"/>
        <el-table-column :label="$t('invoice.customerIdentityNo')" prop= "customerIdentityNo" sortable="custom"/>
        <el-table-column :label="$t('invoice.issueDate')" prop="issueDate" sortable="custom"/>
        <el-table-column :label="$t('invoice.paymentDate')" prop="paymentDate" sortable="custom"/>
        <el-table-column :label="$t('invoice.totalCharge')">
          <template slot-scope="scope">
            {{ scope.row.invoiceTotalCharge | currency('HK$') }}
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.discount')">
          <template slot-scope="scope">
            {{ scope.row.invoiceDiscount | currency('HK$') }}
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.netTotal')">
          <template slot-scope="scope">
            {{ scope.row.invoiceNetTotal | currency('HK$') }}
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.outstanding')">
          <template slot-scope="scope">
            {{ scope.row.invoiceOutstanding | currency('HK$') }}
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.paymentOption')" prop="invoicePaymentOption" sortable="custom"/>
        <el-table-column :label="$t('invoice.paymentStatus')" >
          <template slot-scope="scope">
            <el-tag v-if="scope.row.invoiceStatus == '' || scope.row.invoiceStatus == 'NOT PAID'" type="warning">Not Paid</el-tag>
            <el-tag v-else type="success">{{ scope.row.invoiceStatus }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column :label="$t('general.actions')" fixed="right">
          <template slot-scope="scope">
            <el-dropdown trigger="click">
              <el-button type="primary">
                {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <!-- <el-dropdown-item v-if="scope.row.invoiceType == 'Individual'" @click.native="showEditIndividualInvoiceModal(scope.row.invoiceNo)">{{ $t('general.edit') }}</el-dropdown-item> -->
                <el-dropdown-item v-if="scope.row.invoiceType == 'Corporate'" @click.native="showEditCompanyInvoiceModal(scope.row.invoiceID,scope.row.invoiceNo)">{{ $t('general.edit') }}</el-dropdown-item>
                <el-dropdown-item v-if="scope.row.invoiceType == 'Coupon'" @click.native="showEditCouponInvoiceModal(scope.row.invoiceID)">{{ $t('general.edit') }}</el-dropdown-item>
                <el-dropdown-item @click.native="showPaidInvoiceModal(scope.row.invoiceID,scope.row.invoiceNo,scope.row.invoiceOutstanding)">{{ $t('invoice.payment') }}</el-dropdown-item>
                <el-dropdown-item v-if="scope.row.invoiceType == 'Individual'" @click.native="exportIndividualInvoice(scope.row.invoiceID)">{{ $t('invoice.exportInvoice') }}</el-dropdown-item>
                <el-dropdown-item v-else-if="scope.row.invoiceType == 'Coupon'" @click.native="exportCouponInvoice(scope.row.invoiceID)">{{ $t('invoice.exportInvoice') }}</el-dropdown-item>
                <el-dropdown-item v-else @click.native="exportInvoice(scope.row.invoiceID)">{{ $t('invoice.exportInvoice') }}</el-dropdown-item>
                <el-dropdown-item @click.native="deleteInvoice(scope.row.invoiceID)">{{ $t('general.clearInvoice') }}</el-dropdown-item>
                <el-dropdown-item @click.native="releaseInvoice(scope.row.invoiceID,scope.row.invoiceNo)">{{ $t('general.releaseInvoice') }}</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>
      </div>
      <div v-if="filter.invoiceType == 'Coupon'">
      <el-table key="coupon" :data="couponInvoiceList" style="width: 100%" border >
        <el-table-column type="selection" width="55"/>
        <el-table-column :label="$t('invoice.invoiceNo')" prop="invoiceNo" sortable="custom"/>
        <el-table-column :label="$t('invoice.accountNo')" prop="accountNo" sortable="custom"/>
        <el-table-column :label="$t('invoice.corporateName')" prop="enCustomerName" width="200" sortable="custom"/>
        <el-table-column :label="$t('invoice.issueDate')" prop="issueDate" sortable="custom"/>
        <el-table-column :label="$t('invoice.paymentDate')" prop="paymentDate" sortable="custom"/>
        <el-table-column :label="$t('invoice.couponStartNo')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ getComma(scope.row.startCouponNo) }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.couponQuantity')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ getComma(scope.row.couponQuantity) }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.couponSellType')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ getComma(scope.row.couponSellType) }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.couponUnitPrice')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ getComma(scope.row.couponUnitPrice) | currency('HK$') }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.totalAmount')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ scope.row.invoiceTotalCharge | currency('HK$') }}</span>
          </template>
        </el-table-column>
        </el-table-column>
        <el-table-column :label="$t('invoice.outstanding')" sortable="custom">
          <template slot-scope="scope">
            <span>{{ scope.row.invoiceOutstanding | currency('HK$') }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.paymentStatus')">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.invoiceStatus == '' || scope.row.invoiceStatus == 'NOT PAID'" type="warning">Not Paid</el-tag>
            <el-tag v-else type="success">{{ scope.row.invoiceStatus }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column :label="$t('general.actions')" fixed="right">
          <template slot-scope="scope">
            <el-dropdown trigger="click">
              <el-button type="primary">
                {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item @click.native="showEditCouponInvoiceModal(scope.row.invoiceID)">{{ $t('general.edit') }}</el-dropdown-item>
                <el-dropdown-item @click.native="showPaidInvoiceModal(scope.row.invoiceID,scope.row.invoiceNo,scope.row.invoiceOutstanding)">{{ $t('invoice.payment') }}</el-dropdown-item>
                <el-dropdown-item @click.native="exportCouponInvoice(scope.row.invoiceID)">{{ $t('invoice.exportInvoice') }}</el-dropdown-item>
                <el-dropdown-item @click.native="deleteInvoice(scope.row.invoiceID)">{{ $t('general.clearInvoice') }}</el-dropdown-item>
                <el-dropdown-item @click.native="releaseInvoice(scope.row.invoiceID,scope.row.invoiceNo)">{{ $t('general.releaseInvoice') }}</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>
    </div>
      <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancel"> {{ $t('general.cancel') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handlePaymentClose" :visible.sync="modal.payment" :title="$t('invoice.createCouponInvoice')" width="70%">
      <span slot="title" class="dialog-title">
        <span>{{ $t('invoice.payment') }} </span>
        <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="showPaymentDialog"/>
      </span>
      <el-table :data="paymentList" style="width: 100%" border >
        <el-table-column type="selection" width="55"/>
        <el-table-column :label="$t('invoice.debitNo')" prop="debitID" sortable="custom"/>
        <el-table-column :label="$t('invoice.paymentDate')" prop="paymentDate" sortable="custom"/>
        <el-table-column :label="$t('invoice.paymentMethod')" prop="paymentMethod" sortable="custom"/>
        <el-table-column :label="$t('invoice.paymentValue')" prop="paymentValue" sortable="custom">
          <template slot-scope="scope">
            {{ scope.row.paymentValue | currency('HK$') }}
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.chequeNo')" prop="chequeNo" sortable="custom"/>
        <el-table-column :label="$t('invoice.invoiceNo')" prop="invoiceNo" sortable="custom"/>
        <el-table-column :label="$t('invoice.fullPaid')" prop="fullPaid" sortable="custom"/>
        <el-table-column :label="$t('general.actions')" fixed="right">
          <template slot-scope="scope">
            <el-dropdown trigger="click">
              <el-button type="primary">
                {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item @click.native="showPaymentDialog(scope.row.debitID)">{{ $t('invoice.payment') }}</el-dropdown-item>
                <el-dropdown-item @click.native="downloadReceipt(scope.row.debitID)">{{ $t('invoice.downloadReceipt') }}</el-dropdown-item>
                <el-dropdown-item @click.native="deleteDebit(scope.row.debitID)">{{ $t('general.delete') }}</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>

      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.payment = false"> {{ $t('general.cancel') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleAddPaymentClose" :visible.sync="modal.addPayment" :show-close="false" width="50%">
      <span slot="title" class="dialog-title">
        <span>{{ $t('invoice.payment') }} </span>
      </span>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="4">
          <label>{{ $t('invoice.invoiceNo') }}</label>
        </el-col>
        <el-col :span="20">
          <span>{{ invoiceNo }}</span>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="16">
          <FITSelectElement v-model="payment.paymentMethod" :options="paymentMethodOptions" :width="18" :label="$t('invoice.paymentMethod')" />
          <el-row v-if="payment.paymentMethod == 'Cheque'">
            <el-col :span="6">
              <label>{{ $t('invoice.chequeNo') }}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="payment.chequeNo" />
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="6">
              <label>{{ $t('invoice.paymentValue') }}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="payment.paymentValue" type="number" />
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="6">
              <label>{{ $t('invoice.paymentDate') }}</label>
            </el-col>
            <el-col :span="18">
              <el-date-picker
                v-model="payment.paymentDate"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="Pick a day"/>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="8">
          <el-button class="filter-item" type="danger" icon="el-icon-minus" style="margin-left:10px" @click="removePaymentMethodArray(i)"/>
        </el-col>
      </el-row>
      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.addPayment = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="confirmAddDebit"> {{ $t('invoice.payment') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleCompanyClose" :visible.sync="modal.company" width="80%">
      <span slot="title" class="dialog-title">
        <h2>{{ $t('invoice.createCompanyInvoice') }}
          <el-button :disabled="companyInvoice.customerID===''?true:false" class="filter-item" type="success" @click="openBodyCheckDialog"> {{ $t('invoice.addBodyCheck') }}</el-button>
          <el-button :disabled="companyInvoice.customerID===''?true:false" class="filter-item" type="success" @click="openPlanDialog"> {{ $t('invoice.addPlan') }}</el-button>
          <el-button :disabled="companyInvoice.customerID===''?true:false" class="filter-item" type="success" @click="openItemDialog"> {{ $t('invoice.addItem') }}</el-button>
          <span style="margin-left:2rem;">{{ $t('invoice.totalAmount') }} : {{ companyInvoice.invoiceTotalCharge | currency('HK$') }}</span>
        </h2>

      </span>

      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="12">
          <el-row type="flex" align="middle" :gutter="20">
              <el-col :span="6">
                <label>{{$t('plan.customer')}}</label>
              </el-col>
              <el-col :span="18">
                <el-select
                v-model="companyInvoice.customerID"
                filterable
                remote
                reserve-keyword
                placeholder="Please enter a keyword"
                :remote-method="remoteMethod"
                :loading="loading"
                disabled
                >
                <el-option
              v-for="item in customerOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
                </el-option>
              </el-select>
            </el-col>
          </el-row>        
        </el-col>
        <el-col :span="12">
          <el-row type="flex" align="middle" :gutter="20">
                <el-col :span="6" >
                  <label>{{ $t('invoice.invoiceIssueDate') }}</label>
                </el-col>
                <el-col :span="18" >
                  <el-date-picker
                        v-model="companyInvoice.issueDate"
                        type="date"
                        value-format="yyyy-MM-dd"
                        placeholder="Pick a day"/>
                    </el-col>
              </el-row>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="12">
          <el-row type="flex" align="middle" :gutter="20">
            <el-col :span="6" >
              <label>{{ $t('invoice.invoiceRemarks') }}</label>
            </el-col>
            <el-col :span="18" >
              <el-input v-model="companyInvoice.invoiceRemark" :rows="3" type="textarea"/>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="12">
          <el-row v-if="!chosenNo" :gutter="20" type="flex" align="middle">
            <el-col :span="6">
              <label>{{ $t('invoice.availableInvoiceNo') }}</label>
            </el-col>
            <el-col :span="18">
              <el-select v-model="occupiedInvoiceNo" placeholder="Select" clearable>
                <el-option
                  v-for="item in invoiceNoOptions"
                  :key="item.label"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-col>
          </el-row>
          <FITSelectElement v-model="chosenPaymentOption" :label="$t('customer.paymentTerms')" :options="paymentOptions" :width="18" />
        </el-col>
      </el-row>

      <el-table :data="bodyCheck.list" style="width: 100%" border >
        <el-table-column :label="$t('bodyCheck.ID')" prop="bodyCheckNo" sortable="custom"/>
        <el-table-column :label="$t('bodyCheck.customerName')" prop="enCustomerName" sortable="custom" width="150"/>
        <el-table-column :label="$t('bodyCheck.plan')" prop="planCode" sortable="custom"/>
        <el-table-column :label="$t('bodyCheck.checkDate')" prop="serviceDate" sortable="custom" width="100"/>
        <el-table-column :label="$t('bodyCheck.checkTime')" prop="serviceStartTime" sortable="custom" width="100"/>
        <el-table-column :label="$t('bodyCheck.checkBranch')" prop="branchCode" sortable="custom" width="100"/>
        <el-table-column :label="$t('bodyCheck.reportDate')" prop="reportDate" sortable="custom"/>
        <el-table-column :label="$t('bodyCheck.takeReport')" prop="reportOption" sortable="custom"/>
        <el-table-column :label="$t('bodyCheck.finish')" prop="bodyCheckStatus" sortable="custom"/>
        <el-table-column :label="$t('bodyCheck.totalAmount')" prop="bodyCheckTotalCharge" sortable="custom">
          <template slot-scope="scope">
            <span>{{ scope.row.bodyCheckTotalCharge | currency('HK$') }}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('bodyCheck.nextCheckDate')" prop="nextServiceDate" sortable="custom" width="100"/>
      </el-table>

      <br>

      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="24">
          <el-table :data="plan.list" style="width: 100%" border >
            <el-table-column :label="$t('invoice.refNo')" prop="planCode" sortable="custom"/>
            <el-table-column :label="$t('invoice.quantity')" prop="planCredit" sortable="custom" />
            <el-table-column :label="$t('invoice.planUnitPrice')" sortable="custom">
              <template slot-scope="scope">
                <span>{{ scope.row.planPrice | currency('HK$') }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('invoice.discount')" prop="planDiscount" sortable="custom" >
              <template slot-scope="scope">
                <span>{{ scope.row.planDiscount | currency('HK$') }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('invoice.totalAmount')" sortable="custom" >
              <template slot-scope="scope">
                <span>{{ scope.row.planTotalCharge | currency('HK$') }}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="24">
          <el-table :data="item.list" style="width: 100%" border >
            <el-table-column :label="$t('invoice.refNo')" prop="itemCode" sortable="custom"/>
            <el-table-column :label="$t('invoice.quantity')" prop="itemCredit" sortable="custom"/>
            <el-table-column :label="$t('invoice.itemPrice')" sortable="custom">
              <template slot-scope="scope">
                <span>{{ scope.row.itemPrice | currency('HK$') }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('invoice.discount')" prop="itemDiscount" sortable="custom" >
              <template slot-scope="scope">
                <span>{{ scope.row.itemDiscount | currency('HK$') }}</span>
              </template>
            </el-table-column>
            <el-table-column :label="$t('invoice.totalAmount')" sortable="custom" >
              <template slot-scope="scope">
                <span>{{ scope.row.itemTotalCharge | currency('HK$') }}</span>
              </template>
            </el-table-column>
          </el-table>
        </el-col>
      </el-row>

      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.company = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="info" @click="saveForLaterCorporate"> {{ $t('invoice.saveForLater') }} </el-button>
        <el-button type="primary" @click="createCorporateInvoice"> {{ getInvoiceTranslate() }} </el-button>
      </span>
    </el-dialog>

    <el-dialog id="selectBodyCheck" :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleBodyCheckClose" :visible="modal.bodyCheck" :title="$t('invoice.bodyCheckList')" width="80%" @opened="checking">
      <el-table ref="bodyCheckList" :data="bodyCheckList" style="width: 100%" border @selection-change="bodyCheckSelection">
        <el-table-column type="selection" width="55"/>
        <el-table-column :label="$t('invoice.refNo')" prop="bodyCheckNo" sortable="custom"/>
        <el-table-column :label="$t('bodyCheck.customerName')" prop="enCustomerName" sortable="custom" />
        <el-table-column :label="$t('bodyCheck.planCode')" prop="planCode" sortable="custom" />
        <el-table-column :label="$t('bodyCheck.itemCode')" prop="itemCode" sortable="custom" />
        <el-table-column :label="$t('bodyCheck.checkDate')" prop="serviceDate" sortable="custom" width="100"/>
        <el-table-column :label="$t('bodyCheck.finish')" sortable="custom">
          <template slot-scope="scope">
            <span v-if="scope.row.finish == '1'"><i class="el-icon-check"/></span>
            <span v-if="scope.row.finish == '0'"><i class="el-icon-close"/></span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.totalCharge')" prop="bodyCheckTotalCharge" sortable="custom">
          <template slot-scope="scope">
            <span>{{ scope.row.bodyCheckTotalCharge | currency('HK$') }}</span>
          </template>
        </el-table-column>
      </el-table>

      <pagination v-show="bodyCheckPagination.totalPages > 0" :total="bodyCheckPagination.totalRows" :page.sync="bodyCheckParams.page" :limit.sync="bodyCheckParams.count" />

      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelSelectBodyCheck"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="confirmSelectBodyCheck"> {{ $t('invoice.confirmSelectBodyCheck') }} </el-button>
      </span>
    </el-dialog>
    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handlePlanClose" :visible.sync="modal.plan" :show-close="false" width="50%">
      <span slot="title" class="dialog-title">
        <span>{{ $t('bodyCheck.addPlan') }} </span>
        <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addPlanArray"/>
      </span>
      <div v-for="(item,i) in temporyPlan" >
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="16">
            <!-- <FITSelectElement v-model="item.plan" :options="planOptions" :width="18" :label="$t('bodyCheck.plan')" /> -->
            <el-row :gutter="20">
              <el-col :span="6" >
                <label>{{$t('bodyCheck.plan')}}</label>
              </el-col>
              <el-col :span="18" >
                <el-select
                  v-model="item.plan"
                  filterable
                  remote
                  reserve-keyword
                  placeholder="Please enter a keyword"
                  :remote-method="planMethod"
                  :loading="planloading"
                  >
                  <el-option
                    v-for="item in planOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
                <label>{{ $t('bodyCheck.discount') }}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="item.planDiscount" />
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
                <label>{{ $t('bodyCheck.quantity') }}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="item.planCredit" type="number" />
              </el-col>
            </el-row>
          </el-col>
          <el-col :span="8">
            <el-button class="filter-item" type="danger" icon="el-icon-minus" style="margin-left:10px" @click="removePlanArray(i)"/>
          </el-col>
        </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelSelectPlan"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="confirmSelectPlan"> {{ $t('plan.createPlan') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleItemClose" :visible.sync="modal.item" :show-close="false" width="50%">
      <span slot="title" class="dialog-title">
        <span>{{ $t('bodyCheck.addItem') }} </span>
        <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addItemArray"/>
      </span>
      <div v-for="(item,i) in temporyItem" >
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="16">
            <!-- <FITSelectElement v-model="item.item" :options="itemOptions" :width="18" :label="$t('bodyCheck.item')" /> -->
            <el-row :gutter="20">
              <el-col :span="6" >
                <label>{{$t('bodyCheck.plan')}}</label>
              </el-col>
              <el-col :span="18" >
                <el-select
                  v-model="item.item"
                  filterable
                  remote
                  reserve-keyword
                  placeholder="Please enter a keyword"
                  :remote-method="itemMethod"
                  :loading="itemloading"
                  >
                  <el-option
                    v-for="item in itemOptions"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                  </el-option>
                </el-select>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
                <label>{{ $t('bodyCheck.discount') }}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="item.itemDiscount" />
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
                <label>{{ $t('bodyCheck.quantity') }}</label>
              </el-col>
              <el-col :span="18">
                <el-input v-model="item.itemCredit" type="number" />
              </el-col>
            </el-row>
          </el-col>
          <el-col :span="8">
            <el-button class="filter-item" type="danger" icon="el-icon-minus" style="margin-left:10px" @click="removeItemArray(i)"/>
          </el-col>
        </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelSelectItem"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="confirmSelectItem"> {{ $t('item.createItem') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleCouponClose" :visible.sync="modal.coupon" width="80%">
      <span slot="title" class="dialog-title">
        <span>{{$t('invoice.createCouponInvoice')}} </span>
        <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="openAddCouponModal"/>
      </span>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="12">
          <el-row v-if="!chosenNo" :gutter="20" type="flex" align="middle">
            <el-col :span="6">
              <label>{{ $t('invoice.availableInvoiceNo') }}</label>
            </el-col>
            <el-col :span="18">
              <el-select v-model="occupiedInvoiceNo" placeholder="Select" clearable>
                <el-option
                  v-for="item in invoiceNoOptions"
                  :key="item.label"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-col>
          </el-row>
        </el-col>
        <el-col :span="12">
        <FITSelectElement v-model="couponInvoice.customerID" :options="agentOptions" :label="$t('invoice.customer')" :width="18" />
        </el-col>
      </el-row>
      <el-table :data="couponArray" style="width: 100%" border >
        <el-table-column :label="$t('invoice.couponStartNo')" prop="startCouponNo" sortable="custom"/>
        <el-table-column :label="$t('invoice.couponQuantity')" prop="couponQuantity" sortable="custom"/>
        <el-table-column :label="$t('coupon.endCouponNo')" prop="endCouponNo" sortable="custom"/>
        <el-table-column :label="$t('invoice.couponSellType')" prop="couponSellType" sortable="custom"/>
        <el-table-column :label="$t('invoice.couponUnitPrice')" prop="couponUnitPrice" sortable="custom">
          <template slot-scope="scope">
          <span>{{scope.row.couponUnitPrice | currency("HK$")}}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.couponDiscount')" prop="couponDiscount" sortable="custom">
          <template slot-scope="scope">
          <span>{{scope.row.couponDiscount | currency("HK$")}}</span>
          </template>
        </el-table-column>
        <el-table-column :label="$t('invoice.couponTotalCharge')" prop="couponTotalCharge" sortable="custom">
          <template slot-scope="scope">
          <span>{{scope.row.couponTotalCharge | currency("HK$")}}</span>
          </template>
        </el-table-column>
      </el-table>
      <el-row :gutter="20" style="margin-top:1rem;">
        <el-col :span="12">
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{ $t('invoice.invoiceIssueDate') }}</label>
        </el-col>
        <el-col :span="18" >
          <el-date-picker
                v-model="couponInvoice.issueDate"
                type="date"
                value-format="yyyy-MM-dd"
                placeholder="Pick a day"/>
            </el-col>
      </el-row>
        </el-col>
        <el-col :span="12">
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{ $t('invoice.totalAmount') }}</label>
        </el-col>
        <el-col :span="18" >
          {{ couponResult.invoiceTotalCharge | currency('HK$') }}
        </el-col>
      </el-row>
        </el-col>
      </el-row>

      <el-row :gutter="20" style="margin-top:1rem;">
        <el-col :span="24">
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="3" >
          <label>{{ $t('invoice.invoiceRemarks') }}</label>
        </el-col>
        <el-col :span="21" >
          <el-input v-model="couponInvoice.invoiceRemark" :rows="3" type="textarea"/>
        </el-col>
      </el-row>
        </el-col>
      </el-row>

      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.coupon = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="createCouponInvoice"> {{ getInvoiceTranslate() }} </el-button>
      </span>

    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleAddCouponClose" :visible.sync="modal.addCoupon" width="50%">
      <span slot="title" class="dialog-title">
        <span>{{$t('invoice.addCouponInvoice')}} </span>
        <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addCouponArray"/>
      </span>
      <div v-for="(item,i) in couponArray" >
      <hr v-if="i>0" size="8px" align="center" width="100%" style="margin-bottom:1rem;">
      <el-row :gutter="20">
        <el-col :span="20">
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{ $t('invoice.couponStartNo') }}</label>
        </el-col>
        <el-col :span="18" >
          <el-input v-model="item.startCouponNo"/>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{ $t('invoice.couponQuantity') }}</label>
        </el-col>
        <el-col :span="18" >
          <el-input v-model="item.couponQuantity"/>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20">
        <el-col :span="6" >
          <label>{{ $t('coupon.endCouponNo') }}</label>
        </el-col>
        <el-col :span="18" >
          <el-input v-model="item.endCouponNo" disabled />
        </el-col>
      </el-row>

      <FITSelectElement v-model="item.couponSellType" :options="statusOptions" :label="$t('invoice.sellType')" :width="18" />

      <el-row type="flex" align="middle" :gutter="20" v-if="item.couponSellType != 'F'">
        <el-col :span="6" >
          <label>{{ $t('coupon.couponUnitPrice') }}</label>
        </el-col>
        <el-col :span="18" >
          <el-input v-model="item.couponUnitPrice"/>
        </el-col>
      </el-row>
      <el-row type="flex" align="middle" :gutter="20" v-if="item.couponSellType != 'F'">
        <el-col :span="6" >
          <label>{{ $t('coupon.couponDiscount') }}</label>
        </el-col>
        <el-col :span="18" >
          <el-input v-model="item.couponDiscount"/>
        </el-col>
      </el-row>
        </el-col>
        <el-col :span="4">
          <el-button class="filter-item" type="danger" icon="el-icon-minus"  @click="removeCouponArray(i)"/>
        </el-col>
      </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelAddCoupon"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="addCouponInvoice"> {{ $t('general.add') }} </el-button>
      </span>
    </el-dialog>

  </div>
</template>

<script>
import Vue from 'vue'
import moment from 'moment'
import FITSelectElement from '@/components/FITSelectElement.vue'
import Pagination from '@/components/Pagination'
import { TheMask } from 'vue-the-mask'

export default {
  name: 'Invoice',
  components: {
    FITSelectElement,
    Pagination,
    TheMask
  },
  props: {
    customerID: {
      type: String
    },
    show: {
      type: Boolean,
      default: false
    },
    customerType: {
      type: String,
      default: 'Individual'
    }
  },
  data() {
    return {
      invoiceList: [],
      bodyCheckList: [],
      toggleBodyCheck: [],
      temporyPlan: [{ category: 'sp', plan: '', planDiscount: 0, planCredit: 1 }],
      temporyItem: [{ category: 'si', item: '', itemDiscount: 0, itemCredit: 1 }],
      modal: {
        company: false,
        coupon: false,
        addCoupon:false,
        payment: false,
        addPayment: false,
        plan: false,
        bodyCheck: false,
        item: false
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      bodyCheckPagination: {
        totalPages: 1,
        totalRows: 0,
        page: 1,
        count: 10
      },
      params: {
        count: 10,
        page: 1
      },
      bodyCheckParams: {
        count: 50,
        page: 1
      },
      item: {
        code: '',
        itemChinDesc: '',
        itemEngDesc: '',
        remarks: '',
        topic: ''
      },
      companyInvoice: {
        customerID: '',
        attorney: '',
        invoiceRemark: '',
        invoicePaymentOption: '',
        invoiceType: 'Corporate',
        invoiceTotalCharge: 0,
        invoiceNetTotal: 0,
        invoiceDiscount: '0.0',
        paymentOptions:"",
        issueDate:this.transformDateObject(new Date())
      },
      couponInvoiceList:[],
      couponInvoice: {
        customerID:"",
        invoiceRemark:"",
        issueDate:this.transformDateObject(new Date()),
      },
      couponArray:[{
        startCouponNo: '',
        endCouponNo: '',
        couponQuantity: 0,
        couponUnitPrice: 0,
        couponDiscount: 0,
        couponSellType: 'A',
        couponTotalCharge:0,
      }],
      couponResult: {
        invoiceTotalCharge: 0,
        invoiceDiscount: '0.0',
        invoiceNetTotal: 0,
        invoiceOutstanding: 0
      },
      oldCouponArray:[],
      customer:{
        cnCustomerName:"",
        enCustomerName:"",
        customerTel:"",
        customerIdentityNo:"",
        sex:"",
      },
      bodyCheck: {
        list: [],
        total: 0
      },
      plan: {
        list: [],
        total: 0
      },
      item: {
        list: [],
        total: 0
      },
      invoice: {
        invoiceUnitPrice: '',
        invoiceQuantity: '',
        endCouponNo: '',
        startCouponNo: '',
        invoiceExpiryDate: '',
        invoiceStatus: '',
      },
      filter:{
        invoiceType:"Corporate"
      },
      staffOptions: [],
      agentOptions:[],
      invoiceNoOptions:[],
      occupiedInvoiceNo:"",
      chosenNo: '',
      chosenInvoiceNo:"",
      chosenGroupID:"",
      chosenPaymentOption:"",
      invoiceNo: '',
      chosenOutstanding: 0,
      planOptions: [],
      allPlanOptions:[],
      itemOptions: [],
      allItemOptions:[],
      customerOptions: [],
      allCustomerOptions:[],
      staffID: '',
      payment:
        { paymentMethod: '', paymentValue: '', paymentDate: this.transformDateObject(new Date()), chequeNo: '' },
      paymentMethodOptions: [
        { label: this.$t('invoice.creditCard'), value: 'creditCard' },
        { label: this.$t('invoice.cheque'), value: 'Cheque' },
        { label: this.$t('invoice.HCV'), value: 'HCV' },
        { label: this.$t('invoice.cash'), value: 'Cash' },
        { label: this.$t('invoice.transfer'), value: 'Transfer' },
      ],
      paymentOptions: [
        { label: 'C.O.D', value: 'COD' },
        { label: '7 Days', value: '7' },
        { label: '14 Days', value: '14' },
        { label: '1 month', value: '30' }
      ],
      statusOptions: [
        { label: 'Active', value: 'A' },
        { label: 'Disable', value: 'D' },
        { label: 'Free', value: 'F' },
        { label: 'Lost', value: 'L' },
        { label: 'Paid', value: 'P' },
        { label: 'Replace', value: 'R' },
        { label: 'Sold', value: 'S' },
        { label: 'Unlimited', value: 'U' },
        { label: 'Valid', value: 'V' }
      ],
      typeOptions: [
        { label: 'Corporate', value: 'Corporate' },
        { label: 'Coupon', value: 'Coupon' }
      ],
      categoryOptions: [
        { label: this.$t('general.systemPlan'), value: 'sp' },
        { label: this.$t('general.companyPlan'), value: 'cp' }
      ],
      categoryOptions1: [
        { label: this.$t('general.systemItem'), value: 'si' },
        { label: this.$t('general.companyItem'), value: 'ci' }
      ],
      paymentList: [],
      customerParam: {
        customerType: ['Corporate', 'Agent'],
        page: 1,
        count: 200,
        orderBy: 'accountNo'
      },
      agentParam: {
        customerType: 'Agent',
        page: 1,
        count: 200,
        orderBy: 'accountNo'
      },
      loading:false,
      planloading:false,
      itemloading:false,
      totalAmountObject:{
        planTotalCharge:[],
        itemTotalCharge:[],
        bodyCheckTotalCharge:[]
      },
      busy:false,
    }
  },
  computed: {
    totalAmount() {
      let dummyValue = 0
      for (var i = 0; i < this.plan.list.length; i++) {
        dummyValue = dummyValue + this.plan.list[i].planTotalCharge
      }
      for (var j = 0; j < this.item.list.length; j++) {
        dummyValue = dummyValue + this.item.list[j].itemTotalCharge
      }
      for (var k = 0; k < this.bodyCheck.list.length; k++) {
        dummyValue = dummyValue + parseFloat(this.bodyCheck.list[k].bodyCheckTotalCharge)
      }
      return dummyValue
    }
  },
  watch: {
    customerID(val) {
      this.getInvoice()
    },
    filter: {
      handler(newValue, oldValue) {
        this.params.page = 1
        this.getInvoice()
      },
      deep: true
    },
    params: {
      handler(newValue, oldValue) {
        this.getInvoice()
      },
      deep: true
    },
    bodyCheckParams: {
      handler(newValue, oldValue) {
        this.getBodyCheckList()
      },
      deep: true
    },
    totalAmountObject:{
      deep:true,
      handler(val){
        var totalCharge = 0;
        val.planTotalCharge.forEach(obj => {
          totalCharge = totalCharge + parseFloat(obj)
        })
        val.itemTotalCharge.forEach(obj => {
          totalCharge = totalCharge + parseFloat(obj)
        })
        val.bodyCheckTotalCharge.forEach(obj => {
          totalCharge = totalCharge + parseFloat(obj)
        })
        this.companyInvoice.invoiceTotalCharge = totalCharge
        this.companyInvoice.invoiceNetTotal = totalCharge
      }
    },
    couponArray:{
      deep:true,
      handler(val){
        if(!this.busy){
          Vue.set(this,'busy', true)
        setTimeout(() => {
          Vue.set(this,'busy', false)
          val.forEach(obj => {
            if(obj.startCouponNo!= '' && obj.couponQuantity != 0){
              obj.endCouponNo = parseInt(obj.startCouponNo) + parseInt(obj.couponQuantity) - 1;
            }
            if(obj.couponUnitPrice == 0 && obj.couponUnitPrice == ''){
              this.$store.dispatch("getCouponList",{page:1,count:10,search:obj.startCouponNo}).then((json) => {
                obj.couponUnitPrice = json.list[0].couponUnitPrice;
              })
            }
          })
        }, 500);
        }
      }
    },
  },
  created() {
    if (this.customerID) {
      this.getInvoice()
      this.getCustomerList()
      this.getCustomerDetail()
      this.getStaffList()
      this.getAgentList();
      if(this.customerType == 'Agent')
      this.filter.invoiceType = 'Coupon'
      else
      this.filter.invoiceType = 'Corporate'
    }
  },
  methods: {
    cancel() {
      this.$emit('onCancel')
    },
    confirm() {
      this.$emit('onConfirm')
    },
    showCompanyModal() {
      this.modal.company = true
      this.chosenNo = null
      if(localStorage.customerCompanyInvoice){
        this.companyInvoice = JSON.parse(localStorage.customerCompanyInvoice)
        this.bodyCheckList = JSON.parse(localStorage.customerBodyCheckList)
        this.plan.list = JSON.parse(localStorage.customerPlanList)
        this.plan.total = this.plan.list.length
        this.item.list = JSON.parse(localStorage.customerItemList)
        this.item.total = this.item.list.length
        this.temporyPlan = JSON.parse(localStorage.customerTemporyPlan)
        this.temporyItem = JSON.parse(localStorage.customerTemporyItem)
        this.temporyBodyCheck = JSON.parse(localStorage.customerTemporyBodyCheck)
      }
      else{
        this.companyInvoice = {
        customerID: '',
        attorney: '',
        invoiceRemark: '',
        invoiceType: 'Corporate',
        invoiceTotalCharge: 0,
        invoiceNetTotal: 0,
        invoiceDiscount: '0.0',
        staffID: '',
        invoicePaymentOption:"",
        issueDate:this.transformDateObject(new Date())
      }
      this.plan = {list:[],total:0}
      this.bodyCheckList = []
      this.item = {list:[],total:0}
      this.bodyCheck = {list:[],total:0}
      this.temporyPlan = []
      this.temporyItem = []
      this.temporyBodyCheck = []
      }
      this.companyInvoice.customerID = this.customerID
      this.companyInvoice.invoicePaymentOption = this.chosenPaymentOption
      this.getInvoiceNoList();
    },
    showCouponModal() {
      this.modal.coupon = true
      this.chosenNo = null
      this.couponInvoice = {
        customerID:"",
        issueDate:this.transformDateObject(new Date()),
      }
      this.couponResult = {
        invoiceTotalCharge: 0,
        invoiceDiscount: '0.0',
        invoiceNetTotal: 0,
        invoiceOutstanding: 0
      }
      this.couponArray = [{
        startCouponNo: '',
        endCouponNo: '',
        couponQuantity: 0,
        couponUnitPrice: 0,
        couponDiscount:0,
        couponSellType: 'A',
        couponTotalCharge:0,
      }]
      this.couponInvoice.customerID = this.customerID
      this.getInvoiceNoList();
    },
    openBodyCheckDialog() {
      this.modal.bodyCheck = true
      this.bodyCheckParams = {
        count: 50,
        page: 1
      }
      this.getBodyCheckList()
    },
    openPlanDialog() {
      this.modal.plan = true
    },
    openItemDialog() {
      this.modal.item = true
    },
    openAddCouponModal(){
      this.modal.addCoupon = true
    },
    getInvoice() {
      let param = {};
      if (this.filter.invoiceType == 'A' || this.filter.invoiceType == '') {
        param.invoiceType = null
      } else {
        param.invoiceType = this.filter.invoiceType
      }
      if(this.customerType == 'Individual')
      param.invoiceType = null
      this.$store.dispatch('viewInvoice', { customerID: this.customerID, ...this.params,...param }).then((json) => {
        if(param.invoiceType == 'Coupon'){
          this.couponInvoiceList = json.list
        }
        else
        this.invoiceList = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    getCustomerList() {
      const dummyArray = []
      this.$store.dispatch('getCustomerList', this.customerParam).then((json) => {
        for (var i = 0; i < json.list.length; i++) {
          const dummyObject = {}
          dummyObject.label = json.list[i].accountNo + '-' + json.list[i].enCustomerName + '-' + json.list[i].cnCustomerName
          dummyObject.value = json.list[i].customerID
          dummyArray.push(dummyObject)
        }
        if (json.total > 200) {
          const loopTimes = parseInt(json.total / 200)
          for (var j = 0; j < loopTimes; j++) {
            this.$store.dispatch('getCustomerList', { page: j + 2, count: 200, customerType: ['Corporate', 'Agent'], orderBy: 'accountNo' }).then((json1) => {
              for (var k = 0; k < json1.list.length; k++) {
                const dummyObject2 = {}
                dummyObject2.label = json1.list[k].accountNo + '-' + json1.list[k].enCustomerName + '-' + json1.list[k].cnCustomerName
                dummyObject2.value = json1.list[k].customerID
                dummyArray.push(dummyObject2)
              }
            })
          }
        }
        this.customerOptions = dummyArray
        this.allCustomerOptions = dummyArray
      })
    },
    getAgentList() {
      const dummyArray = []
      this.$store.dispatch('getCustomerList', this.agentParam).then((json) => {
        for (var i = 0; i < json.list.length; i++) {
          const dummyObject = {}
          dummyObject.label = json.list[i].accountNo + '-' + json.list[i].enCustomerName + '-' + json.list[i].cnCustomerName
          dummyObject.value = json.list[i].customerID
          dummyArray.push(dummyObject)
        }
        if (json.total > 200) {
          const loopTimes = parseInt(json.total / 200)
          for (var j = 0; j < loopTimes; j++) {
            this.$store.dispatch('getCustomerList', { page: j + 2, count: 200, customerType: 'Agent' }).then((json1) => {
              for (var k = 0; k < json1.list.length; k++) {
                const dummyObject2 = {}
                dummyObject2.label = json1.list[k].accountNo + '-' + json1.list[k].enCustomerName + '-' + json1.list[k].cnCustomerName
                dummyObject2.value = json1.list[k].customerID
                dummyArray.push(dummyObject2)
              }
            })
          }
        }
        this.agentOptions = dummyArray
      })
    },
    getCustomerDetail() {
      this.$store.dispatch('getCustomerDetail', { customerID: this.customerID }).then((json) => {
        this.staffID = json.staffID
        if(json.customerType == 'Corporate')
        this.chosenGroupID = this.customerID
        else
        this.chosenGroupID = json.groupID
        this.chosenPaymentOption = json.paymentOption
        this.customer.cnCustomerName = json.cnCustomerName
        this.customer.enCustomerName = json.enCustomerName
        this.customer.customerTel = json.customerTel
        this.customer.sex = json.sex
        this.customer.customerIdentityNo = json.customerIdentityNo
        this.getPlanList()
        this.getItemList()
      })
    },
    getBodyCheckList() {
      this.$store.dispatch('viewBodyCheck', { customerID: this.companyInvoice.customerID, page: this.bodyCheckParams.page, count: this.bodyCheckParams.count, bodyCheckStatus: 'Checking',companyPaid:'Y',orderBy:"bodyCheckID",direction:"ASC",finish:"1" }).then((json) => {
        this.bodyCheckList = json.list
        this.bodyCheckPagination.totalRows = parseInt(json.total)
        this.bodyCheckPagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    getPlanList() {
      let dummyArray = [];
      this.$store.dispatch('getPlanList', {page:1,count:200,customerBased:'N',customerID:this.chosenGroupID}).then((json) => {
        for(var i=0;i<json.list.length;i++){
          let dummyObject = {};
          if(json.list[i].discountPrice != 0 )
          {
            dummyObject.label = json.list[i].planCode+'-'+ json.list[i].enPlan +'-$'+json.list[i].discountPrice;
            dummyObject.value = json.list[i].planID+','+json.list[i].planCode +','+json.list[i].discountPrice
          }
          else
          {
            dummyObject.label = json.list[i].planCode+'-'+ json.list[i].enPlan +'-$'+json.list[i].planSpecialPrice;
            dummyObject.value = json.list[i].planID+','+json.list[i].planCode +','+json.list[i].planSpecialPrice
          }
          
          dummyArray.push(dummyObject)
        }
        if(json.total>200){
              let loopTimes = parseInt(json.total/200);
              for(var j=0;j<loopTimes;j++){
                this.$store.dispatch('getPlanList', {page:j+2,count:200,customerBased:'N',customerID:this.chosenGroupID}).then((json1) => {
                  for(var k=0;k<json1.list.length;k++){
                    let dummyObject2 = {};
                    if(json1.list[k].discountPrice != 0)
                    {
                      dummyObject2.label = json1.list[k].planCode+'-'+ json1.list[k].enPlan +'-$'+json1.list[k].discountPrice;
                      dummyObject2.value = json1.list[k].planID+','+json1.list[k].planCode +','+json1.list[k].discountPrice
                    }
                    else
                    {
                      dummyObject2.label = json1.list[k].planCode+'-'+ json1.list[k].enPlan +'-$'+json1.list[k].planSpecialPrice;
                      dummyObject2.value = json1.list[k].planID+','+json1.list[k].planCode +','+json1.list[k].planSpecialPrice
                    }
                    
                    dummyArray.push(dummyObject2)
                  }
                })
              }
            }
        this.planOptions = dummyArray;
        this.allPlanOptions = dummyArray
      })
    },
    getItemList() {
      let dummyArray = [];
      this.$store.dispatch('getItemList', {page:1,count:200}).then((json) => {
        for(var i=0;i<json.list.length;i++){
          let dummyObject = {};
          if(json.list[i].discountPrice != 0  && json.list[i].discountPrice != undefined){
            dummyObject.label = json.list[i].itemCode+'-' + json.list[i].enItem +'-$'+json.list[i].discountPrice;
            dummyObject.value = json.list[i].itemID+'-'+json.list[i].itemCode +'-'+json.list[i].discountPrice
          }
          else{
            dummyObject.label = json.list[i].itemCode+'-' + json.list[i].enItem +'-$'+json.list[i].itemPrice;
            dummyObject.value = json.list[i].itemID+'-'+json.list[i].itemCode +'-'+json.list[i].itemPrice
          }
          dummyArray.push(dummyObject)
        }
        if(json.total>200){
              let loopTimes = parseInt(json.total/200);
              for(var j=0;j<loopTimes;j++){
                this.$store.dispatch('getItemList', {page:j+2,count:200}).then((json1) => {
                  for(var k=0;k<json1.list.length;k++){
                    let dummyObject2 = {};
                    if(json1.list[k].discountPrice != 0  && json1.list[k].discountPrice != undefined){
                      dummyObject2.label = json1.list[k].itemCode+'-'+ json1.list[k].enItem +'-$'+json1.list[k].discountPrice;
                      dummyObject2.value = json1.list[k].itemID+'-'+json1.list[k].itemCode +'-'+json1.list[k].discountPrice
                    }
                    else{
                      dummyObject2.label = json1.list[k].itemCode+'-'+ json1.list[k].enItem +'-$'+json1.list[k].itemPrice;
                      dummyObject2.value = json1.list[k].itemID+'-'+json1.list[k].itemCode +'-'+json1.list[k].itemPrice
                    }
                    
                    dummyArray.push(dummyObject2)
                  }
                })
              }
            }
        this.itemOptions = dummyArray;
        this.allItemOptions = dummyArray
      })
    },
    getStaffList() {
      const dummyArray = []
      this.$store.dispatch('getStaffList', { page: 1, count: 200 }).then((json) => {
        for (var i = 0; i < json.list.length; i++) {
          const dummyObject = {}
          dummyObject.label = json.list[i].enStaffName + '-' + json.list[i].cnStaffName
          dummyObject.value = json.list[i].staffID
          dummyArray.push(dummyObject)
        }
        if (json.total > 200) {
          const loopTimes = parseInt(json.total / 200)
          for (var j = 0; j < loopTimes; j++) {
            this.$store.dispatch('getCustomerList', { page: j + 2, count: 200 }).then((json1) => {
              for (var k = 0; k < json1.list.length; k++) {
                const dummyObject2 = {}
                dummyObject2.label = json1.list[k].enStaffName + '-' + json1.list[k].cnStaffName
                dummyObject2.value = json1.list[k].staffID
                dummyArray.push(dummyObject2)
              }
            })
          }
        }
        this.staffOptions = dummyArray
      })
    },
    getDebitList() {
      this.$store.dispatch('getDebitHistory', { page: 1, count: 100, invoiceID: this.chosenNo }).then((json) => {
        this.paymentList = json.list
      })
    },
    addBodyCheck() {
      this.modal.createBodyCheck = true
    },
    createPlan() {

    },
    addPlanDialog() {
      this.modal.addCompanyPlan = true
    },
    showPaidInvoiceModal(id, no, outstanding) {
      this.modal.payment = true
      this.chosenNo = id
      this.invoiceNo = no
      this.chosenOutstanding = outstanding
      this.getDebitList()
    },
    removePaymentMethodArray(i) {
      this.$confirm('This will permanently delete the record. Continue?', 'Warning', {
        confirmButtonText: 'OK',
        cancelButtonText: 'Cancel',
        type: 'warning'
      }).then(() => {
        this.payment.splice(i, 1)
        this.$message({
          type: 'success',
          message: 'Delete completed'
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: 'Delete canceled'
        })
      })
    },
    showPaymentDialog() {
      this.modal.addPayment = true
      this.$store.dispatch('getInvoiceDetail', { invoiceID: this.chosenNo }).then((json) => {
        if(json.bodyCheckID == null)
        this.payment.paymentDate = this.transformDateObject(new Date())
        else{
          this.$store.dispatch('getBodyCheckDetail', { bodyCheckID: json.bodyCheckID }).then((json1) => {
          this.payment.paymentDate = json1.serviceDate
          })
        }
      })
      this.payment.paymentValue = this.chosenOutstanding
    },
    showEditCompanyInvoiceModal(id,no) {
      this.modal.company = true
      this.chosenNo = id
      this.chosenInvoiceNo = no
      const dummyBodyCheckList = []
      const dummyPlanList = []
      const dummyItemList = []
      const dummyTemporaryPlanList = []
      const dummyTemporaryItemList = []
      const dummyPlanTotalCharge = []
      const dummyItemTotalCharge = []
      const dummyBodyCheckTotalCharge = []
      this.$store.dispatch('getInvoiceDetail', { invoiceID: id }).then((json) => {
        this.companyInvoice = json
        if(this.companyInvoice.planID != null){
          for (var i = 0; i < this.companyInvoice.planID.length; i++) {
          const dummyPlanObject = {}
          const dummyTemporaryPlanObject = {}
          dummyPlanObject.planDiscount = this.companyInvoice.planDiscount[i]
          dummyTemporaryPlanObject.planDiscount = this.companyInvoice.planDiscount[i]
          dummyPlanObject.planCredit = this.companyInvoice.planCredit[i]
          dummyTemporaryPlanObject.planCredit = this.companyInvoice.planCredit[i]
          dummyPlanObject.planID = this.companyInvoice.planID[i]
          dummyPlanObject.planCode = this.companyInvoice.planCode[i]
          dummyPlanObject.planPrice = this.companyInvoice.planPrice[i]
          dummyTemporaryPlanObject.plan = this.companyInvoice.planID[i] + ',' + this.companyInvoice.planCode[i] + ',' + this.companyInvoice.planPrice[i]
          dummyTemporaryPlanObject.category = 'sp'
          dummyPlanObject.planTotalCharge = this.companyInvoice.planTotalCharge[i]
          dummyPlanObject.planAccountNo = this.companyInvoice.planAccountNo[i]
          dummyPlanList.push(dummyPlanObject)
          dummyTemporaryPlanList.push(dummyTemporaryPlanObject)
          dummyPlanTotalCharge.push(dummyPlanObject.planTotalCharge)
          }
        }
        if(this.companyInvoice.itemID != null){
          for (var j = 0; j < this.companyInvoice.itemID.length; j++) {
          const dummyItemObject = {}
          const dummyTemporaryItemObject = {}
          dummyItemObject.itemDiscount = this.companyInvoice.itemDiscount[j]
          dummyTemporaryItemObject.itemDiscount = this.companyInvoice.itemDiscount[j]
          dummyItemObject.itemCredit = this.companyInvoice.itemCredit[j]
          dummyTemporaryItemObject.itemCredit = this.companyInvoice.itemCredit[j]
          dummyItemObject.itemID = this.companyInvoice.itemID[j]
          dummyItemObject.itemCode = this.companyInvoice.itemCode[j]
          dummyItemObject.itemPrice = this.companyInvoice.itemPrice[j]
          dummyTemporaryItemObject.item = this.companyInvoice.itemID[j] + '-' + this.companyInvoice.itemCode[j] + '-' + this.companyInvoice.itemPrice[j]
          dummyTemporaryItemObject.category = 'sp'
          dummyItemObject.itemTotalCharge = this.companyInvoice.itemTotalCharge[j]
          dummyItemObject.itemAccountNo = this.companyInvoice.itemAccountNo[j]
          dummyItemList.push(dummyItemObject)
          dummyTemporaryItemList.push(dummyTemporaryItemObject)
          dummyItemTotalCharge.push(dummyItemObject.itemTotalCharge)
          }
        }
        if(this.companyInvoice.bodyCheckID != null){
          for (var k = 0; k < this.companyInvoice.bodyCheckID.length; k++) {
          const dummyBodyCheckObject = {}
          dummyBodyCheckObject.bodyCheckID = this.companyInvoice.bodyCheckID[k]
          dummyBodyCheckObject.bodyCheckNo = this.companyInvoice.bodyCheckNo[k]
          dummyBodyCheckObject.bodyCheckStatus = this.companyInvoice.bodyCheckStatus[k]
          dummyBodyCheckObject.bodyCheckTotalCharge = this.companyInvoice.bodyCheckTotalCharge[k]
          dummyBodyCheckObject.cnCustomerName = this.companyInvoice.cnCustomerName[k]
          dummyBodyCheckObject.enCustomerName = this.companyInvoice.enCustomerName[k]
          dummyBodyCheckObject.bcPlanCode = this.companyInvoice.bcPlanCode[k]
          dummyBodyCheckObject.serviceDate = this.companyInvoice.serviceDate[k]
          dummyBodyCheckObject.serviceStartTime = this.companyInvoice.serviceStartTime[k]
          dummyBodyCheckObject.branchCode = this.companyInvoice.branchCode[k]
          dummyBodyCheckObject.reportDate = this.companyInvoice.reportDate[k]
          dummyBodyCheckObject.reportOption = this.companyInvoice.reportOption[k]
          dummyBodyCheckObject.nextServiceDate = this.companyInvoice.nextServiceDate[k]
          dummyBodyCheckList.push(dummyBodyCheckObject)
          dummyBodyCheckTotalCharge.push(dummyBodyCheckObject.bodyCheckTotalCharge)
          }
        }
        this.plan.list = dummyPlanList
        this.plan.total = dummyPlanList.length
        this.temporyPlan = dummyTemporaryPlanList
        this.item.list = dummyItemList
        this.item.total = dummyItemList.length
        this.temporyItem = dummyTemporaryItemList
        this.bodyCheck.list = dummyBodyCheckList
        this.bodyCheck.total = dummyBodyCheckList.length
        this.temporyBodyCheck = dummyBodyCheckList
        this.toggleBodyCheck = dummyBodyCheckList
        this.totalAmountObject.planTotalCharge = dummyPlanTotalCharge
        this.totalAmountObject.itemTotalCharge = dummyItemTotalCharge
        this.totalAmountObject.bodyCheckTotalCharge = dummyBodyCheckTotalCharge
      })
    },
    showEditCouponInvoiceModal(id) {
      this.modal.coupon = true
      this.chosenNo = id
      const dummyCouponArrayList = []
      var dummyAddCouponArray = [];
      this.$store.dispatch('getInvoiceDetail', { invoiceID: id }).then((json) => {
        this.couponInvoice = json
        this.couponResult = json; 
        for(var i=0;i<this.couponInvoice.startCouponNo.length;i++){
          let dummyCouponObject = {};
          let dummyAddCouponObject = {};
          dummyAddCouponObject.startCouponNo = this.couponInvoice.startCouponNo[i]
          dummyAddCouponObject.couponQuantity = this.couponInvoice.couponQuantity[i]
          dummyAddCouponObject.endCouponNo = this.couponInvoice.startCouponNo[i] + this.couponInvoice.couponQuantity[i]-1;
          dummyAddCouponObject.couponSellType = this.couponInvoice.couponSellType[i]
          dummyAddCouponObject.couponUnitPrice = this.couponInvoice.couponUnitPrice[i]
          dummyAddCouponObject.couponDiscount = this.couponInvoice.couponDiscount[i]
          dummyAddCouponObject.couponTotalCharge = (this.couponInvoice.couponUnitPrice[i] - this.couponInvoice.couponDiscount[i])*this.couponInvoice.couponQuantity[i]
          dummyAddCouponArray.push(dummyAddCouponObject)
        }
        this.couponArray = dummyAddCouponArray
        this.oldCouponArray = dummyAddCouponArray
      })
    },
    addCouponInvoice(){
      this.couponResult.invoiceTotalCharge = 0;
      for(var i=0;i<this.couponArray.length;i++){
        if(this.couponArray[i].couponSellType == 'F'){
          this.couponResult.invoiceTotalCharge = this.couponResult.invoiceTotalCharge;
        }
        else{
        this.couponResult.invoiceTotalCharge = this.couponResult.invoiceTotalCharge + this.couponArray[i].couponQuantity * (this.couponArray[i].couponUnitPrice - this.couponArray[i].couponDiscount);
        this.couponArray[i].couponTotalCharge = this.couponArray[i].couponQuantity * (this.couponArray[i].couponUnitPrice - this.couponArray[i].couponDiscount);
        }
      }
      this.modal.addCoupon = false
    },
    cancelAddCoupon(){
      if(this.chosenNo){
        this.couponArray = [
        {
        startCouponNo: '',
        endCouponNo: '',
        couponQuantity: 0,
        couponUnitPrice: 0,
        couponDiscount: 0,
        couponSellType: 'A',
        couponTotalCharge:0,}
      ]
      }
      else{
        this.couponArray = this.oldCouponArray
      }
      this.modal.addCoupon = false

    },
    addCouponArray(){
      this.couponArray.push({
        startCouponNo: '',
        endCouponNo: '',
        couponQuantity: 0,
        couponUnitPrice: 0,
        couponDiscount:0,
        couponSellType: 'A',
        couponTotalCharge:0,})
    },
    removeCouponArray(index) {
      this.couponArray.splice(index, 1)
    },
    addItemArray() {
      this.temporyItem.push({ category: 'sp', item: '', itemDiscount: 0, itemCredit: 1 })
    },
    addPlanArray() {
      this.temporyPlan.push({ category: 'sp', plan: '', planDiscount: 0, planCredit: 1 })
    },
    bodyCheckSelection(val) {
      // var dummyBodyCheckArray = this.temporyBodyCheck;
      // val.forEach((obj) => {
      //   var flag = 0;
      //   this.temporyBodyCheck.forEach((obj1) => {
      //     if(obj1.bodyCheckID == obj.bodyCheckID)
      //     flag = 1;
      //   })
      //   if(flag == 0)
      //   dummyBodyCheckArray.push(obj);
      // })
      this.temporyBodyCheck = val
      console.log(this.temporyBodyCheck)
    },
    confirmSelectPlan() {
      const dummyArray = []
      const dummyTotalAmount = []
      for (var i = 0; i < this.temporyPlan.length; i++) {
        const dummyObject = {}
        dummyObject.planDiscount = this.temporyPlan[i].planDiscount
        dummyObject.planCredit = this.temporyPlan[i].planCredit
        const dummyArray1 = this.temporyPlan[i].plan.split(',')
        dummyObject.planID = dummyArray1[0]
        dummyObject.planCode = dummyArray1[1]
        dummyObject.planPrice = dummyArray1[2]
        dummyObject.planTotalCharge = (parseFloat(dummyObject.planPrice) - dummyObject.planDiscount) * dummyObject.planCredit
        dummyObject.planAccountNo = ''
        dummyArray.push(dummyObject)
        dummyTotalAmount.push(dummyObject.planTotalCharge)
      }
      console.log(dummyArray)
      this.plan.list = dummyArray
      this.plan.total = dummyArray.length
      this.totalAmountObject.planTotalCharge = dummyTotalAmount
      this.modal.plan = false
    },
    confirmSelectItem() {
      const dummyArray = []
      const dummyTotalAmount = []
      for (var i = 0; i < this.temporyItem.length; i++) {
        const dummyObject = {}
        dummyObject.itemDiscount = this.temporyItem[i].itemDiscount
        dummyObject.itemCredit = this.temporyItem[i].itemCredit
        const dummyArray1 = this.temporyItem[i].item.split('-')
        dummyObject.itemID = dummyArray1[0]
        dummyObject.itemCode = dummyArray1[1]
        dummyObject.itemPrice = dummyArray1[2]
        dummyObject.itemTotalCharge = (parseFloat(dummyObject.itemPrice) - dummyObject.itemDiscount) * dummyObject.itemCredit
        dummyObject.itemAccountNo = ''
        dummyArray.push(dummyObject)
        dummyTotalAmount.push(dummyObject.itemTotalCharge)
      }
      this.item.list = dummyArray
      this.item.total = dummyArray.length
      this.totalAmountObject.itemTotalCharge = dummyTotalAmount
      this.modal.item = false
    },
    cancelSelectBodyCheck() {
      if(this.chosenNo)
      this.temporyBodyCheck = this.oddTemporyBodyCheck
      else
      this.temporyBodyCheck = []
      this.modal.bodyCheck = false
    },
    cancelSelectPlan() {
      if(this.chosenNo){
        this.temporyPlan = this.oddTemporyPlan
      }
      else
      this.temporyPlan = []
      this.modal.plan = false
    },
    cancelSelectItem() {
      if(this.chosenNo){
        this.temporyItem = this.oddTemporyItem
      }
      else
      this.temporyItem = []
      this.modal.item = false
    },
    confirmSelectBodyCheck() {
      const dummyTotalAmount = [];
      this.temporyBodyCheck.forEach(obj => {
        dummyTotalAmount.push(obj.bodyCheckTotalCharge)
      })
      this.totalAmountObject.bodyCheckTotalCharge = dummyTotalAmount;
      this.bodyCheck.list = this.temporyBodyCheck
      this.bodyCheck.total = this.temporyBodyCheck.length
      console.log(this.bodyCheck.list)
      this.modal.bodyCheck = false
    },
    removePlanArray(index){
      this.$confirm('This will permanently remove the chosen Plan. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.temporyPlan.splice(index,1)
        }).catch(() => {
      
        });
    },
    removeItemArray(index){
      this.$confirm('This will permanently remove the chosen Item. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.temporyItem.splice(index,1)
        }).catch(() => {
      
        });
    },
    createCorporateInvoice() {
      var dummyInvoiceNo = '';
      if(this.occupiedInvoiceNo!=""){
        dummyInvoiceNo = this.occupiedInvoiceNo
      }
      else{
        dummyInvoiceNo = null
      }
      if (this.chosenNo) {
        this.$confirm('Do you confirm to edit an Invoice to Corporate customer?', 'Edit Corporate Invoice', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'info'
        }).then(() => {
          var bodyCheck = this.convertArrayToObject(this.bodyCheck.list)
          bodyCheck.invoiceNo = undefined;
          const plan = this.convertArrayToObject(this.plan.list)
          const item = this.convertArrayToObject(this.item.list)
          this.$store.dispatch('editInvoice', { ...this.companyInvoice, invoiceNoType:'HMC',...bodyCheck, ...plan, ...item,invoiceID: this.chosenNo,invoiceNo:this.chosenInvoiceNo, staffID: this.staffID,issueDate:this.companyInvoice.issueDate,invoicePaymentOption:this.chosenPaymentOption }).then((json) => {
            this.$message({
              type: 'success',
              message: 'Successfully Created'
            })
            this.getInvoice()
            this.chosenNo = null
            this.bodyCheck = { total: 0, list: [] }
            this.plan = { total: 0, list: [] }
            this.item = { total: 0, list: [] }
            this.modal.company = false
            this.getCustomerList()
          })
        }).catch(() => {

        })
      } else {
        this.$confirm('Do you confirm to create an Invoice to Corporate customer?', 'Create Corporate Invoice', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'info'
        }).then(() => {
          var bodyCheck = this.convertArrayToObject(this.bodyCheck.list)
          console.log(bodyCheck)
          bodyCheck.invoiceNo = undefined;
          const plan = this.convertArrayToObject(this.plan.list)
          const item = this.convertArrayToObject(this.item.list)
          this.$store.dispatch('createInvoice', {...this.companyInvoice,invoiceNoType:'HMC', ...bodyCheck, ...plan, ...item,invoiceNo:null, staffID: this.staffID,issueDate:this.companyInvoice.issueDate,invoicePaymentOption:this.chosenPaymentOption,invoiceID:dummyInvoiceNo }).then((json) => {
            this.$message({
              type: 'success',
              message: 'Successfully Created'
            })
            localStorage.removeItem('companyInvoice')
            localStorage.removeItem('customerBodyCheckList')
            localStorage.removeItem('customerPlanList')
            localStorage.removeItem('customerTemporyPlan')
            localStorage.removeItem('customerItemList')
            localStorage.removeItem('customerTemporyItem')
            localStorage.removeItem('customerTemporyBodyCheck')
            this.modal.company = false
            this.getCustomerList()
            this.getInvoice()
          })
        }).catch((err) => {
          console.error(err)
        })
      }
    },
    createCouponInvoice() {
      var dummyInvoiceNo = '';
      if(this.occupiedInvoiceNo!=""){
        dummyInvoiceNo = this.occupiedInvoiceNo
      }
      else{
        dummyInvoiceNo = null
      }
      if(this.chosenNo){
        this.$confirm('確認修改Coupon invoice？').then(() => {
        const couponArray = this.convertArrayToObject(this.couponArray);
        this.$store.dispatch('editInvoice', { invoiceNoType:'HMC',...this.couponResult, ...this.couponInvoice,...couponArray, invoiceType: 'Coupon',invoiceID:this.chosenNo }).then((json) => {
          this.couponInvoice = {} // reset coupon
          this.couponResult = {
            invoiceTotalCharge: 0,
            invoiceDiscount: '0.0',
            invoiceNetTotal: 0,
            invoiceOutstanding: 0
          },
          this.modal.coupon = false
          this.chosenNo = null;
          this.getInvoice()
          this.$message({ message: this.$t('success.general'), type: 'success' })
        })
      })
      }
      else{
        this.$confirm('確認新增Coupon invoice？').then(() => {
        const couponArray = this.convertArrayToObject(this.couponArray);
        this.$store.dispatch('createInvoice', { invoiceNoType:'HMC',...this.couponResult, ...this.couponInvoice,...couponArray, invoiceType: 'Coupon',invoiceID:dummyInvoiceNo }).then((json) => {
          this.couponInvoice = {} // reset coupon
          this.couponResult = {
            invoiceTotalCharge: 0,
            invoiceDiscount: '0.0',
            invoiceNetTotal: 0,
            invoiceOutstanding: 0
          },
          
          this.modal.coupon = false
          this.chosenNo = null;
          this.getInvoice()
          this.$message({ message: this.$t('success.general'), type: 'success' })
        })
      })
      }
    },
    confirmAddDebit() {
      const dummyObject = this.payment
      if (parseFloat(this.payment.paymentValue) < this.chosenOutstanding) {
        dummyObject.fullPaid = 'N'
        dummyObject.outstanding = this.chosenOutstanding - parseFloat(this.payment.paymentValue)
      } else {
        dummyObject.fullPaid = 'Y'
        dummyObject.outstanding = 0
      }
      dummyObject.invoiceNo = this.invoiceNo
      dummyObject.invoiceID = this.chosenNo
      this.$store.dispatch('createDebit', dummyObject).then((json) => {
        this.$message({
          type: 'success',
          message: 'Successfully Created'
        })
        this.modal.addPayment = false
        this.chosenOutstanding = dummyObject.outstanding
        this.getDebitList()
        this.getInvoice()
        this.$emit("onRefresh");
      })
    },
    convertArrayToObject(a) {
      const dummyObject = {}
      a.forEach(obj => {
        Object.keys(obj).forEach(key => {
          dummyObject[key] = (dummyObject[key] || []).concat([obj[key]])
        })
      })
      return dummyObject
    },
    deleteInvoice(id) {
      this.$confirm('確認刪除？').then(() => {
        this.$store.dispatch('deleteInvoice', { invoiceID: id }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.getInvoice()
        })
      })
    },
    releaseInvoice(id,no) {
      this.$confirm(`確認釋出此invoice？此行動並不能復原。 invoiceNo:(${no})`).then(() => {
        this.$store.dispatch('releaseInvoice', { invoiceID: id }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.getInvoice()
        })
      })
    },
    deleteDebit(id) {
      this.$confirm('確認刪除？').then(() => {
        this.$store.dispatch('deleteDebit', { debitID: id }).then((json) => {
          this.$message({ message: this.$t('success.delete'), type: 'success' })
          this.getDebitList()
          this.getInvoice()
          this.$emit("onRefresh");
        })
      })
    },
    exportInvoice(id) {
      var FileSaver = require('file-saver')
      this.$store.dispatch('exportInvoice', { invoiceID: id })
        .then((json) => {
          var fileName = json.headers['content-disposition']
          console.log(fileName)
          fileName = fileName.split(' ').join('')
          fileName = fileName.split('attachment;filename=').join('').replace('"', '').replace('"', '')
          console.log(fileName)
          var blob = new Blob([json.data])
          FileSaver.saveAs(blob, fileName)
          this.getInvoice()
        })
    },
    exportCouponInvoice(id) {
      var FileSaver = require('file-saver')
      this.$store.dispatch('exportCouponInvoice', { invoiceID: id })
        .then((json) => {
          var fileName = json.headers['content-disposition']
          console.log(fileName)
          fileName = fileName.split(' ').join('')
          fileName = fileName.split('attachment;filename=').join('').replace('"', '').replace('"', '')
          console.log(fileName)
          var blob = new Blob([json.data])
          FileSaver.saveAs(blob, fileName)
          this.getInvoiceList()
        })
    },
    exportIndividualInvoice(id) {
      var FileSaver = require('file-saver')
      this.$store.dispatch('exportIndividualInvoice', { invoiceID: id })
        .then((json) => {
          var fileName = json.headers['content-disposition']
          console.log(fileName)
          fileName = fileName.split(' ').join('')
          fileName = fileName.split('attachment;filename=').join('').replace('"', '').replace('"', '')
          console.log(fileName)
          var blob = new Blob([json.data])
          FileSaver.saveAs(blob, fileName)
          this.getInvoice()
        })
    },
    downloadReceipt(id){
      var FileSaver = require('file-saver');
      this.$store.dispatch("downloadReceipt",{debitID:id})
      .then((json) => {
        var fileName = json.headers['content-disposition'];
          console.log(fileName)
        fileName = fileName.split(' ').join('');
        fileName = fileName.split('attachment;filename=').join('').replace("\"", "").replace("\"", "");
        console.log(fileName)
          var blob = new Blob([json.data])
          FileSaver.saveAs(blob,fileName)
      })
    },
    handleClose(done) {
      done()
    },
    handlePaymentClose(done) {
      done()
    },
    handleAddPaymentClose(done) {
      done()
    },
    handleCompanyClose(done) {
      done()
    },
    handleBodyCheckClose(done) {
      done()
    },
    handlePlanClose(done) {
      done()
    },
    handleItemClose(done) {
      done()
    },
    handleCouponClose(done) {
      done()
    },
    handleAddCouponClose(done) {
      done()
    },
    transformDateObject(date) {
      return moment(date).format('yyyy-MM-DD')
    },
    maskCreditCard(number) {
      var maskedNumber = ''
      if (number == '') { return maskedNumber } else {
        for (var i = 0; i < 16; i++) {
          if (i < 12) {
            maskedNumber = maskedNumber + '*'
          }
        }
        var substring = number.substring(12, 16)
        maskedNumber = maskedNumber + substring
        return maskedNumber
      }
    },
    getComma(arrayForm) {
      var newString = ''
      if(arrayForm!== null ){
        if(typeof(arrayForm) != 'string'){
          for(var i=0;i<arrayForm.length;i++){
            if(i==0){
              newString = newString + arrayForm[i]
            }
            else{
              newString = newString+' , ' + arrayForm[i]
            }
          }
        }
        else{
        newString = arrayForm
        }
      }

      return newString
      },
    saveForLater(){
      localStorage.companyInvoice = JSON.stringify(this.companyInvoice);
        localStorage.customerBodyCheckList = JSON.stringify(this.bodyCheckList);
        localStorage.customerPlanList = JSON.stringify(this.plan.list);
        localStorage.customerTemporyPlan = JSON.stringify(this.temporyPlan);
        localStorage.customerItemList = JSON.stringify(this.item.list);
        localStorage.customerTemporyItem = JSON.stringify(this.temporyItem);
        localStorage.customerTemporyBodyCheck = JSON.stringify(this.temporyBodyCheck);
        this.$notify({
        title:"Save Entry Successfully",
        message:"The data entry is saved",
        type:"success"
      })
    },
    checking() {
      if (this.chosenNo) {
        console.log(this.toggleBodyCheck)
        console.log(this.bodyCheckList)
        if (this.toggleBodyCheck.length != 0) {
          this.$refs.bodyCheckList.clearSelection()
          this.toggleBodyCheck.forEach((obj,i) => {
            this.bodyCheckList.forEach((obj1,j) => {
              if(obj.bodyCheckID == obj1.bodyCheckID){
                this.$refs.bodyCheckList.toggleRowSelection(this.bodyCheckList[j],true);
              }
            })
          })
        } else {
          this.$refs.bodyCheckList.clearSelection()
        }
      }
    },
    planMethod(query){
        let dummyArray = [];
          this.planloading = true;
          setTimeout(() => {
            this.planloading = false;
            if(query == ''){
              this.planOptions = this.allPlanOptions;
            }
            else{
              this.$store.dispatch('getPlanList', {search:query,searchType:'planCode',page:1,count:100,customerBased:'N',customerID:this.chosenGroupID}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
          if(json.list[i].discountPrice != 0 )
          {
            dummyObject.label = json.list[i].planCode+'-'+ json.list[i].enPlan +'-$'+json.list[i].discountPrice;
            dummyObject.value = json.list[i].planID+','+json.list[i].planCode +','+json.list[i].discountPrice
          }
          else
          {
            dummyObject.label = json.list[i].planCode+'-'+ json.list[i].enPlan +'-$'+json.list[i].planSpecialPrice;
            dummyObject.value = json.list[i].planID+','+json.list[i].planCode +','+json.list[i].planSpecialPrice
          }
          dummyArray.push(dummyObject)
            }
            this.planOptions = dummyArray;
          })
            }
          }, 500);
      },
      itemMethod(query) {
      let dummyArray = [];
          this.itemloading = true;
          setTimeout(() => {
            this.itemloading = false;
            if(query == ''){
              this.itemOptions = this.allItemOptions;
            }
            else{
              this.$store.dispatch('getItemList', {search:query,page:1,count:100}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
              if(json.list[i].discountPrice != 0  && json.list[i].discountPrice != undefined){
                dummyObject.label = json.list[i].itemCode+'-' + json.list[i].enItem +'-$'+json.list[i].discountPrice;
                dummyObject.value = json.list[i].itemID+'-'+json.list[i].itemCode +'-'+json.list[i].discountPrice
              }
              else{
                dummyObject.label = json.list[i].itemCode+'-' + json.list[i].enItem +'-$'+json.list[i].itemPrice;
                dummyObject.value = json.list[i].itemID+'-'+json.list[i].itemCode +'-'+json.list[i].itemPrice
              }
              dummyArray.push(dummyObject)
            }
            this.itemOptions = dummyArray;
          })
            }
          }, 500);
      },
      remoteMethod(query){
      let dummyArray = []
      if (query !== '') {
          this.loading = true;
          setTimeout(() => {
            this.loading = false;
            this.$store.dispatch('getCustomerList', {search:query,searchType:["enCustomerName","cnCustomerName"],customerType:["Corporate","Agent"],page:1,count:200}).then((json) => {
            for(var i=0;i<json.list.length;i++){
              let dummyObject = {};
              dummyObject.label=json.list[i].accountNo+'-'+json.list[i].enCustomerName  + '-' + json.list[i].cnCustomerName;
              dummyObject.value = json.list[i].customerID;
              dummyArray.push(dummyObject)
            }
            if(json.total>200){
              let loopTimes = parseInt(json.total/200);
              for(var j=0;j<loopTimes;j++){
                this.$store.dispatch('getCustomerList', {search:query,searchType:["enCustomerName","cnCustomerName"],customerType:["Corporate","Agent"],page:j+2,count:200}).then((json1) => {
                  for(var k=0;k<json1.list.length;k++){
                    let dummyObject2 = {};
                    dummyObject2.label = json1.list[k].accountNo +'-'+json1.list[k].enCustomerName  + '-' + json1.list[k].cnCustomerName;
                    dummyObject2.value = json1.list[k].customerID
                    dummyArray.push(dummyObject2)
                  }
                })
              }
            }
            this.customerOptions = dummyArray;
          })
          }, 1000);
        } else {
          this.customerOptions = this.allCustomerOptions;
        }
    },
    saveForLaterCorporate(){
        localStorage.companyInvoice = JSON.stringify(this.companyInvoice);
        localStorage.bodyCheckList = JSON.stringify(this.bodyCheckList);
        localStorage.planList = JSON.stringify(this.plan.list);
        localStorage.temporyPlan = JSON.stringify(this.temporyPlan);
        localStorage.itemList = JSON.stringify(this.item.list);
        localStorage.temporyItem = JSON.stringify(this.temporyItem);
        localStorage.temporyBodyCheck = JSON.stringify(this.temporyBodyCheck);
        this.$notify({
        title:"Save Entry Successfully",
        message:"The data entry is saved",
        type:"success"
      })
      },
      getGenderTranslate(sex){
      if(sex == 'F'){
        return this.$t("general.female")
      }
      else{
        return this.$t('general.male')
      }
      },
      getInvoiceTranslate(){
      if(this.chosenNo){
        return this.$t("invoice.editInvoice")
      }
      else{
        return this.$t('invoice.createInvoice')
      }
      },
      getInvoiceNoList(){
        this.$store.dispatch("getInvoiceNoList",{}).then((json) => {
          this.invoiceNoOptions = json.list.map((obj) => {
            return {
              label: obj.invoiceNo,
              value: obj.invoiceID
            }
          })
          if(this.invoiceNoOptions.length!=0){
            this.occupiedInvoiceNo = this.invoiceNoOptions[0].value
          }
        })
      }
  }
}
</script>
