<template>
<div>

  <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleClose" :visible.sync="show" width="70%" :show-close="false">
      <span slot="title" class="dialog-title">
        <span>{{$t('item.itemList')}} </span>
        <!-- <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addItemDialog"/> -->
      </span>
      <el-table :data="itemList" style="width: 100%" border  >
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('item.code')" prop="itemCode" sortable="custom"/>
      <el-table-column :label="$t('item.itemChinDesc')" prop="cnItem" sortable="custom"/>
      <el-table-column :label="$t('item.itemEngDesc')" prop="enItem" sortable="custom"/>
      <el-table-column :label="$t('item.topicCode')" prop="topicCode" sortable="custom"/>
      <el-table-column :label="$t('item.itemRemarks')" prop="itemRemarks" sortable="custom"/>
      <el-table-column :label="$t('item.itemCredit')" prop="itemCredit" sortable="custom"/>
      <!-- <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="showEditItemModal(scope.row.itemID)">{{ $t('general.edit') }}</el-dropdown-item>
              <el-dropdown-item @click.native="deleteItems(scope.row.itemID)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column> -->
    </el-table>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancel"> {{ $t('general.cancel') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleItemClose" :visible.sync="modal.addCompanyItem" width="50%" :show-close="false">
      <span slot="title" class="dialog-title">
        <span>{{$t('bodyCheck.addItem')}} </span>
        <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addItemArray"/>
      </span>
      <div v-for="(item,i) in chosenItem" >
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="16">
            <FITSelectElement v-model="item.item" :options="itemOptions" :width="18" :label="$t('bodyCheck.item')" />
            <el-row>
              <el-col :span="6">
              <label>{{$t('bodyCheck.discount')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="item.discount" />
            </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
              <label>{{$t('bodyCheck.quantity')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="item.quantity" type="number" />
            </el-col>
            </el-row>
          </el-col>
          <el-col :span="8">
            <el-button class="filter-item" type="danger" icon="el-icon-minus" style="margin-left:10px" @click="removeItemArray(i)"/>
          </el-col>
        </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.addCompanyItem = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="confirmAddItem"> {{ $t('item.createItem') }} </el-button>
      </span>
    </el-dialog>
</div>
</template>

<script>

import FITSelectElement from '@/components/FITSelectElement.vue'
import Pagination from '@/components/Pagination'

export default {
  name: 'Item',
  props: {
    customerID:{
      type:String
    },
    show:{
        type:Boolean,
        default:false,
      },
  },
  components:{
    FITSelectElement,
    Pagination
  },
  data() {
    return {
      itemList:[],
      modal:{
        addCompanyItem:false,
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      params: {
        count: 10,
        page: 1,
      },
      item:{
        code:"",
        itemChinDesc:"",
        itemEngDesc:"",
        remarks:"",
        topic:"",
      },
      chosenItem:[
        {itemCode:"",quantity:1,discount:""}
      ],
      itemOptions:[],
    }
  },
  created(){
    if(this.customerID){
      this.getItem();
    }
  },
  computed: {

  },
  methods: {
    cancel() {
      this.$emit('onCancel')
    },
    confirm() {
      this.$emit('onConfirm')
    },
    getItem(){
      this.$store.dispatch('viewItem', {customerID:this.customerID,...this.params}).then((json) => {
        this.itemList = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    addBodyCheck(){
      this.modal.createBodyCheck = true;
    },
    createItem(){

    },
    removeItemArray(i){
      this.$confirm('This will permanently delete the file. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
           this.chosenItem.splice(i,1)
          this.$message({
            type: 'success',
            message: 'Delete completed'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          });          
        });
    },
    addItemDialog(){
      this.modal.addCompanyItem = true
    },
    addItemArray(){
      this.chosenItem.push({itemCode:"",quantity:1,discount:""});
    },
    handleClose(done){
      done();
    },
    handleItemClose(done){
      done();
    },
    
  },
  watch:{
      customerID(val){
        this.getBodyCheck();
      },
      params:{
      handler(newValue, oldValue) {
        this.getItem()
      },
      deep: true
    }
    }
}
</script>
