<template>
<div>

  <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleClose" :visible.sync="show" width="70%" :show-close="false">
      <span slot="title" class="dialog-title">
        <span>{{$t('offer.offerList')}} </span>
        <!-- <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addPlanDialog"/> -->
      </span>
      <el-table :data="offerList" style="width: 100%" border  >
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('offer.offerNo')" prop="offerNo" sortable="custom"/>
      <el-table-column :label="$t('offer.offerStartDate')" prop="offerStartDate" sortable="custom"/>
      <el-table-column :label="$t('offer.offerEndDate')" prop="offerEndDate" sortable="custom"/>
      <el-table-column :label="$t('offer.offerDescription')" prop="description" sortable="custom"/>
      <el-table-column :label="$t('offer.offerMatchData')" prop="offerMatchData" sortable="custom"/>
      <el-table-column :label="$t('offer.offerSendType')" prop="offerSendType" sortable="custom"/>
      <el-table-column :label="$t('offer.offerMessage')" prop="offerMessage" sortable="custom"/>
    </el-table>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancel"> {{ $t('general.cancel') }} </el-button>
      </span>
    </el-dialog>
</div>
</template>

<script>

import FITSelectElement from '@/components/FITSelectElement.vue'
import Pagination from '@/components/Pagination'

export default {
  name: 'Plan',
  props: {
    customerID:{
      type:String
    },
    show:{
        type:Boolean,
        default:false,
      },
  },
  components:{
    FITSelectElement,
    Pagination
  },
  data() {
    return {
      offerList:[],
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      params: {
        count: 10,
        page: 1,
      },
      planOptions:[],
    }
  },
  created(){
    if(this.customerID){
      this.getPromotionOffer();
    }
  },
  computed: {

  },
  methods: {
    cancel() {
      this.$emit('onCancel')
    },
    confirm() {
      this.$emit('onConfirm')
    },
    getPromotionOffer(){
      this.$store.dispatch('viewOffer', {customerID:this.customerID,...this.params}).then((json) => {
        this.offerList = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    addBodyCheck(){
      this.modal.createBodyCheck = true;
    },
    addPlanDialog(){
      this.modal.addCompanyPlan = true
    },
    addPlanArray(){
      this.chosenPlan.push({planCode:"",quantity:1,discount:""});
    },
    confirmAddPlan(){
      
    },
    handleClose(done){
      done();
    },
    handlePlanClose(done){
      done();
    },
    
  },
  watch:{
      params:{
      handler(newValue, oldValue) {
        this.getPromotionOffer()
      },
      deep: true
    }
    }
}
</script>
