<template>
<div>

  <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handleClose" :visible.sync="show" width="70%" :show-close="false">
      <span slot="title" class="dialog-title">
        <span>{{$t('plan.planList')}} </span>
        <!-- <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addPlanDialog"/> -->
      </span>
      <el-table :data="planList" style="width: 100%" border  >
      <el-table-column type="selection" width="55"/>
      <el-table-column :label="$t('plan.code')" prop="planCode" sortable="custom"/>
      <el-table-column :label="$t('plan.planChinDesc')" prop="cnPlan" sortable="custom"/>
      <el-table-column :label="$t('plan.planEngDesc')" prop="enPlan" sortable="custom"/>
      <el-table-column :label="$t('plan.planCredit')" prop="planCredit" sortable="custom"/>
      <!-- <el-table-column :label="$t('general.actions')" fixed="right">
        <template slot-scope="scope">
          <el-dropdown trigger="click">
            <el-button type="primary">
              {{ $t('general.actions') }}<i class="el-icon-arrow-down el-icon--right"/>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="showEditPlanModal(scope.row.planCode)">{{ $t('general.edit') }}</el-dropdown-item>
              <el-dropdown-item @click.native="deletePlan(scope.row.planCode)">{{ $t('general.delete') }}</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </template>
      </el-table-column> -->
    </el-table>
    <pagination v-show="pagination.totalPages > 0" :total="pagination.totalRows" :page.sync="params.page" :limit.sync="params.count" />
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancel"> {{ $t('general.cancel') }} </el-button>
      </span>
    </el-dialog>

    <el-dialog :close-on-press-escape="false" :close-on-click-modal="false"   :before-close="handlePlanClose" :visible.sync="modal.addCompanyPlan" width="50%" :show-close="false">
      <span slot="title" class="dialog-title">
        <span>{{$t('bodyCheck.addPlan')}} </span>
        <el-button class="filter-item" type="success" icon="el-icon-plus" style="margin-left:10px" @click="addPlanArray"/>
      </span>
      <div v-for="(item,i) in chosenPlan" >
        <el-row type="flex" align="middle" :gutter="20">
          <el-col :span="16">
            <FITSelectElement v-model="item.planCode" :options="planOptions" :width="18" :label="$t('bodyCheck.plan')" />
            <el-row>
              <el-col :span="6">
              <label>{{$t('bodyCheck.discount')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="item.discount" />
            </el-col>
            </el-row>
            <el-row>
              <el-col :span="6">
              <label>{{$t('bodyCheck.quantity')}}</label>
            </el-col>
            <el-col :span="18">
              <el-input v-model="item.quantity" type="number" />
            </el-col>
            </el-row>
          </el-col>
          <el-col :span="8">
            <el-button class="filter-item" type="danger" icon="el-icon-minus" style="margin-left:10px" @click="removePlanArray(i)"/>
          </el-col>
        </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="modal.addCompanyPlan = false"> {{ $t('general.cancel') }} </el-button>
        <el-button type="primary" @click="confirmAddPlan"> {{ $t('plan.createPlan') }} </el-button>
      </span>
    </el-dialog>
</div>
</template>

<script>

import FITSelectElement from '@/components/FITSelectElement.vue'
import Pagination from '@/components/Pagination'

export default {
  name: 'Plan',
  props: {
    customerID:{
      type:String
    },
    show:{
        type:Boolean,
        default:false,
      },
  },
  components:{
    FITSelectElement,
    Pagination
  },
  data() {
    return {
      planList:[],
      modal:{
        addCompanyPlan:false,
      },
      pagination: {
        totalPages: 1,
        totalRows: 0
      },
      params: {
        count: 10,
        page: 1,
      },
      item:{
        code:"",
        itemChinDesc:"",
        itemEngDesc:"",
        remarks:"",
        topic:"",
      },
      chosenPlan:[
        {planCode:"",quantity:1,discount:""}
      ],
      planOptions:[],
    }
  },
  created(){
    if(this.customerID){
      this.getPlan();
    }
    this.getPlanList();
  },
  computed: {

  },
  methods: {
    cancel() {
      this.$emit('onCancel')
    },
    confirm() {
      this.$emit('onConfirm')
    },
    getPlan(){
      this.$store.dispatch('viewPlan', {customerID:this.customerID,customerType:"Corporate",...this.params}).then((json) => {
        this.planList = json.list
        this.pagination.totalRows = parseInt(json.total)
        this.pagination.totalPages = Math.ceil(json.total / this.params.count)
      })
    },
    getPlanList(){
      let dummyArray = [];
      this.$store.dispatch('getPlanList', {}).then((json) => {
        for(var i=0;i<json.list.length;i++){
          let dummyObject = {};
          dummyObject.label = json.list[i].planCode+'-'+json.list[i].cnPlan +'-$'+json.list[i].planPrice;
          dummyObject.value = json.list[i].planID+'-'+json.list[i].planCode +'-'+json.list[i].planPrice;
          dummyArray.push(dummyObject)
        }
        this.planOptions = dummyArray;
      })
    },
    addBodyCheck(){
      this.modal.createBodyCheck = true;
    },
    createPlan(){

    },
    removePlanArray(i){
      this.$confirm('This will permanently delete the file. Continue?', 'Warning', {
          confirmButtonText: 'OK',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
           this.chosenPlan.splice(i,1)
          this.$message({
            type: 'success',
            message: 'Delete completed'
          });
        }).catch(() => {
          this.$message({
            type: 'info',
            message: 'Delete canceled'
          });          
        });
    },
    addPlanDialog(){
      this.modal.addCompanyPlan = true
    },
    addPlanArray(){
      this.chosenPlan.push({planCode:"",quantity:1,discount:""});
    },
    confirmAddPlan(){
      
    },
    handleClose(done){
      done();
    },
    handlePlanClose(done){
      done();
    },
    
  },
  watch:{
      customerID(val){
        this.getBodyCheck();
      },
      params:{
      handler(newValue, oldValue) {
        this.getPlan()
      },
      deep: true
    }
    }
}
</script>
